.vagrant/*
/build
/Vendor
/Plugin
Berksfile
Berksfile.lock
/app/tmp/cache/*
/app/tmp/logs/*
/app/tmp/pear/*
/app/tmp/sessions/*
/app/tmp/tests/*
/app/tmp/update_check/*
/app/tmp/xprof/*
/app/webroot/upload/*
/app/Config/database_local.php
/app/webroot/files
.project
.buildpath
junit.xml
.DS_Store
composer.lock
# PhpStorm設定ファイルを除外
# ただし、プロジェクト内で共通の設定を適用すべきファイルはバージョン管理対象にする
/.idea/workspace.xml
/.idea/dataSources.ids
/.idea/vagrant.xml
/.idea/watcherTasks.xml
/.idea/inspectionProfiles
!/.idea/inspectionProfiles/Project_Default.xml
/.idea/dataSources.local.xml
# for npm, Grunt-past
/Grunt-past
/Grunt-past/less/
/Grunt-past/node_modules
/Grunt-past/dest
/node_modules
npm-debug.log

/app/webroot/dest
/app/webroot/less/sample.less
/app/webroot/coffee/sample.coffee
/app/webroot/js/src
/app/webroot/js/cat

# Copied for min files
/app/webroot/css/goalous.min.css
/app/webroot/js/goalous.min.js
# Docs of CSS & JS
/docs/docco
/docs/styledocco