.vagrant/*
/build
/Vendor
/Plugin
Berksfile
Berksfile.lock
/app/tmp/attached_file/*
/app/tmp/cache/*
/app/tmp/logs/*
/app/tmp/pear/*
/app/tmp/sessions/*
/app/tmp/tests/*
/app/tmp/update_check/*
/app/tmp/xprof/*
/app/webroot/upload/*
/app/Config/database_local.php
/app/webroot/files
.project
.buildpath
junit.xml
.DS_Store
# PhpStorm設定ファイルを除外
# ただし、プロジェクト内で共通の設定を適用すべきファイルはバージョン管理対象にする
/.idea
# for npm
/node_modules
npm-debug.log
# for Gulp
/app/webroot/dest
# for bower
/bower_components
# Docs of CSS & JS
/docs/docco
/docs/styledocco
/docs/grunt
/docs/frontend
/docs/index.html
/docs/css/*.html
/docs/js
/docs/local/docs.min.css
/index.html
# for dest files of a less and coffee maps
/app/webroot/css/goalous.css.map
/app/webroot/js/*.js.map
/app/webroot/css/goalous.min.css
/app/webroot/js/goalous.min.js
/app/webroot/js/goalous.prerender.min.js
/app/webroot/js/ng_app.min.js
/app/webroot/js/ng_vendors.min.js
/app/webroot/js/ng_controller.js
/app/webroot/js/react_app.min.js
/app/webroot/js/react_signup_app.min.js
/app/webroot/js/react_goal_create_app.min.js
/app/webroot/js/vendors.min.js
/app/webroot/css/release.css
/app/webroot/css/release.min.css
# for Translation | 翻訳関連
/app/Locale/**/*.pot
