[submodule "cookbooks"]
	path = cookbooks
	url = git@github.com:IsaoCorp/vagrant-opsworks-cookbooks.git



[submodule "scripts"]
	path = scripts
	url = git@github.com:IsaoCorp/goalous_scripts.git
[submodule "docs/api"]
	path = docs/api
	url = git@github.com:IsaoCorp/goalous-swagger.git
