.vagrant/*
/build
/Vendor
/Plugin
Berksfile
Berksfile.lock
/app/tmp/cache/*
/app/tmp/logs/*
/app/tmp/pear/*
/app/tmp/sessions/*
/app/tmp/tests/*
/app/tmp/update_check/*
/app/tmp/xprof/*
/app/webroot/upload/*
/app/Config/database_local.php
/app/webroot/files
.project
.buildpath
junit.xml
.DS_Store
composer.lock
# PhpStorm設定ファイルを除外
# ただし、プロジェクト内で共通の設定を適用すべきファイルはバージョン管理対象にする
/.idea/workspace.xml
/.idea/dataSources.ids
/.idea/vagrant.xml
/.idea/watcherTasks.xml
/.idea/inspectionProfiles
!/.idea/inspectionProfiles/Project_Default.xml
/.idea/dataSources.local.xml
/.idea/jsLibraryMappings.xml
# for npm
/node_modules
npm-debug.log
# for Grunt
/app/webroot/dest
# Docs of CSS & JS
/docs/docco
/docs/styledocco
/docs/grunt
/docs/frontend
/docs/index.html
# for dest files of a less and coffee maps
/app/webroot/css/goalous.css.map
/app/webroot/js/*.js.map
