<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">{{ "VISION_DELETE_MODAL.CONFIRMATION_TITLE" | translate: {title: vision_title} }}</h4>
</div>
<div class="modal-body">
    <p>{{ "VISION_DELETE_MODAL.CONFIRMATION_MSG" | translate: {body: vision_body} }}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-sm" ng-click="ok()">{{ "VISION_DELETE_MODAL.DELETE" | translate }}</button>
</div>
