<?php
/**
 * This file is defines for local.
 * If you want to enable this file,
 * 1. Copy from this file `extra_defines_local.php.sample` as `extra_defines_local.php`
 * 2. Fix define value follow your local setting
 */
$definesForLocal = [
    //For local S3 user name
    //https://confluence.goalous.com/x/agMQAQ
    'AWS_S3_BUCKET_USERNAME'                        => 'damasa',
    'ES_API_BASE_URL'                               => 'search:5000'
];
