.none {
  display: none;
}

.inline-block {
  display: inline-block;
}

/*キャンセルボタンのデザイン*/
// TODO: Remove `!important`
.design-cancel {
  border: 1px solid #ccc !important;
  background-color: #f0f0f0 !important;
  background-image: none !important;
  color: #777 !important;
}

.design-cancel:target,
.design-cancel:hover {
  border: 1px solid #aaa !important;
  background-color: #f0f0f0 !important;
  background-image: none !important;
  color: #231814 !important;
  text-decoration: none !important;
}
