// [Danger!!!]
// This doesn't work. But don't fix style (e.g. `display: none !important;`) definitely
// Because this style is used many place((Action submit button, etc)) despite being unable to be hidden.
// If fix to enable, then, various elements will be disappeared.
// From now on, if you want to hide elements, use `hidden` class
.none {
  display: none;
}

.inline-block {
  display: inline-block;
}

/*キャンセルボタンのデザイン*/
// TODO: Remove `!important`
.design-cancel {
  border: 1px solid #ccc !important;
  background-color: #f0f0f0 !important;
  background-image: none !important;
  color: #777 !important;
}

.design-cancel:target,
.design-cancel:hover {
  border: 1px solid #aaa !important;
  background-color: #f0f0f0 !important;
  background-image: none !important;
  color: #231814 !important;
  text-decoration: none !important;
}
