@media (min-width: 768px) {
    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%
    }

    .nav-tabs.nav-justified > li > a {
        margin-bottom: 0
    }

    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0
    }

    .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover {
        border-bottom-color: #fcfcfc
    }

    .nav-justified > li {
        display: table-cell;
        width: 1%
    }

    .nav-justified > li > a {
        margin-bottom: 0
    }

    .nav-tabs-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0
    }

    .nav-tabs-justified > .active > a, .nav-tabs-justified > .active > a:focus, .nav-tabs-justified > .active > a:hover {
        border-bottom-color: #fcfcfc
    }

    .navbar {
        border-radius: 4px
    }

    .navbar-header {
        float: left
    }

    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important
    }

    .navbar-collapse.in {
        overflow-y: visible
    }

    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {
        padding-left: 0;
        padding-right: 0
    }

    .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
        margin-right: 0;
        margin-left: 0
    }

    .navbar-static-top {
        border-radius: 0
    }

    .navbar-fixed-bottom, .navbar-fixed-top {
        border-radius: 0
    }

    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: -15px
    }

    .navbar-nav {
        float: left;
        margin: 0
    }

    .navbar-nav > li {
        float: left
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px
    }

    .navbar-nav.navbar-right:last-child {
        margin-right: -15px
    }

    .navbar-left {
        float: left !important
    }

    .navbar-right {
        float: right !important
    }

    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle
    }

    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle
    }

    .navbar-form .input-group > .form-control {
        width: 100%
    }

    .navbar-form .control-label {
        margin-bottom: 0;
        vertical-align: middle
    }

    .navbar-form .checkbox, .navbar-form .radio {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        vertical-align: middle
    }

    .navbar-form .checkbox input[type=checkbox], .navbar-form .radio input[type=radio] {
        float: none;
        margin-left: 0
    }

    .navbar-form .has-feedback .form-control-feedback {
        top: 0
    }

    .navbar-form {
        width: auto;
        border: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .navbar-form.navbar-right:last-child {
        margin-right: -15px
    }

    .navbar-text {
        float: left;
        margin-left: 15px;
        margin-right: 15px
    }

    .navbar-text.navbar-right:last-child {
        margin-right: 0
    }

    .navbar-offcanvas {
        width: auto;
    }

    /*Small*/
    /*Pluginの修正なので、階層構造を使わない形に書き換え予定*/
    .navbar-default .navbar-nav > li > a {
        width: 56px;
        padding-left: 10px;
        padding: 9px 0 0;
    }

    .nav > li > a.active {
        text-decoration: none;
        background-color: #ddd;
    }

    .nav-search {
        width: 160px;
    }

    .nav-search {
        width: 70% !important;
    }

    .nav-search-form-group {
        width: 170px;
    }

    .nav-search-button-group {
        width: 25%;
    }

    .nav-search-result {
        left: 20%;
        width: 300px;
    }

    .nav-form-icon {
        margin-left: 0;
    }

    .navbar-form .form-group {
        margin-bottom: 5px
    }

}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #333
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #d9230f;
        background-color: transparent
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover {
        color: #444;
        background-color: transparent
    }

    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none
    }

    .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a {
        padding: 5px 15px 5px 25px
    }

    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px
    }

    .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-nav .open .dropdown-menu > li > a:hover {
        background-image: none
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #a91b0c
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #a91b0c
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #fff
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #fac0ba;
        background-color: transparent
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover {
        color: #ccc;
        background-color: transparent
    }
}

/*Medium*/
@media (min-width: 992px) {

    .nav-search {
        width: 200px;
    }

    .navbar-nav > li > .header-logo {
        padding-left: 10px;
    }

    .navbar-nav > li > .header-goal,
    .navbar-nav > li > .header-team {
        padding-left: 10px;
    }

    .nav-search {
        width: 80% !important;
    }

    .nav-search-form-group {
        width: 220px;
    }

    .nav-search-button-group {
        width: 20%;
    }
}
