/*=== normalize bootstrap ===*/
[class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.navbar-toggle {
    margin-top: 6px;
    margin-right: 0;
}

.dropdown-menu li a {
    color: #231814;
}

.panel-body {
    padding: 10px 11px;
}

.form-group {
    margin-bottom: 3px;
}

.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

/*==/ normalize bootstrap ===*/

/*=== normalize select2 3.5.1 ===*/
/* 共通設定 */
.select2-search-field {
    background: #fff;
}

/*/共通設定 */
/* 共有範囲設定 */
/*/共有範囲設定 */

.select2-drop {
    background: #fff;
}

.select2-results {
    max-height: 123px;
}

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
    background: #fff;
    color: #a00;
    border-top: solid 1px rgba(160, 0, 0, .2);
    padding-top: 2px;
}

.select2-results .select2-result-label {
    height: 21px;
}

.select2-container-multi .select2-choices {
    min-height: 24px;
}

.select2-container-multi .select2-choices .select2-search-choice {
    height: 18px;
    margin-top: 0;
    margin-right: 5px;
    margin-bottom: 3px;
    margin-left: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}

.select2-item-img {
    display: inline-block;
    line-height: 1px;
    vertical-align: baseline;
}

.select2-item-txt {
    display: inline-block;
    font-size: 11px;
    margin-left: -1px;
    height: 14px;
    line-height: 1px;
    vertical-align: text-bottom;
    margin-bottom: -3px;
}

.select2-container-multi .select2-search-choice-close {
    display: inline-block;
    line-height: 13px;
    vertical-align: middle;
    width: 13px;
    height: 13px;
    margin-top: -6px;
    border-radius: 50%;
    background-color: #ccc;
    text-decoration: none;
    left: auto;
    right: 4px;
}

.select2-search-choice-close:hover {
    background-color: #999;
    text-decoration: none;
}

.select2-container-multi .select2-choices .select2-search-choice {
    padding-right: 20px;
    padding-left: 7px;
    border-radius: 12px;
    height: 20px;
}

.select2-choices li div {
    line-height: 18px;
    height: 18px;
}

.select2-container-multi .select2-choices .select2-search-field input {
    height: 24px;
}

/* リファクター後 */

.select2PostCircleMember .select2-choices .select2-search-choice{
    margin-top: 1px;
}

.select2Member .select2-choices .select2-search-choice{
    margin-top:3px;
    margin-left: 3px;
}

/*==/ normalize select2 3.5.1 ===*/

body {
    background: #e5e5e5;
    padding: 58px 0 0;
}

img {
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin: 2em 0;
}

footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

footer p {
    clear: left;
    margin-bottom: 0;
}

/*=== 全体的な設定 ===*/
.container {
    width: 93.75%;
    padding-left: 0;
    padding-right: 0;
}

.mt_5px {
    margin-top: 4px;
}

.mt_8px{
    margin-top: 8px;
}

.mt_16px {
    margin-top: 16px;
}
.mt_32px{
    margin-top: 32px;
}
.mr_5px {
    margin-right: 5px;
}

.ml_2px {
    margin-left: 2px;
}

.ml_5px {
    margin-left: 5px;
}

.ml_12px {
    margin-left: 12px;
}

.ml_16px {
    margin-left: 16px;
}

.mb-pb_5px {
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.mb_32px{
    margin-bottom: 32px;
}

.plr_4px {
    padding-right: 4px;
    padding-left: 4px;
}

.plr_5px {
    padding-left: 5px;
    padding-right: 5px;
}

.plr_18px {
    padding-left: 18px;
    padding-right: 18px;
}

.pt_1px {
    padding-top: 1px;
}

.pr_5px {
    padding-right: 5px;
}

.pb_2px {
    padding-bottom: 2px;
}

.pl_5px {
    padding-left: 5px;
}

/*行数の指定*/
/*noinspection CssUnknownProperty*/
.line-numbers {
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-box;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -ms-box-orient: vertical;
}

.ln_1 {
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -moz-line-clamp: 1;
    -o-line-clamp: 1;
    -ms-line-clamp: 1;
}

.ln_2 {
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -o-line-clamp: 2;
    -ms-line-clamp: 2;
}

/*/行数の指定*/

/*position*/
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

/*/position*/

/*Fontの指定*/
.font_11px {
    font-size: 11px;
}

.font_12px {
    font-size: 12px;
}

.font_14px {
    font-size: 14px;
}

.font_18px {
    font-size: 18px;
}

.font_33px {
    font-size: 33px;
}

.font_bold {
    font-weight: bold;
}

.font_normal {
    font-weight: normal;
}

.font_lightgray {
    color: #9197a3;
}

.font_lightgray:hover {
    color: #9197a3;
}

.font_verydark {
    color: #231814;
}

.font-dimgray {
    color: #696969;
}

.font_verydark-white{
    color: #231814;
}
.font_verydark-white:hover,
.font_verydark-white:active,
.font_verydark-white:target{
    color: #fff;
}

.font_gray{
    color: #808080;
}

.font_gargoyleGray, .font_gargoyleGray-gray{
    color: #404040
}

.font_gargoyleGray-gray:hover,
.font_gargoyleGray-gray:active,
.font_gargoyleGray-gray:target{
    color: #808080;
}

.font_gray-rougeOrange {
    color: #808080;
}

.font_gray-rougeOrange:hover,
.font_gray-rougeOrange:active,
.font_gray-rougeOrange:focus {
    color: #ea5e5b;
}

.font_rougeOrange {
    color: #ea5e5b;
}

.font_rougeOrange:hover,
.font_rougeOrange:active,
.font_rougeOrange:focus {
    color: #ea5e5b;
}

.font_lightRed-darkRed {
    color: #d1bab8;
}

.font_lightRed-darkRed:hover,
.font_lightRed-darkRed:hover,
.font_lightRed-darkRed:hover {
    color: #91170a;
}

.font_heavyGray {
    color: #505050;
}

.font_lightGray-gray {
    color: #aaa;
}

.font_lightGray-gray:hover,
.font_lightGray-gray:active,
.font_lightGray-gray:focus {
    color: #666;
}

.link-dark-gray {
    color: #808080;
}

.link-dark-gray:hover,
.link-dark-gray:active,
.link-dark-gray:focus {
    color: #505050;
    text-decoration-color: #505050;
}

.develop--link-gray a {
    color: #c1c4c7;
}

.develop--link-gray a:hover,
.develop--link-gray a:target,
.develop--link-gray a:active {
    color: #b4b8bf;

}

.no-line {
    text-decoration: none !important;
    color: #231814;
}

.no-line:link,
.no-line:active,
.no-line:hover,
.no-line:visited {
    text-decoration: none !important;
}

/*/fontの設定*/

/*== Modal Settings ==*/
.modal-label {
    padding-right: 12px;
    text-align: right;
}

/*=/ Modal Settings ==*/

.form-label {
    padding-right: 12px;
}

/*==/ 全体的な設定 ===*/

/*==/ モジュール ===*/

/*アイコンを揃える*/
.line-height_20px {
    line-height: 20px;
    vertical-align: middle;
}

/*/アイコンを揃える*/

/* ボーダー */
.bd-b {
    border-bottom: 1px solid #f0f0f0;
}

.bd-circle {
    border-radius: 50%;
}

.bd-circle_20 {
    border-radius: 20% / 50%;
}

.bd-radius_4px {
    border-radius: 4px;
}

.bd-radius_4px:hover,
.bd-radius_4px:active,
.bd-radius_4px:target {
    border-radius: 4px;
}

.shadow-default{
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    -o-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    -ms-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

/*/  */

/*切り替えスイッチ*/
.switch-post, .switch-action, .switch-badge {
    position: relative;
}

.switch-arrow {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    /*noinspection CssOverwrittenProperties*/
    border-bottom: 10px solid #fff;
    position: absolute;
    left: 10px;
    bottom: -12px;
    z-index: 2;
    visibility: hidden;
}

.active .switch-arrow {
    visibility: visible;
}

/*/切り替えスイッチ*/

/*==/ モジュール ===*/

/*=== headerの設定 ===*/

.header_icon-text {
    margin: 0;
}

.navbar {
    margin: 0;
    max-height: 48px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
}

.nav-team-select,
.nav-search {
    height: 28px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 0;
}

.nav-form-group input {
    padding-left: 27px;
}

.nav-form-group {
    position: relative;
    padding: 10px 0;
}

/*noinspection ALL*/
.nav-form-group i {
    position: absolute;
    font-size: 15px !important;
    padding: 7px 7px;
    pointer-events: none;
}

.nav-icons > a {
    float: left;
    font-size: 20px;
    padding: 10px 10px;
    color: #000000;
}

.nav-icons > .dropdown > a {
    float: left;
    font-size: 20px;
    padding: 10px 10px;
    color: #000000;
}

.nav-icons .header-home {
    font-size: 12px;
    line-height: 30px;
    margin-right: 10px;
    color: #808080;
}

/*==/ headerの設定 ===*/

/*早めに整理する*/
.btn-followCollabo {
    padding: 8px;
}

/*/早めに整理する*/

.panel-default > .panel-heading {
    background-color: #fff;
    padding: 10px 11px;
}

.design-mystatus {
    background: #fff;
    border: solid 1px #ddd;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.design-goal {
    background: #fff;
    border: solid 1px #ddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.site-info {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    padding: 9px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    color: #231814;
}

.site-info-txt:hover,
.site-info-txt:target,
.site-info-txt:active {
    color: #231814;
}

.media-heading {
    margin-bottom: 3px;
}

.media-url {
    margin-bottom: 3px;
}

.media-url:hover {
    color: #231814;
}

/*幅指定*/
.width100_per {
    width: 100%;
}

/*/幅指定*/

.modal-content > .modal-header > .close-design {
    width: 33px;
    height: 33px;
}

.close-icon {
    height: 33px;
    line-height: 19px;
    vertical-align: top;
}

.liked {
    color: #e78e99;
}

.liked:hover {
    color: #e78e99;
}

.gl-feed-text a {
    color: #ddd;
}

.gl-comment-contents a {
    color: #c5c5c5;
}

.gl-feed-text a:hover,
.gl-feed-text a:hover,
.gl-feed-text a:hover,
.gl-comment-contents a:hover,
.gl-comment-contents a:hover,
.gl-comment-contents a:hover {
    color: #91170a;
}

.gl-comment-contents .comment-add-pic {
    color: #d9230f;
}

.zeroclipboard-is-hover {
    color: #fff !important;
    background: #d9230f !important;
}

.gl-feed-arrow,
.gl-comment-arrow,
.gl-commetn-cross {
    vertical-align: top;
}

.gl-comment-user {
    height: 12px;
    margin-bottom: 2px;
}

.gl-comment-user > .pull-right {
    height: 12px;
    padding-bottom: 2px;
    margin-bottom: 2px;
}

.circle-link {
    position: absolute;
    padding: 4px 0;
    width: 92%;
}

.circle-link:hover {
    background: #d5d5d5;
}

.required label:after {
    color: #E00;
    content: " *";
}

.help-block {
    margin-top: 2px;
    margin-bottom: 5px;
}

.jumbotron-icon .fa-2 {
    font-size: 2em;
}

.jumbotron-icon .fa-3 {
    font-size: 4em;
}

.jumbotron-icon .fa-4 {
    font-size: 7em;
}

.jumbotron-icon .fa-5 {
    font-size: 12em;
}

.jumbotron-icon .fa-6 {
    font-size: 20em;
}

.color-blue {
    color: #2E8DEF;
}

.feed-share-range .col {
    padding-left: 0;
}

/*inlineのフォームでスマホでも幅を固定する*/
.gl-inline-fix {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.gl-me-menu-image {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.gl-me-menu-image > img {
    width: 26px;
    height: 26px;
}

.gl-hamburger {
    float: left !important;
    margin-left: 0;
}

/* インラインで非表示にする */
@media screen and (max-width: 768px) {
    .visible-xs-inline {
        display: inline-block !important;
    }
}

@media screen and (min-width: 768px) {
    .visible-xs-inline {
        display: none !important;
    }
}

.left-inner-addon {
    position: relative;
}

.header-link-home {
    line-height: 9px;
}

.left-inner-addon input {
    padding-left: 30px;
}

/*noinspection ALL*/
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-right: 30px;
}

/*noinspection ALL*/
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.gl-navbar-nav-fix {
    float: left;
    margin: 0;
    list-style: none;
}

/* Offcanvasのサイズを独自に定義 */
.navbar-offcanvas {
    width: 200px;
}

@media (min-width: 768px) {
    .navbar-offcanvas {
        width: auto;
    }
}

.navbar-nav i {
    font-size: 20px;
}

.navbar-nav > li > a {
    padding-top: 9px;
    padding-bottom: 9px;
}

.navbar i {
    color: dimgray;
}

@media (min-width: 768px) {
    .gl-nav-container {
        padding-left: 0;
        padding-right: 0;
    }
}

.gl-sidebar-setting {
    position: fixed;
    top: 50px;
}

.gl-sidebar-setting .nav > .active > a, .gl-sidebar-setting .nav > .active:hover > a, .gl-sidebar-setting .nav > .active:focus > a {
    padding-left: 18px;
    font-weight: 700;
    color: #563d7c;
    background-color: transparent;
    border-left: 2px solid #563d7c;
}

.gl-sections > div {
    padding-top: 50px;
    margin-top: -50px;
}

ul.example-indent {
    list-style-type: none;
    padding-left: 25px;
}

.example-indent li {
    text-indent: -1.8em;
}

.global-form .panel-heading {
    border-bottom: none;
}

.global-form .panel-footer {
    border-top: none;
}

.gl-feed {
    padding: 10px 11px;
}

.feed-share-range {
    background: #e5e5e5;
    border: none;
    box-shadow: none;
}

.feed-share-range .panel-body {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 3px;
}

.gl-feed-user {
    padding: 0;
}

.gl-feed-img {
    display: block;
    float: left;
    height: 40px;
    width: 40px;
    margin-right: 8px;
}

.gl-feed-text {
    padding: 10px 0 0 0;
}

.gl-feed-picture {
    padding: 10px 0 0 0;
}

.gl-feed-site-link {
    padding: 10px 0 0 0;
}

.gl-feed-edit {
    padding: 0;
}

.gl-feed-edit-form {
    padding-top: 10px;
}

.gl-feed-click {
    padding: 10px 0 0 0;
}

.gl-comment-block {
    padding: 9px 11px 10px;
    border-top: 1px solid #dddddd;
    background-color: #f5f5f5;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.gl-comment-contents {
    padding: 0;
    word-wrap: break-word;
}

.gl-comment-img {
    display: block;
    float: left;
    height: 32px;
    width: 32px;
    margin-right: 8px;
}

.gl-comment-body {
    margin-left: 40px;
    margin-bottom: 4px;
    vertical-align: text-top;
}

.gl-comment-main {
    padding: 4px 0 0 0;
}

.gl-comment-text {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 2px;
    padding-left: 0;
    line-height: 18px;
    margin-right: -1px;
    margin-left: -1px;
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0);
}

.gl-comment-photo {
    padding: 0;
    margin: 5px 0 7px;
}

.gl-modal-comment {
    margin: 0;
}

.click-comment-all {
    padding: 0 0 4px 0;
    font-size: 12px;
}

.gl-form-inline-fix .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.gl-form-inline-fix .form-control {
    display: inline-block;
    width: auto;
}

.gl-form-inline-fix .input-group > .form-control {
    width: 100%;
}

.gl-form-inline-fix .control-label {
    margin-bottom: 0;
    vertical-align: middle;
}

.gl-form-inline-fix .radio,
.gl-form-inline-fix .checkbox {
    display: inline-block;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
}

.gl-form-inline-fix .radio input[type="radio"],
.gl-form-inline-fix .checkbox input[type="checkbox"] {
    float: none;
    margin-left: 0;
}

.gl-form-inline-fix .has-feedback .form-control-feedback {
    top: 0;
}

.panel-read-more-body {
    padding: 0;
    width: 100%;
    height: 100%;
    line-height: 38px;
    text-align: center;
}

.feed-read-more {
    margin-top: 20px;
    background: #f4edf2;
    border: 1px solid #ddd;
    border-radius: 0;
    height: 40px;
}

.click-feed-read-more {
    color: #b36e6f;
    width: 100%;
    height: 100%;
}

.gl-feed-text .btn-link {
    color: #ddd;
}

.gl-comment-text .btn-link {
    color: #c5c5c5;
}

.gl-thumb-container {
    margin: 0 0 0 0;
}

.showmore {
    word-wrap: break-word;
}

ul.gl-input-images {
    list-style: none;
    padding-left: 0;
}

ul.gl-input-images > li {
    float: left;
    margin-right: 3px;
}

.custom-check {
    margin: 0;
}

.gl-custom-wrapper > .checkbox {
    min-height: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.gl-no-margin {
    margin: 0;
}

.panel {
    margin-bottom: 10px;
}

/*レイアウトの指定*/
.layout-main {
    padding: 0;
}

.layout-sub {
    padding: 0;
}

.layout-goal {
    padding: 0;
}

.layout-header_right {
    padding: 0;
}

.layout-circle-humbarger {
    width: 199px;
    padding: 9px 10px;
}

/*/レイアウトの指定*/

/*プロフィール入力画面*/
.add-profile hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile-radio-label {
    padding-top: 6px !important;
}

.profile-radio-inline {
    padding-top: 4px !important;
}

/*/プロフィール入力画面*/

/*タブで切り替え*/

.gl-feed-switch {
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

.gl-feed-switch li {
    font-size: 12px;
    float: left;
    text-align: center;
    margin-right: 12px;
    height: 20px;
}

.gl-feed-switch a {
    line-height: 14px;
    vertical-align: baseline;
    color: #999;
}

.gl-feed-switch .active a {
    color: #231814 !important;
    font-weight: bold;
}

.gl-feed-switch .active i {
    color: #231814 !important;
    font-weight: bold;
}

.gl-feed-switch i {
    padding-right: 2px;
    line-height: 14px;
    vertical-align: baseline;
}

.switch-post {
    width: 44px;
}

.switch-action {
    width: 76px;
}

.switch-badge {
    width: 52px
}

.switch-post:hover a,
.switch-action:hover a,
.switch-badge:hover a {
    color: #333;
}

.switch-post-anchor,
.switch-action-anchor,
.switch-badge-anchor,
.switch-post-anchor:hover,
.switch-action-anchor:hover,
.switch-badge-anchor:hover {
    text-decoration: none;
}

/*/タブで切り替え*/

/*メニューなどの▲マーク*/
.frame-arrow-icon {
    top: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border: 1px solid #ccc;
}

.frame-arrow-pic {
    top: 98%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border: 1px solid #ccc;
}

.frame-arrow-icon::before {
    content: "";
    border: 8px solid transparent;
    /*noinspection CssOverwrittenProperties*/
    border-bottom: 8px solid #fff;
    position: absolute;
    right: 6%;
    top: -15px;
    z-index: 2;
}

.frame-arrow-icon::after {
    content: "";
    border: 8px solid transparent;
    /*noinspection CssOverwrittenProperties*/
    border-bottom: 8px solid #ccc;
    position: absolute;
    right: 6%;
    top: -16px;
}

.frame-arrow-pic::before {
    content: "";
    border: 7px solid transparent;
    /*noinspection CssOverwrittenProperties*/
    border-bottom: 7px solid #fff;
    position: absolute;
    right: 14%;
    top: -14px;
    z-index: 2;
}

.frame-arrow-pic::after {
    content: "";
    border: 7px solid transparent;
    /*noinspection CssOverwrittenProperties*/
    border-bottom: 7px solid #ccc;
    position: absolute;
    right: 14%;
    top: -15px;
}

/*/メニューなどの▲マーク*/

/*PostAreaのデザイン*/
.post-panel-body {
    padding: 5px 11px 10px;
}

.post-share-range-panel-body {
    padding: 3px 5px 0;
    border-top: 1px dashed #eee;
}

.post-panel-heading {
    background: #f5f5f5 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

}

.post-panel-footer {
    background: #f5f5f5;
    border-top: 1px solid #eee;
    padding-top: 0;
    padding-bottom: 0;
}

.post-form-picture {
    height: 12px;
    font-size: 12px;
    display: none;
}

.post-form {
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    box-shadow: none !important;
    padding-top: 2px;
    padding-right: 0 !important;
    padding-bottom: 2px;
    padding-left: 0;
    resize: none;
}

.feed-post-form {
    padding-top: 4px;
    padding-bottom: 4px;
}

.post-form:focus, .post-form:target {
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: #ddd;
    box-shadow: none;
}

.post-share-range {
    margin: 0 0 0 0;
    padding: 0;
}

.post-share-range-label {
    width: 64px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 8px !important;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.post-share-range-button {
    margin: 6px;
    background: #f9f9f9;
    border: 1px solid #ccc;
    color: #777;
}

.post-share-range-button:hover,
.post-share-range-button:target,
.post-share-range-button:active {
    color: #777;
    text-decoration: solid;
    background: #f9f9f9;
    border: 1px solid #aaa;
    background-image: none;
    box-shadow: none;
}

.post-camera-icon {
    padding: 4px;
    margin: 0;
    font-size: 20px;
    color: #888;
    cursor: pointer;
}

.photo-up-btn {
    margin: 6px 0 0;
    width: 38px;
    height: 38px;
    padding: 0;
    background: none;
}

.photo-up-btn:hover,
.photo-up-btn:target,
.photo-up-btn:active,
.photo-up-btn:focus,
.photo-up-btn:active:focus {
    outline: none;
    border: 1px solid #ccc;
    background: #f9f9f9;
}

.post-submit-button {
    margin-top: 6px;
    margin-bottom: 6px;
}

.post-share-range-list {
    padding-left: 0;
    padding-right: 0;
}

.post-share-range-list ul {
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
    border-left: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.post-images {
    margin-top: 8px;
}

.edit-form {
    color: #231814;
    border-radius: 0;
    box-shadow: none !important;
    padding-top: 4px;
    padding-right: 0 !important;
    padding-bottom: 4px;
    padding-left: 0;
    margin-left: -1px;
    margin-right: -1px;
    resize: none;
}

.feed-edit-form {
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
}

.comment-edit-form {
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
}

.border-none {
    text-decoration: none !important;
}

.dark-gray {
    color: #666 !important;
}

.post-icon {
    width: 12px;
    text-align: left;
}

.gl-comment-name {
    line-height: 12px;
    margin-bottom: 2px;
}

.gl-comment-contents {
    line-height: 15px;
}

.gl-comment-info {
    line-height: 15px;
}

/*/PostAreaのデザイン*/
/*CommentArea*/
.comment-post-form {
    background: #f5f5f5;
    margin-top: 14px;
    line-height: 15px;
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #bbb;
    border-left: none;
    box-shadow: none !important;
    padding-right: 0 !important;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 2px;
    resize: none;
}

.comment-post-form:hover {
    border-bottom: 1px solid #999;
}

.comment-post-form:focus {
    border-bottom: 1px solid #999;
}

/*noinspection CssInvalidPseudoSelector*/
.comment-post-form::-webkit-input-placeholder {
    color: #999;
}

/*noinspection CssInvalidPseudoSelector*/
.comment-post-form:-moz-placeholder {
    color: #999;
}

/*/CommentArea*/
/*サークルのデザイン*/
.circle-icon_box {
    width: 16px;
    height: 16px;
    line-height: 16px;
    float: left;
    margin-right: 5px;
    margin-top: 0;
}

.circle-icon_box > img {
    position: absolute;
}

.circle-name_box {
    display: block;
    width: 120px;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    float: left;
    margin-right: 3px;
    overflow: hidden;
    color: #000;
}

.circle-count_box {
    display: block;
    width: 13px;
    height: 16px;
    line-height: 16px;
    float: left;
    margin-right: 3px;
    text-align: center;
}

.circle-function_box {
    display: block;
    width: 14px;
    height: 16px;
    line-height: 16px;
    float: right;
    padding: 4px 0;
}

.circle_heading {
    margin: 0 0 2px;
    font-weight: bold;
    color: #a5a5a5;
}

.circle-layout {
    width: 100%;
    height: 24px;
    position: relative;
}

.count-value {
    color: #4e5665;
    font-size: 11px;
}

.circle-function {
    width: 14px;
    text-align: right;
}

.develop--circle-seek {
    font-size: 12px;
    line-height: 16px;
    padding: 8px 0 3px 0;
}

.develop--circle-make {
    font-size: 12px;
    line-height: 16px;
    padding: 3px 0 3px 0;
}

.circle-seek-icon {
    text-align: center;
    margin-right: 6px;
    font-size: 14px;
}

.circle-make-icon {
    width: 14px;
    font-size: 14px;
    text-align: center;
    margin-right: 6px;
}

/*/サークルのデザイン*/

/*HEADER*/
.gl-nav-container {
    color: #fff;
    width: 93.75%;
    margin: auto;
}

.header-circle {
    padding-left: 0;
}

.header-user-profile {
    padding-right: 0 !important;
    padding-left: 10px !important;
}

.header-drop-icons {
    padding-right: 4px;
    width: 18px;
    text-align: center;
}

/*/HEADER*/

.gl-s2-post-dropdown {
    width: 80% !important;
    margin-right: 0;
}

.gl-circle-join-switch {
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    text-align: center;
    width: 80px;
}

.gl-circle-join-switch .checkbox {
    padding-left: 0;
}

.header-icon {
    width: 22px;
    height: 20px;
    text-align: center;
}

.header-profile-icon {
    width: 16px;
}

/*モーダル全体*/
.modal-body {
    max-height: 324px;
    overflow-y: scroll;
}

/*/モーダル全体*/
/*モーダル個別*/
.modal-circle-body hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.modal-circle-body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.fileinput-limit_mb {
    display: inline-block;
}

.fileinput-new {
    margin-bottom: 0;
}

/*/モーダル個別*/

/*login*/
.login-panel-body, .register-panel-body, .add-team-panel-body, .reset-password-panel-body, .user-setting-panel-body, .profile-setting-panel-body, .notify-setting-panel-body {
    padding: 20px;
}

/*/login*/

/*キャンセルボタンのデザイン*/
.design-cancel {
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    background-image: none;
    color: #777;
}

.design-cancel:target,
.design-cancel:hover {
    border: 1px solid #aaa;
    background-color: #f0f0f0;
    background-image: none;
    color: #231814;
    text-decoration: none;
}

.btn[disabled] {
    opacity: 0.3;
}

.team-button {
    margin-right: 12px;
}

/*/キャンセルボタンのデザイン*/

/*ハンバーガー*/
.nav-team-select, .nav-search {
    width: 180px;
    margin: auto;
}

.gl-nav-form-icon {
    margin-left: 10px;
}

/*/ハンバーガー*/

.navbar-nav .font_14px {
    font-size: 14px;
}

#gotop-text {
    display: none;
}

/* Goal */
.page-title {
    font-size: 20px;
    margin-bottom: 4px;
    padding-left: 8px;
}

.goal-set-heading {
    font-size: 20px;
    color: #231814;
    border-bottom: none;
}

.panel-default > .goal-set-heading {
    padding-left: 16px;
}

.goal-set-body label {
    font-size: 16px;
}

.goal-set-title {
    height: 38px;
    line-height: 38px;
    vertical-align: middle;
}

.btn-help {
    padding-right: 0;
}

.btn-white {
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    background-image: none;
    color: #777;
}

.btn-white:target,
.btn-white:hover {
    border: 1px solid #aaa;
    background-color: #f0f0f0;
    background-image: none;
    color: #231814;
    text-decoration: none;
}

.btn_pureWhite,
.btn_pureWhite-rougeOrange{
    border: 1px solid #ccc;
    background-color: #fff;
    background-image: none;
}

.btn_pureWhite:target,
.btn_pureWhite:hover {
    border: 1px solid #aaa;
    background-color: #fff;
    background-image: none;
    color: #231814;
    text-decoration: none;
}

.btn_pureWhite-rougeOrange:target,
.btn_pureWhite-rougeOrange:hover{
    border: 1px solid #aaa;
    background-color: #fff;
    background-image: none;
    color: #231814;
    text-decoration: none;
}

.follow-on,.follow-on:hover,.collabo-on,.collabo-on:hover{
    color: #fff;
    background-color: #ea5e5b;
}


.goal-set-buttons input {
    display: inline-block;
}

.label-addiction {
    color: #c0c0c0;
    font-size: 12px;
    padding-left: 18px;
}

.goal-form-addiction {
    font-size: 12px;
}

.panel-default > .panel-closed-headding {
    background-color: #fbfbfb;
    color: #ccc;
}

.panel-closed-container {
    background-color: #fbfbfb;
}

.goal-set-input {
    margin-bottom: 4px;
}

.goal-set-buttons {
    margin-left: 30%;
}

/*/Goal*/

.feed-share-range {
    margin-bottom: 0;
}

.feed-share-range-circle {
    color: #231814;
    font-weight: bold;
}

/*MergeLater_pannelFooter*/
.setting_pannel-footer {
    background: #F0F0F0;
}

.modal_pannel-footer {
    background: #f0f0f0;
    border-radius: 0 0 6px 6px;
}

.addteam_pannel-footer {
    background: #f0f0f0;
    border-radius: 0 0 6px 6px;
}

.addcircle_pannel-footer {
    border-radius: 0 0 6px 6px;
}

.goalset_pannel-footer {
    background: #fbfbfb;
}

.panel-footer {
    border-top: none;
}

/*MergeLater_inputDesign*/
.setting_input-design {
    background: #fff;
}

.modal_input-design {
    background: #fff;
    color: #333;
}

.addteam_input-design {
    background: #fff;
    color: #333;
}

.addcircle_input-design {
    background: #fff;
    color: #333;
}

.login_input-design {
    background: #fff;
    color: #333;
}

.register_input-design {
    background: #fff;
    color: #333;
}

/*noinspection CssInvalidPseudoSelector*/
.modal_input-design::-webkit-input-placeholder {
    color: #999;
}

/*noinspection CssInvalidPseudoSelector*/
.modal_input-design:-moz-placeholder {
    color: #999;
}

/*noinspection CssInvalidPseudoSelector*/
.addteam_input-design::-webkit-input-placeholder {
    color: #bbb;
}

/*noinspection CssInvalidPseudoSelector*/
.addteam_input-design:-moz-placeholder {
    color: #bbb;
}

/*noinspection CssInvalidPseudoSelector*/
.addcircle_input-design::-webkit-input-placeholder {
    color: #bbb;
}

/*noinspection CssInvalidPseudoSelector*/
.addcircle_input-design:-moz-placeholder {
    color: #bbb;
}

/*noinspection CssInvalidPseudoSelector*/
.register_input-design::-webkit-input-placeholder {
    color: #bbb;
}

/*noinspection CssInvalidPseudoSelector*/
.register_input-design:-moz-placeholder {
    color: #bbb;
}

.addteam_photo-design {
    background: #fff;
}

.addcircle_photo-design {
    background: #fff;
    border: 1px dashed #ddd;
}

.photo-design {
    background: #fff;
    border: 1px dashed #ddd;
}

.gl-s2-post-dropdown {
    border: 1px #ddd solid;
    box-shadow: none;
    border-radius: 0;
    margin-left: 5px;
}

.gl-s2-post-dropdown li {
    border-top: none !important;
    font-size: 12px;
}

#layer-black {
    display: none;
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.open {
    margin: 0;
    padding: 0;
}

.borderBottom > div:not(:last-child) {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 4px;
    margin: 0 0 4px;
}

/*modalのデザイン*/
.modal-dialog_300px {
    width: 300px;
}

.gl-modal-no-margin .modal-body {
    padding: 0;
}

.gl-modal-no-margin .modal-footer {
    margin: 0;
}

.modal-footer {
    margin-top: 0;
    background: #f0f0f0;
}

.modalFeedTextPadding {
    padding-top: 2px;
    padding-bottom: 6px;
    line-height: 12px;
}

.modalFeedTextPaddingSmall {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 12px;
}

.modalFeed-body {
    padding-top: 8px;
    padding-bottom: 4px;
}

.modalFeed-footer {
    margin: 0;
}

.gl-user-list-in-tooltip {
    list-style-type: none;
    padding-left: 0;
}

.gl-user-list-in-tooltip > li {
    text-align: left;
}

.gl-circle-join-switch > .checkbox {
    margin-top: auto;
    margin-bottom: auto;
}

.gl-notify-setting-switch > .checkbox {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 0;
    display: inline;
}

.gl-icon-before-input {
    font-size: 18px;
    vertical-align: middle;
}

/*/modalのデザイン*/

.photo-plus {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #dddddd;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.photo-plus-large {
    width: 96px;
    height: 96px;
    line-height: 96px;
    font-size: 30px;
    color: #dddddd;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.photo-plus-frame {
    border: 1px #ddd dashed;
    background-color: #fff;
    cursor: pointer;
}


/*ゴール作成ページのタテ線の長さ調整一覧*/
.set-goal + .line-vertical-sm {
    height: 72px;
}

.set-detail + .line-vertical-sm {
    height: 52px;
}

.set-importance + .line-vertical-sm {
    height: 72px;
}

/*/ゴール作成ページのタテ線の長さ調整一覧*/

.gl-comment-body .site-info {
    margin: 5px 0 7px;
}

/*========== ゴールフィード ==========*/
.goals-feed-head {
    border-bottom: 1px solid #F0F0F0;
}

/*========== ゴールカラム ==========*/

.goals-column-head {
    border-bottom: 1px solid #808080;
}

.goals-column-title {
/ / margin : 0 0 4 px;
}

.goals-column-plus-box {
    margin: 4px 0 0;
}

.goals-column-add-box {
    border: 1px dashed #aaa;
    padding: 0;
    margin: 2px 0;
}

.goals-column-add-icon, .goals-column-add-text {
    width: 100%;
    text-align: center;
}

/*/goals-column-empty*/
.goals-column-empty-box {
    border: 1px dashed #aaa;
    padding: 0;
    margin: 8px 0;
}

.goals-column-empty-icon, .goals-column-empty-text {
    width: 100%;
    text-align: center;
}

.goals-column-empty-icon {
    padding: 12px 0 0;
}

.goals-column-empty-text {
    padding: 0 0 12px;
}

/*/goals-column-empty*/

.my-goals-column-item{
    background: #f5f5f5;
}

.my-goals-column-item, .my-goals-item {
    padding: 6px 8px;
    border-bottom: 1px solid #f0f0f0;
}

.my-goals-item:first-child {
    border-top: 1px solid #ddd;
}

.my-goals-item:last-child {
    border-bottom: 1px solid #ddd;
}

.check-status i {
    margin-right: 2px;
    text-align: center;
}

.gl-progress {
    margin-bottom: 0;
}

.icon-green {
    color: green;
}

.humbarger-close {
    margin: 8px 8px 0 0;
}

.feed-circle-user-number {
    margin-left: 4px;
    font-size: 14px;
}

.goals-column-function {
    border: 1px solid #ccc;
}

.goals-column-fa-caret-down {
    margin-left: 2px;
}

.goals-column-purpose {
    padding-top: 2px;
}

.goals-column-progress-bar {
    margin: 6px 0 4px;
}

/*/========= ゴールカラム ==========*/

/*=== メディアクエリで切り替え ===*/
/*Extrasmall*/
@media (min-width: 480px) {

    .container {
        width: 97.5%;
    }

    .gl-nav-container {
        width: 97.5%;
    }

    .gl-hamburger {
        margin-left: 0;
    }

    .layout-main {
        padding: 0 0 0 2.5%;
    }

    .layout-sub_padding {
        padding: 9px 1px;
    }

    .circle-name_box {
        width: 64%;
    }

    .gl-s2-post-dropdown {
        width: 80% !important;
        margin-right: 0;
    }

    .goal-set-buttons {
        margin-left: 40%;
    }

}

/*Small*/
@media (min-width: 768px) {

    #gotop {
        position: fixed;
        bottom: -100px;
        right: 20px;
        font-size: 150%;
        margin: 0;
    }

    #gotop a {
        background: #fff;
        text-decoration: none;
        color: #ccc;
        width: 44px;
        height: 44px;
        line-height: 44px;
        padding: 0;
        text-align: center;
        display: block;
        border-radius: 4px;
        opacity: 0.7;
        vertical-align: middle;
    }

    #gotop-text {
        display: inline-block;
        position: fixed;
        bottom: 8px;
        right: -140px;
        font-size: 50%;
        margin: 0;
    }

    .container {
        width: 756px;
    }

    .gl-nav-container {
        width: 756px;
    }

    .header-search-group {
        margin-left: 20px;
    }

    .nav > li > a {
        padding: 9px 0 0;
    }

    .navbar-nav > li > .header-logo {
        padding-left: 10px;
    }

    .navbar-nav > li > .header-goal,
    .navbar-nav > li > .header-team {
        padding-left: 10px;
    }

    .header-logo-img {
        margin-left: 5px;
    }

    .header-icon {
        width: 36px;
    }

    .header_l-icons {
        width: 56px;
        height: 48px;
    }

    .header_l-icons:hover {
        border-bottom: 4px solid #ae2f2f;
        margin-bottom: -4px;
    }

    .activeColumn {
        border-bottom: 4px solid #ae2f2f;
        margin-bottom: -4px;
    }

    .nav-team-select {
        width: 84px;
        margin-left: 0;
    }

    .nav-search {
        width: 180px;
    }

    .gl-nav-form-icon {
        margin-left: 0;
    }

    .circle-name_box {
        width: 160px;
    }

    .layout-sub_padding {
        padding: 9px 19px 0;
    }

    .gl-s2-post-dropdown {
        width: 386px !important;
        margin-right: 4px;
    }

    .modal-body {
        max-height: 460px;
    }

    .login-panel-body, .register-panel-body, .add-team-panel-body, .reset-password-panel-body, .user-setting-panel-body, .profile-setting-panel-body, .notify-setting-panel-body {
        padding: 10px;
    }

    .circle-link {
        width: 94%;
    }

    .goal-set-buttons {
        margin-left: 46%;
    }

    .goal-set-input {
        margin-left: 14px;
        padding-left: 18px;
    }

    .line-vertical-sm {
        border-left: 1px solid #e0e0e0;
    }
}

/*Medium*/
@media (min-width: 992px) {
    .container {
        width: 972px;
    }

    .gl-nav-container {
        width: 972px;
    }

    .nav-search {
        width: 200px;
    }

    .navbar-nav > li > .header-logo {
        padding-left: 10px;
    }

    .navbar-nav > li > .header-goal,
    .navbar-nav > li > .header-team {
        padding-left: 10px;
    }

    .header-logo-img {
        margin-left: 5px;
    }

    .header-icon {
        width: 36px;
    }

    .header_l-icons {
        width: 54px;
    }

    .nav-team-select {
        width: 166px;
        margin-left: 12px;
    }

    .header-search-group {
        margin-left: 98px;
    }

    .layout-main {
        padding: 0 10px;
    }

    .layout-sub_padding {
        padding: 9px 3px 9px 4px;
    }

    .layout-goal_padding {
        padding: 9px 12px;
    }

    .circle-name_box {
        width: 100px;
    }

    .gl-s2-post-dropdown {
        width: 368px !important;
    }

    .circle-link {
        width: 91%;
    }

    .goal-set-buttons {
        margin-left: 60%;
    }

}

/*ExtraMedium*/
@media (min-width: 1024px) {
    .container {
        width: 1008px;
    }

    .gl-nav-container {
        width: 1008px;
    }

    .nav-team-select {
        width: 184px;
        margin-left: 10px;
    }

    .layout-sub_padding {
        padding: 9px 5px;
    }

    .layout-goal_padding {
        padding: 9px 15px;
    }

    .circle-name_box {
        width: 103px;
    }

    .header_l-icons {
        width: 56px;
    }

    .gl-s2-post-dropdown {
        width: 386px !important;
    }
}

@media (min-width: 1025px) {
    .header-link {
        opacity: 0.54;
    }

    #header .header-icon {
        color: #505050;
    }

    .header-profile-icon {
        opacity: 0.54;
    }

    #header .header-profile-icon {
        color: #505050;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1008px;
    }
}

@media (max-width: 767px) {
    .header-logo {
        margin-top: 24px;
    }
}

/*==/ メディアクエリで切り替え ===*/

/*=================================
Temporary Properties - YOU MUST FIX
==================================*/

.develop--forbiddenLink {
    position: relative !important;
}

.develop--forbiddenLink__design {
    width: 72px;
    height: 24px;
    line-height: 12px;
    font-size: 12px;
    padding: 5px;
    border: solid 1px #999;
    border-radius: 4px;
    background: #ccc;
    text-align: center;
    position: absolute;
    z-index: 100;
    opacity: 0.8;
}

/*noinspection ALL*/
.ribbon {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    position: fixed;
    width: 200px;
    height: 30px;
    background: red;
    color: #fff;
    line-height: 30px;
    right: -40px;
    top: 40px;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    text-align: center;
    box-shadow: 0 0 6px #666;
    z-index: -1999;
}

.ribbon-staging {
    background: green;
}

.ribbon-hotfix {
    background: red;
}

.ribbon-local {
    background: blue;
}

.develop--submenu {
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.develop--goals-column {
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.dropdown-menu {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.nailthumb-container img {
    max-width: 100%;
}

.comment-btn {
    height: 0;
}

.submit-btn {
    margin-top: 4px;
}

.gl-input-images {
    margin-top: 4px;
    display: inline-block;
}

.margin-right-8px {
    margin-right: 8px;
}

.required .no-asterisk::after {
    content: "";
}

.goal-set-date {
    min-width: 190px;
    width: 16%;
}

.goal-set-mid-label {
    width: 22.5%;
}

.submit-post-edit,
.submit-comment-edit {
    margin-top: 6px;
}

.box-align {
    margin-right: -1px;
    margin-left: -1px;
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0);
}

.has-success .box-align {
    margin-right: -1px;
    margin-left: -1px;
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0);
}

.box-align:focus,
.box-align:active {
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
}

.has-success .box-align:focus,
.has-success .box-align:active {
    border-color: rgba(0, 0, 0, 0);
}
