body {
    padding-top: 50px;
}

footer {
    margin: 2em 0;
}

footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

footer p {
    clear: left;
    margin-bottom: 0;
}

.required label:after {
    color: #E00;
    content: " *";
}

.form-group {
    margin-bottom: 3px;
}

.help-block {
    margin-top: 2px;
    margin-bottom: 5px;
}

.jumbotron-icon .fa-2 {
    font-size: 2em;
}

.jumbotron-icon .fa-3 {
    font-size: 4em;
}

.jumbotron-icon .fa-4 {
    font-size: 7em;
}

.jumbotron-icon .fa-5 {
    font-size: 12em;
}

.jumbotron-icon .fa-6 {
    font-size: 20em;
}

.color-blue {
    color: #2E8DEF;
}

@media (min-width: 768px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 960px;
    }
}

[class*="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}

/*inlineのフォームでスマホでも幅を固定する*/
.gl-inline-fix {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.gl-modal-no-margin .modal-body {
    padding: 0;
}

.gl-modal-no-margin .modal-footer {
    margin: 0;
}

.gl-me-menu-image {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.gl-me-menu-image > img {
    width: 40px;
    height: 40px;
}

.gl-hamburger {
    float: left !important;
    margin-left: 3px !important;
    margin-right: 3px !important;
}

/* インラインで非表示にする */
@media screen and (max-width: 768px) {
    .visible-xs-inline {
        display: inline-block !important;
    }
}

@media screen and (min-width: 768px) {
    .visible-xs-inline {
        display: none !important;
    }
}