.vision_title {
    font-weight: bold;
}

.vision_modified_date {
    padding: 5px;
    font-size: 12px;
}

.vision_description {
    padding: 5px;
    font-size: 13px;
}

.team_member_table {
    background-color: #ffffff;
    font-size: 14px;
    border-radius: 5px;
}

.team_member_count_label {
    font-size: 18px;
    padding: 12px;
}

.team_member_setting_btn {
    color: #ffffff;
    background-color: #ffffff;
    border-color: lightgray;
}

.disable_member {
    background-color: lightgray;
}
