.vision_title {
    font-weight: bold;
}

.vision_modified_date {
    padding: 5px;
    font-size: 12px;
}

.vision_description {
    padding: 5px;
    font-size: 13px;
}

.team-member-table {
    background-color: #ffffff;
    font-size: 14px;
    border-radius: 5px;
}

.team_member_setting_btn {
    color: #ffffff;
    background-color: #ffffff;
    border-color: lightgray;
}

.disable_member {
    background-color: lightgray;
}

.cacel_or_invite {
    color: #e83b59;
    padding-top: 10px;
}
.invite_loder {
    padding-right: 10px;
    padding-top: 10px;
}

.expired_invite {
    color: #e83b59;
    padding-left: 10px;
}

.left_align {
    float: left;
}

.vision_detail_block {
    padding: 10px;
}

.vision_detail_title {
    padding: 5px;
    font-weight: bold;
}

.vision_detail_date {
    padding: 5px;
    font-size: 12px;
}

.vision_detail_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
}
