/* avatar */

.avatar-rounded {
  border-radius: 50%;
}

.avatar-rounded-link {
  border-radius: 50%;
  &:hover {
    box-shadow: 0 4px 8px rgba(17,17,17,.3);
  }
}

.avatar-bordered-rounded {
  border-radius: 50%;
  border: 3px solid @lighterGray;
}

.avatar-bordered-rounded-link {
  border-radius: 50%;
  border: 3px solid @lighterGray;
  &:hover,
  &:active,
  &:focus,
  &:target {
    border-color: #e83b59;
  }
}
