/**
 * サークルリストピンのスタイル
 */

.pin-circle {
  display: inline-flex;
  &:hover, &:active, &:focus {
    background-color: lightgray;
  }
}

.pin-circle-list {
  padding: 0px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.pin-circle-text{
  display: inline-block;
}

.pin-circle-avatar{
  display: inline;
  margin-right: 8px;
}

.fa-disabled {
  opacity: 0.3;
}

.style-hidden {
  opacity: 0 !important;
}

.fa-pull-right {
  float: right;
  margin-top: 10px;
}

.fa-pull-right-less {
    margin-top: 12px;
    margin-right: 16px;
    float: right;
}

.fa-pull-right-pin-circle-cog {
    margin-top: 8px;
    margin-right: 20px;
    margin-left: 8px;
    float: right;
}

#pinned-header,#unpinned-header {
  margin-bottom: 0px;
  background-color: #e5e5e5;
}

.circle-header-label {
  font-size: 1.4em;
}

.circle-name-label {
  font-size: 1.1em;
  display: initial !important;
}

.a-black-link {
  color: black;
}

.pin-circle-dropdown-content {
    right: 0;
}

.pin-circle-dropdown:focus {
    position: relative;
    display: inline-block;
    float:right;
}

.pin-circle-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.pin-circle-dropdown-content div,
.pin-circle-dropdown-content a {
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;
}

.pin-circle-dropdown-content div:hover,
.pin-circle-dropdown-content a:hover {
    background-color: #f1f1f1
}

#pin-panel {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.pin-circle-front-drag-handler {
  opacity: 0.5;
  margin-right: 8px;
}

.pin-circle-view-panel-body {
  padding: 0px !important;
}

.pin-circle-list-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #ffffff;
  border-bottom: 8px solid #e5e5e5 !important;
}

.pin-circle-cog {
  color: black; 
}

.pin-circle-panel-heading {
    padding: 10px 15px;
    border-bottom: 0px solid transparent;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.pin-circle-panel {
    margin-bottom: 0px;
    background-color: #ffffff;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.pin-circle-body {
  margin-bottom: -20px;
}

#container {
  max-width: 640px;
}

.dashboard-pin-circle-border {
  border: 0.5px solid #ccc;
  color: #ccc;
  margin-left: 10px;
}

.pin-circle-edit-color{
  color: #ae2f2f;
}