/**
 * サークルリストピンのスタイル
 */

.pin-circle {
  display: inline-flex;
  &:hover, &:active, &:focus {
    background-color: lightgray;
  }
}

.circle-list {
  padding: 3px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.pin-circle-text{
  display: inline-block;
}

.pin-circle-avatar{
  display: inline;
}

#pinned,#unpinned{
  min-height: 36px;
}

.fa-disabled {
  opacity: 0.5;
}

.style-hidden {
  opacity: 0;
}

.justify-content-fraction {
  display: grid;
  grid-template-columns: 1fr 1fr 10fr 1fr 1fr; /* fraction*/
}

.fa-pull-right {
  float: right;
  margin-top: 10px;
}

.fa-custom-caret-position {
    margin-top: -24px;
}

#circles-edit-page {
  max-width: 640px;
}

#pinned-header,#unpinned-header {
  margin-bottom: 0px;
}

.circle-header-label {
  font-size: 1.4em;
}

.circle-name-label {
  font-size: 1.1em;
}