/**
 * サークルリストピンのスタイル
 */

.pin-circle {
  display: inline-flex;
  &:hover, &:active, &:focus {
    background-color: lightgray;
  }
}

.pin-circle-list {
  padding: 3px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.pin-circle-text{
  display: inline-block;
}

.pin-circle-avatar{
  display: inline;
}

#pinned,#unpinned{
  min-height: 36px;
}

.fa-disabled {
  opacity: 0.5;
}

.style-hidden {
  opacity: 0;
}

.fa-pull-right {
  float: right;
  margin-top: 10px;
}

.fa-pull-right-less {
    margin-top: 10px;
    margin-right: 0.5em;
    float: right;
}

.fa-pull-right-pin-circle-dropdown {
    margin-top: 8px;
    margin-right: 0.5em;
    float: right;
}

#circles-edit-page {
  max-width: 640px !important;
}

#pinned-header,#unpinned-header {
  margin-bottom: 0px;
}

.circle-header-label {
  font-size: 1.4em;
}

.circle-name-label {
  font-size: 1.1em;
}

.a-black-link {
  color: black;
}

.pin-circle-dropdown-content {
    right: 0;
}

.pin-circle-dropdown:focus {
    position: relative;
    display: inline-block;
    float:right;
}

.pin-circle-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.pin-circle-dropdown-content div,
.pin-circle-dropdown-content a {
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;
}

.pin-circle-dropdown-content div:hover,
.pin-circle-dropdown-content a:hover {
    background-color: #f1f1f1
}

#pin-panel {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}