.go-top-text {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-block;
    position: fixed;
    bottom: 8px;
    right: -140px;
    font-size: 10px;
    margin: 0;
  }
}
.go-top {
  display: none;
  @media screen and (min-width: 500px){
    position: fixed;
    bottom: -100px;
    right: 20px;
    font-size: 150%;
    margin: 0;
    display: block;
    transition: bottom .2s ease;
  }
  &.active{
    bottom: 80px;
  }
}
.go-top-link {
  display: block;
  background: @backgroundColor1;
  text-decoration: none;
  color: #ccc;
  width: 44px;
  height: 44px;
  line-height: 44px;
  padding: 0;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  opacity: 0.9;
  vertical-align: middle;
  @media screen and (min-width: 768px) {
    opacity: 0.7;
  }
}
