/*
  headerのスタイル
 */

.dropdown-backdrop {
  opacity: 0;
  z-index: 5;
}

.header-logo-img {
  filter: saturate(0);
  transition: filter .3s, opacity .3s !important;
}

.hoverPic:hover {
  .header-logo-img {
    filter: saturate(1);
  }
}

.mixin-header-toggle-icon () {
  visibility: visible;
  display: inline-block;
  border: none;
  margin: 0;
  padding-left: 20px;
  /*padding-right: 18px;*/
  &:hover,
  &:focus,
  &:target {
    outline: none;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mixin-header-toggle-icon-minimum () {
  visibility: visible;
  display: inline-block;
  border: none;
  margin: 0;
  &:hover,
  &:focus,
  &:target {
    outline: none;
  }
}

.toggle-icon.fa-angle-left.mod-larger {
  font-size: 34px;
  margin-top: 6px;

  &:focus, &:active, &.mod-mousedown {
    opacity: .5;
  }
}

@media screen and (min-width: 1025px) {
  .header-profile-icon,
  .js-header-link,
  .header-logo-img,
  .header-function-link {
    /* opacity: 1;
     transition: opacity .3s ease;
     .navbar:hover & {
       opacity: 1;
     }*/
  }
}

.body {
  padding: 50px 0 0;
}

.body-no-header {
  padding: 0;

  &.mod-fixed {
    background: #fff;
  }
}

.mb-app-body {
  padding: 40px 0 0;
  min-height: 100vh;
  margin-top: 0px;
  overflow: hidden;
  &.mod-fixed {
    background: #fff;
  }
}

.container {
  width: 96vw;
  margin-top: 10px;
}

@media @medium {
  .container {
    width: 756px;
  }
}

@media @large {
  .container {
    width: 1008px;
  }
}

.header-nav-function-contents {
  //.frame-arrow-icon(15px);
  top: 42px;
  right: 2px;
}

.header-nav-message-contents-wrap {
  //.frame-arrow-icon(96px);
  top: 42px;
  right: -72px;
  width: @headerNotifiCardWidth;
  padding: 0;
}

.notiListFlyout {
  //.frame-arrow-icon(68px);
  top: 46px;
  right: -51px;
  width: @menu-max-width;
  padding: 0;

  &.dropdown-menu {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 2px;
  }

  &-inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 544px;
    justify-content: center;
    max-height: none;
    min-width: @menu-max-width;
    width: 100%;

    > .header {
      box-shadow: 0 1px 2px 0 @box-shadow-color;
      flex: 0 0 auto;
      width: 100%;
      z-index: 1;

      align-items: center;
      background-color: @white;
      display: flex;
      height: @mobile-header-height;
      justify-content: space-between;
      padding: 0 @content-padding;
      position: relative;
      width: 100%;

      i {
        font-size: 24px;
        line-height: 24px;
        height: 24px;

        color: @color-04-gray;
        cursor: pointer;
        vertical-align: middle;
      }

      > .left,
      > .right {
        z-index: 99;
      }

      > .center {
        bottom: 0;
        color: @color-02-gray;
        font-size: 16px;
        height: @mobile-header-height;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;

        span {
          line-height: @mobile-header-height;
          vertical-align: middle;
          font-weight: 500;
        }
      }

      .mark_all_read {
        color: @color-secondary-01;
        cursor: pointer;
        font-size: 14px;
        text-decoration: none;
      }
    }
    > .content-container {
      flex: 1 1 auto;
      overflow-y: auto;
      position: relative;
      width: 100%;
    }
    .empty {
      padding-top: 72px;
      > .empty-box {
        text-align: center;
        > i {
          font-size: 56px;
          height: 56px;
          line-height: 56px;
          width: 56px;

          color: @color-04-gray;
        }
        > p {
          color: @color-04-gray;
          font-size: 1.4rem;
          margin-top: @content-padding;
        }
      }
    }

    > .footer {
      @footer-height: 36px;

      flex: 0 0 auto;
      height: @footer-height;
      z-index: 1;

      > .view-all-link {
        color: @color-secondary-01;
        font-size: 1.2rem;
        line-height: @footer-height;
        text-decoration: none;
      }
    }
  }
}
.header-nav-avatar {
  border-radius: 50%;
  box-shadow: 0rem 0rem 0rem rgba(17, 17, 17, .3);
  transition: box-shadow .3s;
}


.header-icon-zoom {
  flex: 1;
  z-index: 3;
  align-content: center;
  justify-content: center;

  .header-icons {
    transform: scale(1);
    transition: transform .3s, color .3s;
  }

  a:hover {
    cursor: pointer !important;

    .header-icons {
      transform: scale(1.2);
      color: @goalous;
    }
  }
}

.header-icon-zoom .header-icons {
  transform: scale(1);
  transition: transform .3s, color .3s;
}

.header-icon-zoom a:hover {
  cursor: pointer !important;

  .header-icons {
    transform: scale(1.2);
    color: @goalous;
  }
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.header-right-navigations {
  width: 303px;
  position: fixed;
  z-index: 100;
  top: 0;
  vertical-align: top;
  margin: 0 0 0 auto;
  font-size: 0;
  height: 45px;
}

.smaller-header-right-navigations {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  vertical-align: top;
  margin: 0 0 0 auto;
  font-size: 0;
  height: 45px;
}

.header-right-navigations-mb-app {
  .header-right-navigations();

  > div {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.smaller-header-right-navigations-mb-app {
  .smaller-header-right-navigations();

  > div {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.nav-team-select {
  height: 28px;
  padding: 0 8px;
  width: 161px;
  @media screen and (min-width: 768px) {
    width: 161px;
    margin-left: 0;
  }
  @media screen and (min-width: 992px) {
    width: 166px;
    margin-left: 10px;
  }
  @media screen and (min-width: 1024px) {
    width: 184px;
  }
}

.header-search-toggle {
  visibility: hidden;
  opacity: 0;
  list-style: none;
  line-height: 0px;
  height: 0px;
  margin: 0;
  padding: 0 8px;
  vertical-align: top;
  -webkit-transition: opacity 0.3s linear, visibility 0.4s linear, height 0.3s linear;
  -moz-transition: opacity 0.3s linear, visibility 0.4s linear, height 0.3s linear;
  -ms-transition: opacity 0.3s linear, visibility 0.4s linear, height 0.3s linear;
  -o-transition: opacity 0.3s linear, visibility 0.4s linear, height 0.3s linear;
  transition: opacity 0.3s linear, visibility 0.4s linear, height 0.3s linear;
}

.header-search-toggle.shown {
  visibility: visible;
  opacity: 1;
  list-style: none;
  height: 0px;
  margin: 0;
  padding: 0 8px;
  vertical-align: top;
  -webkit-transition: opacity 0.3s linear, visibility 0.4s linear, height 0.3s linear;
  -moz-transition: opacity 0.3s linear, visibility 0.4s linear, height 0.3s linear;
  -ms-transition: opacity 0.3s linear, visibility 0.4s linear, height 0.3s linear;
  -o-transition: opacity 0.3s linear, visibility 0.4s linear, height 0.3s linear;
  transition: opacity 0.3s linear, visibility 0.4s linear, height 0.3s linear;
}

.header-search {
  visibility: hidden;
  opacity: 0;
  list-style: none;
  line-height: 0px;
  height: 0px;
  margin: 0;
  padding: 0 8px;
  vertical-align: top;
  -webkit-transition: opacity 0.3s linear, visibility 0.4s linear, height 0.3s linear;
  -moz-transition: opacity 0.3s linear, visibility 0.4s linear, height 0.3s linear;
  -ms-transition: opacity 0.3s linear, visibility 0.4s linear, height 0.3s linear;
  -o-transition: opacity 0.3s linear, visibility 0.4s linear, height 0.3s linear;
  transition: opacity 0.3s linear, visibility 0.4s linear, height 0.3s linear;
}

.header-search.shown {
  visibility: visible;
  opacity: 1;
  list-style: none;
  height: 0px;
  margin: 0;
  padding: 0 8px;
  vertical-align: top;
  -webkit-transition: opacity 0.3s linear, visibility 0.4s linear, height 0.3s linear;
  -moz-transition: opacity 0.3s linear, visibility 0.4s linear, height 0.3s linear;
  -ms-transition: opacity 0.3s linear, visibility 0.4s linear, height 0.3s linear;
  -o-transition: opacity 0.3s linear, visibility 0.4s linear, height 0.3s linear;
  transition: opacity 0.3s linear, visibility 0.4s linear, height 0.3s linear;
}

#NavSearchForm {
  margin-top: 50px;
  width: 320px;
  min-width: 320px;
  max-width: 320px;
  max-height: 310px;
  position: absolute;
  top: 0;
  padding: 8px;
  border-radius: 8px;
  height: 54px;
  z-index: 1005;
}

#NavSearchFormToggle {
  margin-top: 50px;
  width: 100%;
  max-height: 310px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px;
  border-radius: 8px;
  height: 54px;
  z-index: 1005;
}

.header-nav-function-contents-anchor {
  @media screen and (max-width: 991px) {
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
  }
}

.dropdown-menu > li > a.header-nav-function-contents-user-setting {
  .header-nav-function-contents-anchor();
}

.dropdown-menu > li > a.header-nav-function-contents-tutorial {
  .header-nav-function-contents-anchor();
}

.dropdown-menu > li > a.header-nav-function-contents-support {
  .header-nav-function-contents-anchor();
}

.dropdown-menu > li > a.header-nav-function-contents-about-goal {
  .header-nav-function-contents-anchor();
}

.dropdown-menu > li > a.header-nav-function-contents-approvement {
  .header-nav-function-contents-anchor();
}

.dropdown-menu > li > a.header-nav-function-contents-logout {
  .header-nav-function-contents-anchor();
}

.dropdown-menu > li > a.header-nav-function-contents-evaluation {
  .header-nav-function-contents-anchor();
}

.dropdown-menu > li > a.header-nav-function-contents-team-setting {
  .header-nav-function-contents-anchor();
}

.dropdown-menu > li > a.header-nav-function-contents-billing {
  .header-nav-function-contents-anchor();
}

.dropdown-menu > li > a.header-nav-function-contents-blog {
  .header-nav-function-contents-anchor();
}

.dropdown-menu > li > a.header-nav-function-contents-feedback {
  .header-nav-function-contents-anchor();
}

.dropdown-menu > li > a.header-nav-function-contents-user-guidelines {
  .header-nav-function-contents-anchor();
}

.header-nav-message-contents {
  margin: 0;
  max-height: 360px;
  white-space: normal;
  width: @headerNotifiCardWidth;
  overflow-y: scroll;
  text-overflow: ellipsis;
  box-shadow: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.header-nav-message-contents-scrolling {
  overflow: hidden;
  width: @headerNotifiCardWidth;
}

.message-all-view-link {
  .link;
  height: 40px;
  line-height: 50px;
  text-align: center;
  border-top: 1px solid @lightGray;
}

.notify-mark-allread {
  line-height: 30px;
  display: block;
  height: 30px;
  margin: 0 12px 0 0;
  float: right;
}

.mb-app-nav-icon {
  opacity: 1;
  color: #333333;
}

.banner-alert {
  height: auto;
  width: 100%;
  background: @unreadRed;
  position: fixed;
  top: 50px;
  z-index: 2;
  padding: 10px 0;
  display: none;
  color: @darkBlack;

  &.mod-mb-app {
    top: 70px;
  }

  .container {
    margin-top: 0;
  }
}

#rightHeaderNavigation {
  z-index: 3;
  position: fixed;
  right: 0;
  top: 0;
  margin-right: 8px;
}

.topicSearchList-header-cancel-button-main {
  color: #333;
  cursor: pointer;
  font-size: 11px;
}

.topicSearchList-header-cancel-main {
  display: table-cell;
  vertical-align: middle;
  width: 55px;
}

#NavSearchIcon, #NavSearchIconToggle {
  width: 30px;
  height: 100%;
  float: left;
  vertical-align: middle;
  display: table-cell;
}

.searchBoxMain {
  width: 100%;
  border-radius: 4px;
  position: relative;
  display: table;
  margin-bottom: 20px;
}

#NavSearchInput {
  display: table-cell;
  width: 242px;
  background-color: transparent;
  border-radius: 4px;
  box-shadow: none;
  transition: none;
  outline: 0;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid #ccc;
  padding-left: 26px;
  padding-right: 0;
}

#NavSearchInputClear {
  width: unset;
  left: -14px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  input[type=text]::-ms-clear {
    display: none;
  }

  #NavSearchInputClear {
    width: initial;
    left: 0px;
  }
}


#NavSearchInputToggle {
  display: table-cell;
  width: 98%;
  background-color: transparent;
  border-radius: 4px;
  box-shadow: none;
  transition: none;
  outline: 0;
  padding: 8px 8px 8px 30px;
  font-size: 14px;
  border: 0;
  line-height: 18px;
  border: 1px solid #ccc;
}

.searchBox-input-main {
  display: table-cell;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: none;
  transition: none;
  outline: 0;
  padding: 8px 8px 8px 30px;
  font-size: 14px;
  border: 0;
  line-height: 18px;
}

.search-list-item-link {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0 0 0 0px;
  color: #000;
  text-decoration: none;
  -webkit-touch-callout: none;

  &:hover, &:focus, &:active, &:visited {
    background-color: #fff0f1;
    color: initial;
    text-decoration: initial;
  }
}

.search-list-item-link .search-list-avatar-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
}

.search-list-item-link .search-list-avatar-item img {
  min-width: 48px;
  min-height: 48px;
  max-width: 48px;
  max-height: 48px;
  width: auto;
  height: auto;
}

.topic-search-list-item-main {
  flex: 1;
  min-width: 0;
  margin-left: 10px;
  line-height: 36px;
  border-bottom: 1px solid #ccc;
  padding-top: 4px;
  padding-right: 8px;
}

.topic-search-list-item-main-header-title {
  min-width: 0;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 6px;
}

header-nav-add.open ul {
  position: absolute !important;
  z-index: 100 !important;
  display: inline-block !important;
  background-color: #ffffff !important;
  border: 1px solid #cccccc !important;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  border-radius: 4px !important;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
  background-clip: padding-box !important;
}

.header-nav-add.open ul {
  position: absolute !important;
  z-index: 100 !important;
  display: inline-block !important;
  background-color: #ffffff !important;
  border: 1px solid #cccccc !important;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  border-radius: 4px !important;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
  background-clip: padding-box !important;
}

.navigationWrapper {
  top: 0;
  position: absolute;
  display: flex;
}

#navigationWrapper {
  overflow: hidden;
  height: 98%;
}

@media (max-width: 499px) {
  #navigationWrapper {
    overflow-y: visible;
  }
}

#rightNavigationWrapper {
  display: flex;
  flex: 1;
  float: right;
  width: 100%;
}

.force-open {
  display: block !important;
}

.force-close {
  display: none !important;
}

.right-navigation-wrap {
  /*display: none;*/
}

/*.avatar-border {
    border-left: 0.5px solid #ccc;
    border-right: 0.5px solid #ccc;
    height: 18px;
    margin-top: 18px;
    margin-left: -6px;
}*/

.fa-adjust-hamburger {
  font-size: 23px;
  line-height: 23px;
  margin-top: -3px;
}

.fa-adjust-search {
  font-size: 21px;
  line-height: 21px;
  margin-top: -1px;
}

.fa-adjust-book {
  font-size: 21px;
  line-height: 21px;
  margin-top: -1px;
}

.fa-adjust-circle {
  font-size: 23px;
  line-height: 23px;
  margin-top: -3px;
}

.fa-adjust-plane {
  font-size: 20px;
  line-height: 20px;
}

.fa-adjust-bell {
  font-size: 21px;
  line-height: 21px;
  margin-top: -1px;
}

.fa-adjust-cog {
  font-size: 23px;
  line-height: 23px;
  margin-top: -3px;
}

.header-dropdown-avatar {
  margin-left: 6px;
  margin-top: 2px;
}

.mb-hambuger-badge-shift {
  margin-left: 14px;
}

#rightNavigationWrapper:before,
#rightNavigationWrapper:after {
  content: '';
  -webkit-box-sizing: unset;
  -moz-box-sizing: unset;
  box-sizing: unset;
}


// ↓ renewal header version
.glHeaderMobile {
  //For fixing Android's header & footer scrolling issue
  transform: translate3d(0, 0, 0);
  display: flex;
  align-items: center;
  background-color: @white;
  height: @mobile-header-height;
  width: 100%;
  padding: 0 8px;
  @media screen and (min-width: @tablet-min-width) {
    display: none;
  }

  &-left {
    flex: 1;
  }

  &-nav {
    align-items: center;
    display: flex;

    &-menu {
      position: relative;

      &-link {
        cursor: pointer;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 0;
        height: @mobile-header-height;
        line-height: @mobile-header-height;
        position: relative;
        text-align: center;
        width: 40px;
        text-decoration: none !important;
        border: none !important;

        &:hover, &:visited, &:target {
          text-decoration: none;
        }

        > i {
          font-size: 28px;
          color: @color-04-gray;
          display: block;
        }
      }

      &.active {
        > i,
        > span {
          color: @color-02-gray;
        }
      }
    }
  }
}

.glHeaderPc {
  display: none;
  @media screen and (min-width: @tablet-min-width) {
    display: flex;
    padding-left: 16px;
  }
  @media screen and (min-width: @tabletL-min-width) {
    padding-left: 0px;
  }
  @media screen and (min-width: @pc-min-width) {
    min-width: 976px;
    max-width: none;
  }

  align-items: center;
  background-color: @white;
  height: @header-height;
  margin: 0 auto;
  min-width: 0;
  padding: 0;
  position: relative;

  &-userAvatar {

    width: 48px;
    height: 64px;
  }

  &-left {
    flex: 1;
  }

  &-right {
  }

  &-nav {
    align-items: center;
    display: flex;

    &-menu {
      position: relative;

      &.mod-userAvatar {
        width: 64px;
        height: 48px;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;

        > a {
          height: 32px;
          width: 32px;
        }
      }

      &-link {
        .glNavMenuLink;
        height: @header-height;
      }
    }
  }
}

.glHeader-nav-dropdown {
  padding: 8px 0 !important;

  &.mod-mobile {
    right: 0;
  }

  &-menu {
    display: inline-block;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;

    :hover {
      background-color: @color-07-gray !important;
    }

    @media screen and (max-width: 991px) {
      height: 40px;
      line-height: 40px;
    }

    &-link {
      padding: 8px 16px !important;
      display: flex !important;
      align-items: center;

      &-left {
        text-align: center;
        width: 30px;
        margin-right: 8px;

        > i {
          vertical-align: middle;
          font-size: 28px;
          height: 28px;
          line-height: 28px;
          color: @color-04-gray;
        }
      }

      > p {
        flex: 1;
        color: @color-02-gray;
        font-size: 14px;
      }
    }
  }
}

.nav-back-btn {
  cursor: pointer;
  background: transparent;
  border: none;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  > i {
    font-size: 28px;
  }

  float: left;
  color: @color-04-gray;
  width: 40px;
  height: 40px;

  &:hover, &:visited, &:target {
    text-decoration: none;
    color: @color-04-gray;
  }
}
