@keyframes show{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}


.mobile-app-footer {
  position: fixed;
  bottom: 0;
  margin: 0;
  width: 100%;
  z-index: 999;
  background-color: #f9f9f9;
  padding-bottom: 0;
  // Browsers which partially support CSS Environment variables (iOS 11.0-11.2).
  @supports (padding-bottom: constant(safe-area-inset-bottom)) {
    & {
      padding-bottom: constant(safe-area-inset-bottom);
    }
  }
  // Browsers which fully support CSS Environment variables (iOS 11.2+).
  @supports (padding-bottom: env(safe-area-inset-bottom)) {
    & {
      padding-bottom: env(safe-area-inset-bottom);
    }
  }

  &-list {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: inherit;
    &-item {
      flex: 1;
      float: none;
      margin:0;
      display: block;
      text-align: center;
      position: relative;
      &-link {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 50px;
        padding-top: 4px;
        color: @color-04-gray;
        &:hover, &:visited, &:active {
          text-decoration: none;
          color: @color-04-gray;
        }
        &.active {
          color: @color-02-gray;
        }
      }
      .btn.notify-function-numbers {
        top: 3px !important;
        right: 12px !important;
        font-size: 12px;
        border: 0;
        background-color: #ff0a19;
        animation: show 0.3s linear 0s;
        &.mod-small {
          top: 6px !important;
          right: 22px !important;
          width: 8px;
          height: 8px;
          font-size: 0;
        }
      }

      &-icon {
        font-size: 28px !important;
        height: 28px !important;
      }
      &-name {
        margin-top: 2px;
        font-size: 10px;
      }
    }
  }
}

