/* Tutorial modal css */

.setup-tutorial-modal-footer {
  background-color: @serviceColor;
}

.setup-tutorial-texts {
  text-align: center;
  color: @subColor5;
  padding-bottom: 10px;
}

.setup-tutorial-text-title {
  font-weight: 400;
  font-size: @fontLarge;
  padding-bottom: 10px;
}

.setup-tutorial-navigation {
  color: @subColor5;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.setup-tutorial-navigation-next {
  float: right;
  &:hover {
    color: @darkGray;
    cursor: pointer;
  }
}


.setup-tutorial-navigation-indicator {
  letter-spacing: 10px;
  color: @cherryBlossomPink;
}

.setup-tutorial-navigation-indicator-selected {
  color: @subColor5;
}
