// .nav and .nav-[children]

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    >li{
        position: relative;
        display: block;
        >a{
            position: relative;
            display: block;
            padding: 10px 15px;
            &:focus, &:hover{
                text-decoration: none;
                background-color: @cGray;
            }
            .disabled &{
                color:@basicGray;
                &:hover, &:focus{
                    background-color:transparent;
                    cursor: not-allowed;
                }
            }
            img{
                max-width: none;
            }
        } 
    } 
    .open{
        a, a:focus, a:hover{
            background-color:@cGray;
            border-color: @acidRed;
        }
    } 
    .nav-divider{
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: @baseGray;
    } 
}

.nav-tabs {
    border-bottom: 1px solid @cGray;
    >li{
        float: left;
        margin-bottom: -1px;
        a{
            margin-right: 2px;
            line-height: 1.42857143;
            border: 1px solid transparent;
            border-radius: 4px 4px 0 0;
            &:hover{
                border-color: @cGray;
            }
        } 
        &.active{
            a, a:focus, a:hover{
                color: @midGray;
                background-color: @smokyWhite;
                border: 1px solid @cGray;
                border-bottom-color: transparent;
                cursor: default;
            }
        } 
    } 
    &.nav-justified {
        width: 100%;
        border-bottom: 0;
        >li{
            float:none;
            >a{
                text-align: center;
                margin-bottom: 5px;
                margin-right: 0;
                border-radius: 4px;
            } 
        } 
        > .dropdown{
            .dropdown-menu{
                top: auto;
                left: auto;
            }
        } 
        > .active{
            a, a:focus, a:hover{
                border: 1px solid @cGray;
            }
        } 
    } 
    .dropdown-menu {
        margin-top: -1px;
        border-top-right-radius: 0;
        border-top-left-radius: 0
    } 
} 

.nav-pills{
    > li{
        float: left;
        a{
            border-radius: 4px;
        }
        + li{
            margin-left:2px;
        }
        &.active{
            a, a:focus, a:hover{
                color: @white;
                background-color: @acidRed;
            }
        } 
    } 
}

.nav-stacked{
    > li{
        float:none;
        + li{
            margin-top: 2px;
            margin-left: 0;
        }
    } 
} 

.nav-justified {
    width: 100%;
    > li{
        float:none;
        > a{
            text-align: center;
            margin-bottom: 5px;
        }
    } 
    .dropdown{
        .dropdown-menu{
            top: auto;
            left: auto;
        }
    } 
} 

.nav-tabs-justified {
    border-bottom: 0;
    > li{
        > a{
            margin-right: 0;
            border-radius: 4px;
        } 
    } 
    .active{
        a, a:focus, a:hover{
            border: 1px solid @cGray;
        }
    } 
} 

.nav-search {
    width: 75% !important; //!important due to .form-control
    height: 28px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 0; 
    margin-left: -1px;
}

.nav-search-button {
    color: @modGray;
    width: 100%;
    height: 28px;
    padding: 2px 5px;
    background-color: @smokyWhite;
    border-color: @cGray;
    &:focus, &:active{
        box-shadow: none !important;
        outline: 0 !important;
    }
    &:active{
        background-color: @cGray;
    }
}

.nav-form-group{
    position: relative;
    padding: 10px 0;
    i {
        font-size: 15px !important;
    }
    input {
        padding-left: 27px;
    }
}

.nav-search-form-group { 
    input{
        padding-left: 10px;
    }
}

.nav-search-button-group {
    width: 25%;
    float: left;
    &.caret{
        margin-left:2px;
    }
}

.nav-search-category-item {
    font-size: 14px;
}

.nav-search-category-icon {
    font-size: 14px;
    margin-left: 3px !important;
}

.nav-search-form-dropdown {
    background-color: #fff !important;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    margin-top: 2px !important;
}

.nav-search-result {
    display: none;
    max-height: 200px;
    overflow: scroll;
    background-color: #fff;
    width: 100%;
    position: absolute;
    top: 43px;
    left: 0%;
    border: 1px #ccc solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
    z-index: 1000;
}

.nav-search-result-item {
    display: block;
    color: #9197a3;
    width: 100%;
    height: 45px;
    padding: 5px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &:hover, &:focus{
        background-color: #f8f8f8;
        text-decoration: none;
        color: #9197a3;
    }
    img {
        width: 35px;
        margin-right: 10px;
    }
}

.nav-search-result-notfound {
    padding: 10px 10px 10px 20px;
}

.nav-search-results-open {
    overflow: hidden;
}

.nav-xxs-icon {
    width: 22px;
    height: 22px;
}

.nav-form-icon {
    margin-left: 10px;
}

.nav-container {
  width: 100%;
  max-width:748px;
  margin: auto;
  background-color:@white;
  @media @large{
      max-width:1008px;
  }
}

// .navbar and .navbar-[children]

.navbar {
    background: #fff;
    margin: 0;
    max-height: 50px;
    position: fixed;
    top: 0;
    z-index: 7777;
    transition: box-shadow 1s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0);
    &.mod-box-shadow {
        box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
    }
    &.mb-app-nav {
        background-color: @backgroundColor2;
    }
}

.navbar-brand {
    float: left;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 40px;
    &:focus, &:hover{
        text-decoration: none;
    }
}

.navbar-btn {
    margin-top: 1px;
    margin-bottom: 1px;
    &.btn-sm{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    &.btn-xs {
        margin-top: 9px;
        margin-bottom: 9px
    }
}

.navbar-collapse {
    max-height: 340px;
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    -webkit-overflow-scrolling: touch;
    &.in{
        overflow-y: auto;
    }
}

.navbar-default {
    background-color: @white;
    border-color: @baseGray;
    .navbar-brand {
        color: @darkBlack;
        &:focus, &:hover{
            color: @acidRed;
            background-color: transparent;
        }
    }
    .navbar-text {
        color: @basicGray;
    }
    .navbar-nav{
        > li{
            > a{
                color: @darkBlack;
                padding: 2px 0;
                margin: auto;
                width: 180px;
                &:focus, &:hover{
                    background-color:transparent;
                }
            }
        }
        .active, .open{
            a, a:focus, a:hover{
                color:@acidRed;
            }
        }
        .disabled{
            a, a:focus, a:hover{
                color:@darkBlack;
            }
        }
    }
    .navbar-collapse, .navbar-form{
        border-color:@smokyWhite;
    }
    .navbar-link {
        color: @darkBlack;
        &:hover{
            color: #d9230f;
        }
    }
}

.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    &.mod-shadow {
        box-shadow: rgba(0, 0, 0, 0.14902) 0px 2px 4px;
    }
}

.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0
}

.navbar-form {
    margin: 1px -15px;
    padding: 10px 15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1)
}

.navbar-inverse {
    background-color: @acidRed;
    border-color: @goalous;
    .navbar-brand{
        color:@white;
        &:focus, &:hover{
            color:@white;
            background-color:transparent;
        }
    }
    .navbar-nav{
        >li{
            >a{
                color:@white;
                background-color:transparent;
            }
        }
        .active, .open{
            a, a:focus, a:hover{
                color:@goalousHover;
            }
        }
        .disabled{
            a, a:focus, a:hover{
                color:@cGray;
            }
        }
    }
    .navbar-text, .navbar-link{
        color:@white;
        &:hover{
            color:@goalousHover;
        }
    }
    .navbar-collapse, .navbar-form{
        border-color:@goalous;
    }
}

.navbar-nav {
    margin-top:50px;
    background-color:@smokyWhite; 
    height:100%;
    padding:0 10px;
    @media @medium{
        background-color:transparent;
    }
    > li{
        > a{
            line-height: 20px;
            padding-top: 0;
            padding-bottom: 9px;
        }
        > .dropdown-menu {
            margin-top: 0;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            .navbar-fixed-bottom &{
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
    i {
        font-size: 20px;
    }
    .font_14px {
        font-size: 14px;
    }
}

.navbar-nav-fix {
  margin: 0;
  list-style: none;
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px
}

.navbar-text {
    margin-top: 10px;
    margin-bottom: 10px
}

.sidebar-setting{
    .nav{
        > .active{
            a, a:focus, a:hover{
                padding-left: 18px;
                font-weight: 700;
                color: #563d7c;
                background-color: transparent;
                border-left: 2px solid #563d7c;
            }
        }
    }
}

// Misc elements 

.navmenu-fixed-left {
  z-index: 100;
}

.tab-content{
    > .tab-pane {
        display: none
    }
    > .active {
        display: block
    }
}

#NavbarOffcanvas{
    width:200px;
    position: absolute;
    top:0;
    height:100vh;
    z-index:1;
    transition: transform .3s;
    transform:translateX(-200px);
    .mod-openNav &{
        transform:translateX(0px);
    }
    @media @medium{
        position:static;
        height:auto;
        width:auto;
        transform:none;
    }
}

.js-nav-toggle{
    position:relative;
    z-index:3;
}

.header-right-navigations{
    position:relative;
    z-index:2;
}