/*
  # notify_card.less
  notify-cardsのスタイル
*/
.notify-card-link {
  // 3カラムの場合でのみhoverの色を変える。
  // 携帯端末でhover設定はui的にNG.
  @media screen and (min-width: 992px) {
    &:hover,
    &:focus {
      color: @black;
      background-color: @hoverRed;
    }
  }
  border-right: 2px solid @color-background-white;
  cursor: pointer;
  display: flex;
  font-size: 0;
  min-width: 0;
  text-decoration: none;
  padding: @content-half-padding @content-padding 0;
  > .left {
    width: 40px;
    flex-shrink: 0;
    > img {
      width: 40px;
      height: 40px;
    }
  }
  > .right {
    border-bottom: 1px solid @color-06-gray;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    margin-left: @content-padding;
    min-width: 0;

    > .title {
      color: @color-02-gray;
      display: inline-block;
      font-size: 14px;
      line-height: 18px;
      padding: 0;
      margin: 0;
      span {
        font-weight: 600;
      }
    }
    > .body {
      padding: 0;
      color: @color-04-gray;
      font-size: 10.5px;
      line-height: 16px;
      margin: 2px 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      > i {
        font-size: 10.5px;
        line-height: 10.5px;
        height: 10.5px;
        vertical-align: middle;
      }
    }
    > .time {
      color: @color-04-gray;
      font-size: 1.05rem;
      line-height: 16px;
      margin: 4px 0;
      padding: 0;
    }
  }
  &.unread {
    background-color: @color-primary-99-light-02;
    text-decoration: none;
  }
  &:hover {
    background-color: @color-07-gray;
    text-decoration: none;
  }
}
.noti-loading {
  padding: @content-padding;
  text-align: center;
  display: block;
  > .spinner {
    margin: 0 auto;
  }
}


.notify-page-cards {
  .notify-card-link {
    padding: 8px 5px;
  }
}

/*
 .header-nav-notify-contents in 'header_logged_in.ctp'
*/
.header-nav-notify-contents {
  margin: 0;
  padding: 0;
  white-space: normal;
  width: @menu-max-width;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}
.notify-contents {
  width: 80%;
  display: inline-block;
}
.notify-card-head {
  font-size: @fontSmall;
  line-height: 16px;
}
.notify-card-text-wrapper {
  line-height: 14px;
}
.notify-card-text {
  font-size: @fontSmallest;
  color: @black;
}
.notify-card-aside {
  .aside-info;
}
.notify-card-pic {
  width: 50px;
  height: 50px;
  margin-right: 8px;
}
.notify-all-view-link {
  .link;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-top: 1px solid @lightGray;
}
.notify-card-read {
  background-color: @backgroundColor1;
}
.notify-card-unread {
  background-color: @unreadRed;
}
/* notify-pageのスタイル */
.panel-body-notify-page {
  padding: 0;
}

/*
 .notify-page-cards 'Notification/index.ctp'
*/
.notify-page-cards {
  margin-bottom: 0;
  overflow: hidden;
  padding-left: 0;
}

.notify-dropdown-card {
  width: @menu-max-width;
}

.notify-card-pic-box {
  width: 50px;
  margin-right: 8px;
}

.notify-dropdown-card-letters {
  width: 248px;
}

.notify-page-card-letters {
  flex: 1;
}

.notify-line-number {
    margin: 0;
    line-break: normal;
    position: relative;
}

@media screen and (min-width: 768px) {
    .notify-line-number {
        margin: 0;
        line-break: normal;
        position: relative;
    }
}
