/*
+ 赤丸アイコン
*/
.btn.notify-function-numbers {
  .notify-numbers;
  top: -2px;
  right: 6px;
  &.mod-small {
    top: 2px;
    right: 14px;
  }
}

.btn.notify-bell-numbers {
  .notify-numbers;
  top: -2px;
  right: 6px;
}
