/*
+ 赤丸アイコン
*/
.btn.notify-function-numbers {
  .notify-numbers;
  top: 4px;
  right: 0;
}

.btn.notify-bell-numbers {
  .notify-numbers;
  top: 4px;
  right: 2px;
}

.btn.notify-setup-numbers {
  .notify-numbers;
  top: 4px;
  right: 2px;
}

.hamburger-unread-point {
  position: absolute;
  z-index: 10;
  background-color: @acidRed;
  padding: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: block;
  margin: 12px 0 0 12px;

  &.is-read {
    display: none;
  }

  &.is-open {
    display: none;
  }
}
