/* Post */
//TODO: Related post style move from style.less to this file

@import "parent_for_extend";

.post-saveItem {
  color: @subColor3;
  margin-right: 12px;
  font-size: 15px;
  line-height: 1em;
  cursor: pointer;
  text-decoration: none;
  &:hover,
  &:target,
  &:active,
  &:focus {
    text-decoration: none;
    color: @subColor3;
  }
  > i {
    &:extend(.fa-module);
    &:before {
      content: "\f097"; // fa-bookmark-o
    }
  }
  > span {
    font-size: 12px;
    font-weight: bold;
    -webkit-font-smoothing: initial;
  }
}

.saved {
  color: @crimsonPink;
  &:hover,
  &:target,
  &:active,
  &:focus {
    text-decoration: none;
    color: @crimsonPink;
  }
  > i {
    &:extend(.fa-module);
    &:before {
      content: "\f02e"; // fa-bookmark
    }
  }
}

i.mention {
  padding: 3px;
  border-radius: 5px;
  &.to-me {
    background-color: @unreadRed;
  }
}
// For translation mention
span.mention {
  padding: 3px;
  border-radius: 5px;
  font-style: italic;
  font-weight: bold;
  &.to-me {
    background-color: @unreadRed;
  }
}

.mention-wrapper {
  display: flex;
  align-items: center;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
.mention-image {
  background-size: cover;
  width: 32px;
  height: 32px;
}
.mention-text {
  flex: 1;
  margin-left: 10px;
}
.atwho-view {
  .cur {
    background-color: @subColor14;
  }
  strong {
    font-weight: normal;
    color: @subColor14;
  }
}