.post-share-range-toggle-button-container {
    border-left: 1px dashed #eee;
}

.post-share-range-toggle-button {
    padding: 3px 7px !important;
    font-size: 11px !important;
    border: none !important;
    width: 100% !important;
}

.post-share-range {
    margin: 0 0 0 0;
    padding: 0;
}

.post-share-range-list {
    padding-left: 0;
    padding-right: 0;
}

.post-share-range-list ul {
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
    border-left: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.switch-post-anchor {
  text-decoration: none;
  &:hover,
  &:active,
  &:target,
  &:focus {
    text-decoration: none;
  }
}
