.col-main {

}

.left-side-container {
  position: fixed;
  width: 33.33333%;
  @media screen and (min-width: 768px) {
    width: 252px;
  }
  @media screen and (min-width: 992px) {
    width: 168px;
  }
}
