.col-main {

}

.left-side-container {
  position: fixed;
  width: 33.33333%;
  @media screen and (min-width: 768px) {
    width: 252px;
  }
  @media screen and (min-width: 992px) {
    width: 168px;
  }
}
/*===== dashboard-profile-card =====*/

.dashboard-profile-card {
  background: #fff;
  border: 1px solid @subColor4;
  border-radius: 4px;
  max-width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 16px;
  padding:0;
  overflow:hidden;
  &-header {
    padding: 8px 0;
  }
  &-footer {
    padding: 8px 0;
    font-size: 1rem;
    background-color: @veryLightYellow;
  }

  &-avatarImage {
    width: 52px;
    height: 52px;
    border-radius: 50%;
  }

  &-userField {
    color: @veryDark;
    font-weight: 700;
  }

  &-score {
    font-size: 4rem;
    font-weight: 700;
    line-height: 3rem;
  }

}

/*=====/ dashboard-profile-card ======*/
#chart {
  width: 100%;
  max-height: 200px;
  .c3-area {
    opacity: 1;
  }

  .c3 svg {
    opacity: 1 !important;
    width: 350px;
    @media screen and (min-width: 768px) {
      width: 200px;
    }
  }
  .c3-area-data3 {
    opacity: 1 !important;
  }
  .c3-line {
    stroke-width: 3px;
  }
  .c3-circle:last-child {
    stroke-width: 1px;
    fill: #fff !important;
    stroke: @subColor14;
  }
  border-bottom: 1px solid @subColor4;
}

.progressGraph-title {
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
  color: @darkGray;
  font-weight: 400;
  &-sub {
    margin-left: 4px;
    font-size: 1.1rem;
    color: @subColor3;
  }
}

.progressGraph-footer {
  display: flex;
  font-size: 1.1rem;
  &-left {
    flex: 1;
    text-align: left;
  }
  &-right {
    flex: 1;
    text-align: right;
  }
}

.progressGraph-legend {
  margin: 0;
  padding: 4px;
  text-align: right;
  font-size: 1.1rem;
  &-mark {
    display: inline-block;
    height: 10px;
    width: 10px;
    vertical-align: middle;
    &.mod-sweetspot {
      background-color: #d4f2fc;
    }
  }
}
