.cube-img-column {
  font-size: 0;
  border-bottom: 1px solid @lightGray;
  padding: 0 0 2px;
}

.cube-img-column-frame {
  background: @backgroundColor1;
  border: 2px solid @backgroundColor2;
  width: 32.1vw;
  height: 32.1vw;
  margin: 0 -1px;
  overflow: hidden;
  float: none;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  &:hover,
  &:target,
  &:active,
  &:focus {
    border-color: @basicPink;
  }
}

@media @medium {
  .cube-img-column-frame {
    width: 169px;
    height: 169px;
  }
}

@media @large {
  .cube-img-column-frame {
    width: 225px;
    height: 225px;
  }
}

.cube-img-blocks-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  // object-fit: cover;
  // なぜかobject-fitが効かなかった。lazyだからか？
}
