/*========== ゴールカラム ==========*/

.goals-column-head {
  border-bottom: 1px solid #808080;
}

.goals-column-head-vision {
  margin-bottom: 5px;
}

.goals-column-add-icon, .goals-column-add-text {
  width: 100%;
  text-align: center;
}

/*/goals-column-empty*/
.goals-column-empty-box {
  border: 1px dashed #aaa;
  padding: 0;
  margin: 8px 0;
}

.goals-column-empty-icon, .goals-column-empty-text {
  width: 100%;
  text-align: center;
}

.goals-column-empty-icon {
  padding: 12px 0 0;
}

.goals-column-empty-text {
  padding: 0 0 12px;
}

/*/goals-column-empty*/

.dashboard-goals-card {
  width: 100%;
  // border-radius: 4px;
  margin: 16px 0 0;
  display: inline-block;
}

.dashboard-goals-card-header {
  background: @whiteColor;
  clear: both;
  border-radius: 8px 8px 0 0;
  padding: 8px 4px;
  position: relative;
}

.dashboard-goals-card-header-noname {
  .dashboard-goals-card-header;
  border-radius: 8px;
  .shadow-default;
}

.dashboard-goals-card-body {
  background: @veryLightYellow;
  padding: 6px 8px;
  margin: 0;
  border-radius: 0 0 8px 8px;
}

/*
### 縦線の実現
かなり複雑
goalcardのheader自体をrelativeで基準にタテ線を引いている。
ただし、アイコン自体もz-indexの都合でrelativeにしている。
横線はkrの方で定義されている。
*/

.dashboard-goals-card-header-icon {
  font-size: 30px;
  padding: 8px 4px 0;
  margin: 0 8px 0 0;
  border-radius: 50%;
  background-color: @slightGray;
  color: @whiteColor;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}

.dashboard-goals-card-vertical-line {
  position: absolute;
  width: 3px;
  background-color: @cGray;
  left: 22px;
  top: 44px;
  z-index: 1;
}

.dashboard-goals-card-header-title {
  width: 70%;
  display: inline-block;
  vertical-align: middle;
}

.dashboard-goals-card-header-function {
  height: 32px;
  width: 32px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 32px;
  border-radius: 50%;
  // border: 1px solid @darkGray;
  color: @darkGray;
  cursor: pointer;
  &:hover {
    background-color: @darkGray;
    color: @whiteColor;
  }
}

.dashboard-goals-card-header-goal-set {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: @trueGray;
  border: 2px dashed @trueGray;
  border-radius: 8px;
  padding: 4px;
  margin: 0;
  &:hover {
    border: 2px solid @darkGray;
    color: @darkGray;
    text-decoration: none;
  }
}

.dashboard-goals-card-header-goal-set-icon {
  margin: 0 4px 0 0;
}

.dashboard-goals-card-header-purpose {
  padding-top: 2px;
  font-size: @fontSmall;
  .line-number-limit-1();
}

// Variables
@container-bg: #eee;
@font-size-base: 14px;
@line-height-computed: 1.4;
@lines-to-show: 2;

.dashboard-goals-card-header-goal {
  color: @darkBlack;
  .line-number-trigger;
  font-weight: bold;
}

.dashboard-goals-card-header-goal-wrap {
  font-size: @font-size-base;
  height: @font-size-base * @line-height-computed * @lines-to-show;
  line-height: @line-height-computed;
  position: relative;
  &:before,
  &:after {
    background: #eee;
    position: absolute;
  }
  &:before {
    content: "...";
    top: @font-size-base * @line-height-computed * (@lines-to-show - 1);
    right: 0;
  }
  &:after {
    content: "";
    height: 100%;
    width: 100%;
  }

}
