/*
# Less for feeds
*/

.post-heading-goal {
  line-height: 32px;
}

.photo-up-btn {
    margin: 6px 0 0;
    width: 38px;
    height: 38px;
    padding: 0;
    background: none;
}

.photo-up-btn:hover,
.photo-up-btn:target,
.photo-up-btn:active,
.photo-up-btn:focus,
.photo-up-btn:active:focus {
    outline: none;
    border: 1px solid #ccc;
    background: #f9f9f9;
}

.post-submit-button {
    margin-top: 6px;
    margin-bottom: 6px;
}
