// variables
@spacing: 10px;

// /goals/create/step*
.goals-create {
  padding: @spacing;

  &-heading {
    font-size: @fontLarger;
    font-weight: normal;
    margin: 0 0 10px;
  }
  &-description {
    color: @subColor10;
    font-size: @fontMedium;
    margin-bottom: @spacing;
  }
  &-view-more {
    color: @keyColor;
    font-weight: 300;
  }
  &-layout-flex {
    display: flex;
    display: -moz-flex;
    display: -o-flex;
    display: -webkit-flex;
    display: -ms-flex;
    flex-direction: row;
    -moz-flex-direction: row;
    -o-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    box-sizing: border-box;
  }

  // step1 vision表示
  &-dispaly-vision {
    background-color: @smokyWhite;
    margin-bottom: @spacing;
    padding: @spacing*2 @spacing;
    &-title {
      font-size: @fontMedium;
      font-weight: nomal;
      margin: 0;
      padding-bottom: @spacing;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &-detail {
      display: table;
      &-image {
        display: table-cell;
        margin-right: @spacing/2;
        max-width: none;
      }
      &-info {
        display: table-cell;
        vertical-align: top;
      }
    }
    &-text {
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      word-wrap : break-word;
      //word-break: break-all;
      overflow-wrap : break-word;
      &-more {
        color: @subColor3;
        float: right;
      }
    }

    &-see-other {
      border-color: @baseGray;
      color: @keyColor;
      display: block;
      text-align: center;
      margin: 0 auto;
      &:hover {
        color: @keyColor;
      }
    }
  }

  // 共通
  &-input {
    &-label {
      display: block;
      font-size: @fontLarge;
      font-weight: normal;
      margin-bottom: @spacing/2;
      &-discription {
        color: @subColor10;
        font-size: @fontSmall;
        margin-bottom: @spacing/2;
      }
    }
    &-form {
      border-radius: 0;
      //margin-bottom: @spacing;

      // step4 tkr入力
      &-tkr {
        &-name {
          box-sizing: border-box;
          display: table-cell;
        }
        &-weight {
          box-sizing: border-box;
          display: table-cell;
        }
        &-range {
          &-unit {
          }
          &-symbol {
            background-color: @subColor5;
            display: table-cell;
            //margin: 0 -4px;
            padding: 9px;
            text-align: center;
            width: 30px;
          }
        }
      }
    }

    // step3 画像表示
    &-image-upload {
      display: table;
      margin-bottom: @spacing;
      &-preview {
        display: table-cell;
        margin-right: @spacing/2;
      }
      &-info {
        vertical-align: top;
        display: table-cell;
        &-text {
          margin-bottom: @spacing;
        }
        &-link {
          color: @keyColor;
          font-weight: normal;
        }
        &-form[type=file] {
          display: none;
        }
      }
    }

    // step2 ラベル入力
    &-labels-form {
      border: 1px solid @baseGray;
      margin-bottom: @spacing;
      padding: 4px;
      .input-labels-form{
        &-item {
          background-color: @subColor5;
          border-radius: 5px;
          display: inline-block;
          padding: 4px;
        }
        &-input {
          display: inline-block;
          &-text:focus {
            outline: none;
          }
        }
      }
    }

  }

  // step1 サンプルを見る
  &-show-sample {
    color: @keyColor;
    display: inline-block;
    margin-bottom: @spacing;
    &-text {
      color: @subColor3;
    }
  }

  // ボタン
  &-btn{
    &-next {
      background-color: @keyColor;
      border: none;
      color: @whiteColor;
      width: 100%;
      margin-bottom: @spacing;
    }
    &-cancel {
      color: @keyColor;
      border-color: @keyColor;
      box-shadow: none;
      width: 100%;
    }
  }

}

// /goals/approval/*
.goals-approval {
  padding: @spacing 0;

  &-heading {
    font-size: @fontLarger;
    font-weight: normal;
    margin: 0 0 10px;
    padding: 0 @spacing;
  }

  // /goals/approval/list
  &-list-item{
    background-color: @hoverRed;
    border-bottom: 1px solid @subColor4;
    padding: @spacing;
    &-link {
      color: @subColor1;
      display: table;
      &:focus, &:hover {
        color: @subColor1;
        text-decoration: none;
      }
    }
    &-image {
      display: table-cell;
      margin-right: @spacing;
    }
    &-info {
      display: table-cell;
      vertical-align: top;
      &-user-name {
        font-weight: normal;
      }
      &-goal-name {
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        word-wrap : break-word;
        //word-break: break-all;
        overflow-wrap : break-word;
        margin: 0 @spacing @spacing 0;
      }
    }
    &-detail {
      display: table-cell;
      vertical-align: middle;
    }
  }

  &-detail {
    &-user {
      padding: @spacing;
    }
    &-goal,
    &-tkr {
      background-color: @smokyWhite;
      margin: 0 @spacing;
      padding: @spacing;
    }
    &-comments {
      padding: @spacing @spacing * 2;
    }
    &-table {
      display: table;
    }
    &-image {
      display: table-cell;
      margin-right: @spacing;
    }
    &-info {
      display: table-cell;
      vertical-align: top;
    }
    &-view-more {
      display: inline-block;
      margin: 0 auto;
    }

  }


  // /goals/approval/detail

}
