.goal-detail-info-avator {
  .avator-rounded-link;
}

.goal-detail-avator-wrap {
  display: inline-block;
  width: 22%;
  margin-right: 1%;
}

.goal-detail-avator {
  width: 100%;
}

.goal-detail-numbers-wrap {
  width: 75%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.goal-detail-numbers {
  display: inline-block;
  width: 25%;
  text-align: center;
}

.goal-detail-counts {
  font-size: 24px;
  font-weight: bold;
  color: @veryDark;
}

.goal-detail-numbers-category {
  font-size: @fontSmallest;
}

.goal-detail-numbers-action {
  .goal-detail-numbers;
}

.goal-detail-numbers-member {
  .goal-detail-numbers;
}

.goal-detail-numbers-follower {
  .goal-detail-numbers;
}

.goal-detail-numbers-action-counts {
  .goal-detail-counts;
}

.goal-detail-numbers-member-counts {
  .goal-detail-counts;
}

.goal-detail-numbers-follower-counts {
  .goal-detail-counts;
}

.goal-detail-numbers-category-action {
  .goal-detail-numbers-category;
}

.goal-detail-numbers-category-member {
  .goal-detail-numbers-category;
}

.goal-detail-numbers-category-follower {
  .goal-detail-numbers-category;
}

.goal-detail-comments {
  margin: 12px 0;
}

.goal-detail-tab-group {
  width: 100%;
  font-size: 0;
  border-top: 2px solid #e6e6e6;
  box-shadow: 0 -1px #c4c4c4;
}

.goal-detail-tabs {
  width: 20%;
  display: inline-block;
  text-align: center;
  padding: 8px 0 4px;
  border-bottom: 1px solid #c4c4c4;
  box-shadow: 0 2px #e6e6e6;
  .no-underline;
  &:hover,
  &:target,
  &:active,
  &:focus {
    color: @basicPink;
  }
  color: @gray;
}

.goal-detail-tab-title {
  margin-top: 4px;
  font-size: @fontSmall;
}

.goal-detail-tab-icon {
  font-size: 32px;
}

.goal-detail-info-tab {
  .goal-detail-tabs;
}

.goal-detail-kr-tab {
  .goal-detail-tabs;
}
.goal-detail-action-tab {
  .goal-detail-tabs;
}
.goal-detail-member-tab {
  .goal-detail-tabs;
}
.goal-detail-follower-tab {
  .goal-detail-tabs;
}

.goal-detail-tab-active {
  background: #f6f5f1;
  color: @basicPink;
  border-color: #f6f5f1;
  box-shadow: none;
}

.goal-detail-upper-panel {
  padding: 10px 11px 0;
  margin-bottom: 12px;
}
.goal-detail-panels {
  background: #f6f5f1;
  border-radius: 0 0 4px 4px;
}

.goal-detail-goal-name {
  font-weight: bold;
}
.goal-detail-info-panel {
  background: #f6f5f1;
}

.goal-detail-weight-icon(@bg_color, @rotate_deg) {
  display: inline-block;
  background: @bg_color;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  text-align: center;
  line-height: 16px;
  font-size: 12px;
  transform: rotate(@rotate_deg);
  color: #f6f5f1;
}

.goal-detail-weight-5-icon {
  .goal-detail-weight-icon(@cherryBlossomPink, -90deg);
}

.goal-detail-weight-4-icon {
  .goal-detail-weight-icon(@cherryBlossomPink, -45deg);
}

.goal-detail-weight-3-icon {
  .goal-detail-weight-icon(@limeGreen, 0);
}

.goal-detail-weight-2-icon {
  .goal-detail-weight-icon(@skyBlue, 45deg);
}

.goal-detail-weight-1-icon {
  .goal-detail-weight-icon(@skyBlue, 90deg);
}
