/**
 * goal_column.less
 */

 .right-side-container-wrap {
   position: relative;
 }

.dashboard-krs {
  padding: 10px;

  &-header {
    border-bottom: 1px solid @subColor5;
    padding: 0 0 10px;
    display: flex;
    font-size: 14px;
    .title {
      font-weight: 400;
      width: 70px;
    }
    .goal-filter {
      margin-left: auto;
      cursor: pointer;
      flex: 1;
      .selected-goal {
        display: inline-block;
        vertical-align: top;
        text-align: right;
        width: 100%;
      }
    }
    .dropdown-opener {
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
    }
    .dropdown-menu {
      max-width: 280px;
    }
  }

  &-column {
    padding: 10px 0;
    border-bottom: 1px solid @subColor5;

    &-kr-opener {
      display: flex;
      justify-content: center;
      align-items: center;
      &:active,&:visited,&:target {
        color: @subColor3;
      }
    }
    &-wrapper {
      display: flex;
      .left {
        width: 82%;
        .kr-name {
          font-size: 13px;
          font-weight: bold;
          line-height: 18px;
          &.is-closed {
            max-height: 36px;
            min-height: 20px;
            overflow: hidden;
          }
        }
        .close-button {
          cursor: pointer;
          color: @subColor14;
        }
        .krProgress {
          line-height: 14px;
          font-weight: 500;
          cursor: default;
        }
      }
      .right {
        width: 18%;
        .action-button-wrapper {
          position: relative;
        }
        .action-button {
          width: 40px;
          height: 40px;
          display: block;
          margin-left: auto;
          top: 0;
          border-radius: 50%;
          padding: 2px;
          border: dashed 1px @subColor4;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          .fa-check-circle {
            font-size: 38px;
            color: @subColor4;
          }
        }
        .add-mark {
          position: absolute;
          display: block;
          bottom:0;
          right: 0;
          border-radius: 50%;
          width: 18px;
          text-align: center;
          .fa {
            color: #3897f0;
            font-size: 15px;
            background-color: #fff;
            border-radius: 50%;
            line-height: 12px;
          }
        }
      }
    }

    &-footer {
      margin-top: 6px;
      .action-link {
        color: @subColor3;
        text-decoration: none;
      }
    }

    &-subinfos {
      display: flex;
      .action-count {
        color: @veryDark;
        font-weight: 700;
        &-num {
          margin: 0 0 0 2px;
        }
      }
      .action-avators {
        margin: 0 4px 0 0px;
        img {
          border-radius: 50%;
          width: 18px;
          height: 18px;
          margin: 0 2px 0 0;
          vertical-align: top;
        }
        .more-counts {
          font-size: 16px;
          width: 18px;
          height: 18px;
          text-align: center;
          position: absolute;
          left: 0;
          top: 0;
          background: rgba(180,180,180,.7);
          border-radius: 50%;
        }
      }
    }
  }
}
