// /goals/approval/*
.goals-approval {
  padding: @spacing;

  &-heading {
    border-bottom: 1px solid @subColor4;
    font-size: @fontLarger;
    font-weight: normal;
    margin: 0 0 10px;
    padding: 0 0 @spacing;
  }
  &-header {
    &-explain {
      color: @subColor3;
      font-size: @fontLarge;
    }
    &-info {
      color: @keyColor;
      font-size: @fontLarge;
      margin-bottom: 10px;
    }
  }
  &-interactive-link {
    color: @subColor3;
    &-more{
      font-weight: bold;
      color: @subColor3;
    }
  }

  &-input {
    &-label {
      display: block;
      font-size: @fontLarge;
      font-weight: normal;
      text-align: left;
      &-discription {
        color: @subColor10;
        font-size: @fontSmall;
        margin-bottom: @spacing/2;
      }
    }
  }

  // /goals/approval/list
  &-list {
    border-top: 1px solid @subColor5;
    &.empty {
      border-top: none;
    }
    &-item{
      border-bottom: 1px solid @subColor5;
      &.is-complete {
        .mod-status, .fa {
          color: @subColor3;
        }
      }
      &.is-incomplete {
        background-color: @unreadRed;
        .mod-status, .fa {
          color: @keyColor;
        }
      }
      &.is-waiting {
        background-color: @whiteColor;
        .mod-status {
          color: @keyColor;
        }
        .fa {
          color: @subColor3;
        }
      }
      &:hover {
        background-color: @hoverRed;
      }
      &-link {
        color: @subColor1;
        display: table;
        padding: @spacing;
        &:focus, &:hover {
          color: @subColor1;
          text-decoration: none;
        }
      }
      &-image {
        display: table-cell;
        margin-right: @spacing;
        max-width: none;
      }
      &-info {
        display: table-cell;
        vertical-align: top;
        width: 100%;
        &-user-name {
          font-weight: normal;
        }
        &-goal-name {
          overflow: hidden;
          height: 38px;
          word-wrap : break-word;
          overflow-wrap : break-word;
          margin: 0 @spacing @spacing 0;
        }
      }
      &-detail {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        .fa {
          font-weight: bold;
          font-size: 28px;
          width: 25px;
        }
      }
      &-view-more-button {
        width: 100%;
        height: 100%;
        display: block;
        cursor: pointer;
      }
    }
  }


  // /goals/approval/detail
  &-detail {
    &-goal {
      padding: @spacing;
      &.mod-bgglay {
        background-color: @smokyWhite;
      }
      &-previous-info {
        color: @subColor3;
        font-weight: bold;
        margin: @spacing 0;
        border-top: 1px solid @subColor4;
        padding-top: @spacing;
      }
      &-card {
        &-info {
          display: table-cell;
          vertical-align: top;
          width: 100%;
          &-link {
            color: @subColor2;
            text-decoration: none;
          }
          &-tkr{
            margin-top: @spacing;
            &-title {
              font-size: @fontMedium;
              font-weight: bold;
              margin: 0;
            }
            &-list {
              list-style-type: disc;
              margin: @spacing/2 0 @spacing;
              padding-left: 1.5em;
              .mod-change {
                color: @keyColor;
              }
            }
          }
        }
      }
    }
    &-input-comment-form{
      width: 99%;
      margin-bottom: @spacing;
    }
    &-user {
      padding: @spacing;
      &.mod-bgglay {
        background-color: @smokyWhite;
      }
    }
    &-comments {
      padding: @spacing 15px 0;
      &-comment {
        margin-bottom: 10px;
      }
      &-form {
        display: table;
        width: 100%;
        &-textarea {
          display: table-cell;
          width: 100%;
          padding-right: 10px;
        }
        &-submit {
          display: table-cell;
          vertical-align: bottom;
          &-button {
            background-color: @keyColor;
            border: none;
            color: #fff;
          }
        }
      }
    }
    &-view-previous {
      text-align: center;
    }
    &-choice {
      text-align: center;
      margin: @spacing 0;
      padding-top: @spacing * 2;
      border-top: 1px solid @subColor4;
      &-block {
        overflow: hidden;
      }
    }
    &-check {
      margin: 0 @spacing/2;
      padding: @spacing @spacing/2;
    }
    &-table {
      display: table;
    }
    &-image {
      display: table-cell;
      margin-right: @spacing;
      max-width: none;
    }
    &-info {
      display: table-cell;
      vertical-align: top;
      width: 100%;
      &-name {
        font-weight: bold;
        &-link {
          color: @subColor2;
          text-decoration: none;
        }
      }
      &-important-and-clear-word {
        font-weight: bold;
        color: @keyColor;
      }
      &-alert {
        font-weight: bold;
        color: @keyColor;
      }
    }
    &-view-more {
      display: inline-block;
      margin: 0 auto;
    }
    &-view-more-comments {
      cursor: pointer;
    }
    &-bottom-choice {
      overflow: hidden;
      margin-top: @spacing * 3;
    }
  }
  &-btn {
    &-active {
      background-color: @keyColor;
      border: none;
      color: @whiteColor;
      width: 49%;
      margin-bottom: @spacing;
      &:hover {
        background-color: @serviceColor;
      }
    }
    &-fullsize-active {
      background-color: @keyColor;
      border: none;
      color: @whiteColor;
      width: 99%;
      margin-bottom: @spacing;
      &:hover {
        background-color: @serviceColor;
      }
    }
    &-gray-active {
      background-color: @baseLightGray;
      border: none;
      color: @subColor3;
      width: 49%;
      margin-bottom: @spacing;
      &:hover {
        background-color: @subColor4;
        color: @subColor2;
      }
    }
    &-fullsize-gray-active {
      background-color: @baseLightGray;
      border: none;
      color: @subColor3;
      width: 99%;
      margin-bottom: @spacing;
      &:hover {
        background-color: @subColor4;
        color: @subColor2;
      }
    }
    &-nonactive {
      border: none;
      width: 49%;
      margin-bottom: @spacing;
    }
    &-cancel {
      color: @subColor3;
      border-color: @subColor4;
      box-shadow: none;
      width: 99%;
      margin-bottom: @spacing;
      &:hover {
        color: @keyColor;
      }
    }
    &-choice {
      color: @subColor3;
      border-color: @subColor4;
      box-shadow: none;
      width: 49%;
      &:hover {
        color: @keyColor;
        border-color: @keyColor;
      }
    }
    &-choiced {
      color: @subColor2;
      border-color: @keyColor;
      box-shadow: none;
      width: 49%;
      &:hover {
        color: @subColor2;
        border-color: @keyColor;
      }
    }
  }
}
