/**
 * goal_column.less
 */

.goals-column-function-icon {
  // width: 40px;
  // height: 40px;
  // line-height: 40px;
  // text-align: center;
  // border-radius: 4px;
  // border: 1px solid @lightGray;
  // color: @lightGray;
  &:hover,
  &:target,
  &:active,
  &:focus {
  }
}

.click-follow-goals-read-more {
  color: @basicGray;
}

.click-collabo-goals-read-more {
  color: @basicGray;
}

.click-my-goals-read-more {
  color: @basicGray;
}



.right-column-vision-title {
  .line-number-limit-1(@baseGray);
}

.right-column-vision-objective {
  .line-number-limit-vision(@whiteColor);
  max-height: 88px;
  overflow: hidden;
}

/*goals-column-teamvision*/
.goals-column-teamvision-panel-base{
  background: @whiteColor;
  clear: both;
  margin-bottom: 30px;
  padding: 8px 4px;
  position: relative;
  border-radius: 8px;
  .shadow-default;
}

.feed-img-teamvision{
  height: 60px;
  width: 60px;
  margin: 5px 10px 10px;
  border-radius: 4px;
  border: 1px solid #808080;
}

.goals-column-teamvision-name {
  display: block;
  height: 40px;
  overflow: hidden;
}

.vision-more-read {
  display: block;
  text-align: left;;
  margin: 6px 0;
}


.js-right-side-fixed-onbottom {
  width: 324px;
  @media screen and (min-width: 1024px){
    width: 336px;
  }
  position: fixed;
  bottom: 92px;
}

.js-right-side-fixed-ontop {
  width: 324px;
  @media screen and (min-width: 1024px){
    width: 336px;
  }
  position: fixed;
  top: 60px;
}

.right-side-container-wrap {
  position: relative;
}
