/*
  headerのスタイル
 */

.header-dropdowns {
  .dropdown;
  .navbar-nav-fix;
  height: 48px;
  line-height: 48px;
  padding: 0;
}

.header-user-avator {
  list-style: none;
  height: 50px;
  margin: 10px 0;
  display: inline-block;
}

.header-user-home {
  display: inline-block;
}

.nav-icons {
  font-size: 20px;
  height: 48px;
}

.header-dropdown-user {
  .header-dropdowns;
}

.header-dropdown-add {
  .header-dropdowns;
}

.header-dropdown-message {
  .header-dropdowns;
}

.header-dropdown-notify {
  .header-dropdowns;
}

.header-dropdown-functions {
  .header-dropdowns;
}

.nav-icons .header-home {
  line-height: 30px;
}

.header-dropdown-icons {
  font-size: 20px;
  width: 36px;
  height: 20px;
  text-align: center;
  @media screen and (min-width: 768px){
    width: 36px;
  }
  color: #505050;
}

.header-dropdown-icon-add {
  .header-dropdown-icons;
}

.header-dropdown-icon-message {
  .header-dropdown-icons;
}

.header-dropdown-icon-notify {
  .header-dropdown-icons;
}

.header-dropdown-icon-functions {
  .header-dropdown-icons;
}

.body {
  padding: 50px 0 0 ;
}

.container {
  margin-top: 10px;
}

.header-nav-add-contents {
  .frame-arrow-icon;
}

.header-nav-function-contents {
  .frame-arrow-icon;
  top: 40px;
}

.header-nav-avator {
  .avator-rounded-link;
}

.btn-notify-header {
  .btn-animated;
}

.btn-message-header {
  .btn-animated;
}

.btn-addition-header {
  .btn-animated;
}

.btn-function-header {
  .btn-animated;
  padding: 0 !important;
}

.team-members-card-function-box {
  display: inline-block;
  vertical-align: middle;
}

.notify-card-list {
  line-height: 1.4;
}

// sp feed alt

.sp-feed-alt {
    background: #f5f5f5;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
}

.sp-feed-active {
    color: #231814;
    padding-bottom: 8px;
    border-bottom: 4px solid @aquaBlue;
}

.sp-feed-link {
    cursor: pointer;
    &:hover {
      border-bottom: 4px solid @aquaBlue;
    }
}
