/*
  headerのスタイル
 */

.header-dropdowns {
  .dropdown;
  .navbar-nav-fix;
  height: 48px;
  line-height: 48px;
  padding: 0;
}

.nav-icons {
  font-size: 20px;
  height: 48px;
}

.header-dropdown-user {
  .header-dropdowns;
}

.header-dropdown-add {
  .header-dropdowns;
}

.header-dropdown-message {
  .header-dropdowns;
}

.header-dropdown-notify {
  .header-dropdowns;
}

.header-dropdown-functions {
  .header-dropdowns;
}

.nav-icons .header-home {
  line-height: 30px;
}

.header-dropdown-icons {
  font-size: 20px;
  width: 36px;
  height: 20px;
  text-align: center;
  @media screen and (min-width: 768px){
    width: 36px;
  }
  color: #505050;
}

.header-dropdown-icon-add {
  .header-dropdown-icons;
}

.header-dropdown-icon-message {
  .header-dropdown-icons;
}

.header-dropdown-icon-notify {
  .header-dropdown-icons;
}

.header-dropdown-icon-functions {
  .header-dropdown-icons;
}

.body {
  padding: 100px 0 0;
    @media screen and (min-width: 992px){
      padding: 60px 0 0;
    }
}

.header-nav-add-contents {
  .frame-arrow-icon;
}

.header-nav-notify-contents {
  .frame-arrow-icon;
}

.header-nav-function-contents {
  .frame-arrow-icon;
  top: 40px;
}

.header-nav-avator {
  margin-top: 3px;
  margin-bottom: 3px;
  .avator-rounded-link;
}

.btn-notify-header {
  .btn-animated;
}

.btn-message-header {
  .btn-animated;
}

.btn-addition-header {
  .btn-animated;
}

.btn-function-header {
  .btn-animated;
  padding: 0 !important;
}

.team-members-card-function-box {
  display: inline-block;
  vertical-align: middle;
}
