.nav-search-form-group {
  width: 180px;
  margin-left: 10px;
  input {
    padding-left: 10px;
  }
}
.nav-form-group {
  position: relative;
  padding: 10px 0;
  input {
    padding-left: 27px;
  }
  i {
    font-size: 15px;
  }
}

.nav-team-select-parent {
  .select-parants(12px);
}

.nav-team-select {
  font-size: @fontSmall;
}
