/*
# This LESS MUST be merged into other less files.
 */

.btn-help {
    padding-right: 0;
}

.btn-lightGray {
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    background-image: none;
    color: #777;
}

.btn-lightGray:target,
.btn-lightGray:hover {
    border: 1px solid #aaa;
    background-color: #f0f0f0;
    background-image: none;
    color: #231814;
    text-decoration: none;
}
/*.btn_pureWhite-rougeOrange,*/
.btn-white{
    border: 1px solid #ccc;
    background-color: #fff;
    background-image: none;
}

.btn-white:focus,
.btn-white:target,
.btn-white:hover {
    border: 1px solid #aaa;
    background-color: #fff;
    background-image: none;
    color: #231814;
    text-decoration: none;
}

/*
.btn_pureWhite-rougeOrange:target,
.btn_pureWhite-rougeOrange:hover {
    border: 1px solid #aaa;
    background-color: #fff;
    background-image: none;
    color: #231814;
    text-decoration: none;
}
*/


.none {
    display: none;
}

.inline-block {
    display: inline-block;
}

/*キャンセルボタンのデザイン*/
.design-cancel {
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    background-image: none;
    color: #777;
}

.design-cancel:target,
.design-cancel:hover {
    border: 1px solid #aaa;
    background-color: #f0f0f0;
    background-image: none;
    color: #231814;
    text-decoration: none;
}
