.message-detail-panel-body {
  overflow: auto;
  height: 350px;
  margin: 0px;
  padding: 10px 8px 11px;
}

.message-detail-reply-input-area {
  height: 33px;
  overflow: hidden;
  word-wrap: break-word;
  resize: none;
  font-size: @fontSmall;
}
