.message-list-panel {

}

.message-list-panel-head {

}

.message-list-new-btn {
  color: @gray;
  font-size: @fontLarge;
  float: right;
  &:hover,
  &:active,
  &:target,
  &:focus {
    color: @gray;
  }
}

.message-list-new-btn-icon {

}

.message-list-panel-body {
  padding: 10px 11px;
}

.message-list-panel-cards {

}

.message-list-panel-card {

}

.message-list-panel-card-link {

}

.message-list-panel-card-avator {
  width: 24px;
  height: 24px;
}

.message-list-panel-card-avator-wrap {
  width: 20%;
  overflow: hidden;
  max-width: 64px;
}

.message-list-panel-card-names {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.message-list-panel-card-contants {

}

.message-list-panel-card-text {
  font-size: @fontSmall;
  color: @black;
  .line-number-limit-1;
}

.message-list-panel-card-aside {
  .aside-info;
}
