.message-list-panel {

}

.message-list-panel-head {

}

.message-list-new-btn {
  color: @gray;
  font-size: @fontLarge;
  float: right;
  &:hover,
  &:active,
  &:target,
  &:focus {
    color: @gray;
  }
}

.message-list-new-btn-icon {

}

.message-list-panel-body {
  padding: 10px 11px;
}

.message-list-panel-cards {

}

.message-list-panel-card {

}

.message-list-panel-card-link {

}

.message-list-panel-card-avator {

}

.message-list-panel-card-contants {

}

.message-list-panel-card-text {
  font-size: @fontSmall;
  color: @black;
  line-height: 15px;
  height: 15px;
}

.message-list-panel-card-aside {
  .aside-info;
}
