/*
  mixinを定義
 */

.link {
  color: @strongRed;
  font-weight: bold;
}

.divider {
  height: 1px;
  overflow: hidden;
  clear: both;
  margin: 0;
}

.us-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* 通知の赤丸 */
.notify-numbers {
  position: absolute;
  z-index: 10;
  color: #fff;
  font-size: 10px;
  background-color: @goalous;
  padding: 0;
  width: 22px;
  height: 22px;
  line-height: 22px;
  border-radius: 50%;
  display: block;
}


/*メニューなどの▲マーク*/
.frame-arrow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border: 1px solid #ccc;
}


.frame-arrow-pic {
    top: 98%;
    .frame-arrow;
}

.frame-arrow-pic::before {
    content: "";
    border: 7px solid transparent;
    /*noinspection CssOverwrittenProperties*/
    border-bottom: 7px solid #fff;
    position: absolute;
    right: 14%;
    top: -14px;
    z-index: 2;
}

.frame-arrow-pic::after {
    content: "";
    border: 7px solid transparent;
    /*noinspection CssOverwrittenProperties*/
    border-bottom: 7px solid #ccc;
    position: absolute;
    right: 14%;
    top: -15px;
}
/*/メニューなどの▲マーク*/

.font-heading {
  color: @veryDark;
  font-weight: bold;
}

/* Btn */
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  user-select: none;
}
