/*
+ 開発用のリボン
 */

.ribbon {
  .us-none;
  font-size: 18px;
  position: fixed;
  width: 140px;
  height: 30px;
  background: white;
  color: #fff;
  line-height: 30px;
  right: -40px;
  top: 52px;
  transform: rotateZ(30deg);
  text-align: center;
   z-index: -1999;
  font-family: 'Pathway Gothic One', sans-serif;
}

.ribbon-staging {
  background: rgba(0, 255, 0, .5);
}

.ribbon-hotfix {
  background: rgba(255, 0, 0, .5);
}

.ribbon-local {
  background: rgba(0, 0, 255, .5);
}
