/*
+ feedlyのChrome拡張アイコンを出させない。
 */
#feedly-mini {
  display: none;
}

/*
+ 開発用のリボン
 */

.ribbon {
  .us-none();
  font-size: 18px;
  position: fixed;
  width: 180px;
  height: 30px;
  background: @backgroundColor1;
  color: @whiteColor;
  line-height: 30px;
  right: -40px;
  top: 52px;
  transform: rotateZ(30deg);
  text-align: center;
   z-index: -1999;
  font-family: 'Pathway Gothic One', sans-serif;
}

.ribbon-staging {
  background: rgba(0, 255, 0, .5);
}

.ribbon-hotfix {
  background: rgba(255, 0, 0, .5);
}
.ribbon-develop {
  background: rgba(22, 120, 53, 0.5);
}
.ribbon-dev-india {
  background: rgba(120, 100, 0, 0.5);
}

.ribbon-local {
  background: rgba(0, 0, 255, .5);
}

/*
+ CakePHPのdebug
*/

div#debug-kit-toolbar {
  top: 120px;
}

div#debug-kit-toolbar #panel-tabs {
  box-shadow: none;
}

div#debug-kit-toolbar .panel-tab > a {
  background: #efefef;
  border: 1px solid #aaa;
}

.aside-info {
  color: @lightGray;
  font-size: @fontSmallest;
}


.profile-user-goals-terms-select {
  border-radius: 0 4px 4px 0 !important;
}

.goal-add-category-select-wrap {
  max-width: 60%;
}

.circle-uploaded-files-type-select-wrap {
  width: 144px;
}

.modal-edit-kr-set-importance-wrap,
.modal-add-kr-set-importance-wrap {
  width: 170px;
}

.team-setting-basic-plan {
  display: inline-block;
}

.team-setting-term-timezone,
.team-setting-term-begining,
.team-setting-term-span {
  display: inline-block;
}

.text-on-the-line-box {
  position: relative;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  .text {
    background: @white;
    color: @darkGray;
    font-weight: 500;
    padding: 0 20px;
    position: absolute;
  }

  hr {
    width: 100%;
  }
}

.circle {
  border-radius: 50%;
  display: inline-block;
}
