/*
+ feedlyのChrome拡張アイコンを出させない。
 */
#feedly-mini {
  display: none;
}

/*
+ 開発用のリボン
 */

.ribbon {
  .us-none;
  font-size: 18px;
  position: fixed;
  width: 180px;
  height: 30px;
  background: @backgroundColor1;
  color: @whiteColor;
  line-height: 30px;
  right: -40px;
  top: 52px;
  transform: rotateZ(30deg);
  text-align: center;
   z-index: -1999;
  font-family: 'Pathway Gothic One', sans-serif;
}

.ribbon-staging {
  background: rgba(0, 255, 0, .5);
}

.ribbon-hotfix {
  background: rgba(255, 0, 0, .5);
}

.ribbon-local {
  background: rgba(0, 0, 255, .5);
}

/*
+ CakePHPのdebug
*/

div#debug-kit-toolbar {
  top: 120px;
}

div#debug-kit-toolbar #panel-tabs {
  box-shadow: none;
}

div#debug-kit-toolbar .panel-tab > a {
  background: #efefef;
  border: 1px solid #aaa;
}

.aside-info {
  color: @lightGray;
  font-size: @fontSmallest;
}

/**
* ## <select>タグの親要素群
*/

.header-team-select-form {
  padding: 6px 0;
 .select-parants(@top: 13px; @right-mobile: 6%; @right-pc: 8%;);
}

.feed-action-goal-select-wrap {
 .select-parants();
}

.feed-action-kr-select-wrap {
 .select-parants();
}

.team-member-list-conditions-wrap {
  .select-parants();
}

.team-insight-wraps {
  .select-parants();
}

.team-group-vision-edit-group-select-edit {
  .select-parants();
}

.circle-insight-team-select,
.team-ranking-periods,
.team-ranking-members,
.team-ranking-types,
.team-ranking-timezones {
  .select-parants();
}

.profile-user-goals-terms-select-wrap {
  .select-parants();
}

.profile-user-goals-terms-select {
  border-radius: 0 4px 4px 0 !important;
}

.profile-user-action-terms-select-wrap {
  .select-parants();
}

.goal-add-category-select-wrap {
  .select-parants();
}

.circle-uploaded-files-type-select-wrap {
  width: 144px;
  .select-parants(@top: 3px; @right-mobile: 0; @right-pc: 0;);
}

.modal-edit-kr-change-unit,
.modal-add-kr-change-unit {
  .select-parants();
}

.modal-edit-kr-set-importance-wrap,
.modal-add-kr-set-importance-wrap {
  .select-parants();
  width: 170px;
}

.user-setting-lang-select-wrap,
.user-setting-timezone-select-wrap,
.user-setting-default-team-select-wrap {
  .select-parants();
}

.user-setting-notify-email-select,
.user-setting-notify-mobile-select {
  .select-parants();
}

.user-setting-profile-birthday {
  .select-parants();
}

.team-setting-basic-plan {
  .select-parants();
  display: inline-block;
}

.team-setting-term-timezone,
.team-setting-term-begining,
.team-setting-term-span {
  .select-parants();
  display: inline-block;
  max-width: 70%;
}
