/**
 * setup_guide.less
 */

.setup-container {
  overflow: hidden;
}

.setup-status {
  overflow: hidden;
  position: relative;
  height: 60px;
}

.setup-status-wrapper-progress {
  position: relative;
  height: 100%;
}

.setup-status-progress {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: 0!important;
}

.setup-status-number {
  height: 100%;
  position: relative;
}

.setup-status-number-elem {
  font-size: 50px;
  color: @serviceColor;
  font-weight: 400;
}

.setup-status-footer {
  color: @subColor4;
}

.setup-items {
  margin-bottom: 20px;
}

.setup-items-item {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  padding: 9px;
  background-color: #fff;
  border: 2px solid @subColor4;
  display: block;
  width: 100%!important;
  overflow: hidden;
}

.setup-items-item-radius-number {
  background-color: @subColor4;
  border: 1px solid @subColor4;
  border-radius: 50%;
  position: relative;
  width: 30px;
  height: 30px;
  display: table-cell;
	vertical-align: middle;
	text-align: center;
  color: #fff;
  font-size: @fontLarge;
}

.setup-items-item-explain {
  margin-left: 20px;
}

.setup-items-item-to-right {
  color: @subColor4;
}

.setup-tutorial-modal-footer {
  background-color: @serviceColor;
}

.setup-tutorial-texts {
  text-align: center;
  color: @subColor5;
  padding-bottom: 10px;
}

.setup-tutorial-text-title {
  font-weight: 400;
  font-size: @fontLarge;
  padding-bottom: 10px;
}

.setup-tutorial-navigation {
  color: @subColor5;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.setup-tutorial-navigation-skip {
  float: left;
}
.setup-tutorial-navigation-skip:hover {
  color: @darkGray;
}

.setup-tutorial-navigation-next {
  float: right;
}

.setup-tutorial-navigation-next:hover {
  color: @darkGray;
}

.setup-tutorial-navigation-indicator {
  letter-spacing: 10px;
  color: @cherryBlossomPink;
}

.setup-tutorial-navigation-indicator-selected {
  color: @subColor5;
}

.setup-items-item-icon-img {
  height: 50px;
  width: auto;
}

.setup-form-arrow {
  margin: 22px 5px 0;
}

.setup-explain {
  margin: 0 auto;
  width: 80%;
  height: auto;
}

.setup-explain-img {
  width: 100%;
  height: auto;
}
