/**
 * setup_guide.less
 */
.setup-items {
  margin-bottom: 20px;
  overflow: hidden;
}

.setup-items-item {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  padding: 9px;
  background-color: #fff;
  border: 2px solid @subColor4;
  display: table-cell;
	vertical-align: middle;
}

.setup-items-item-radius-number {
  background-color: @subColor4;
  border: 1px solid @subColor4;
  border-radius: 50%;
  position: relative;
  width: 30px;
  height: 30px;
  display: table-cell;
	vertical-align: middle;
	text-align: center;
  color: #fff;
  font-size: @fontLarge;
}

.setup-items-item-explain {
  margin-left: 20px;
}

.setup-items-item-to-right {
  color: @subColor4;
}
