/*
  teamVisionListで使うスタイル
 */

 .team

.teamvision-title {
  padding-top: 8px;
  color: @subColor1;

}

.teamvision-list-panel-base{
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.teamvision-list-panel-body{
  padding: 0 0;
}

.asd{
  padding: 3px;
}
