/*
  teamVisionListで使うスタイル
 */

 .teamvision-visionadd-btnarea{
   padding: 15px 0;
 }

.teamvision-list-panel-base{
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0.5;
}

.teamvision-list-panel-head{
  font-weight: bold;
  font-size: 18px;
  padding: 10px 15px;
  color: @black;
}

.teamvision-list-panel-cards{
  display: block;
  position: relative;
  height: 80px;
  width: 100%;
  border-top: 1px solid #ddd;
  padding: 0;
}
  .teamvision-list-panel-cards:hover{
    background-color: @smokyWhite;
  }

.teamvision-list-panel-image{
  float: left;
  margin: 8px;
  width: 44px;
}

@media @small {
  .teamvision-list-panel-image{
    width: 64px;
    margin: 8px 20px 8px 8px;
  }
}

.teamvision-list-title{
  font-weight: bold;
  margin-top: 10px;
}

.teamvision_setting_btn{
  color: @white;
  background-color: @white;
  border-color: #ddd;
  position: absolute;
  top: 20px;
  right: 15px;
}

.a{

}
