.team-select-box {
  background: @lighterGray;
  border-color: @darkGray;
  margin-bottom: 10px;
}

.team-members-search-card {
  background-color: @backgroundColor1;
}

.avatar-team-member-list {
  .avatar-rounded;
}

.team-members-card {
  padding: 16px;
}

.team-members-admin-name {
  font-weight: bold;
  color: @veryDark;
}

.team-members-card-admin-icon {
  color: @goalous;
}

.team-members-card-avatar-box {
  display: inline-block;
  vertical-align: top;
}

.team-members-card-description-box {
  display: inline-block;
}

.team-members-card-function-box {
  display: table;
  vertical-align: middle;
}

.team-members-card-function {
  display: table-cell;
  vertical-align: middle;
}

.team-member-count-label {
  display: inline-block;
  font-size: 18px;
  padding: 12px;
}

.team-member-invite-btn {
  display: inline-block;
  font-size: 14px;
  width: 172px;
  height: 32px;
  border: 1px solid @darkGray;
  border-radius: 16px;
  background: none;
}

.team-member-invite-btn-icon {
  color: @strongRed;
  margin-right: 4px;
}

.team-members-card-filled-icon {
  color: @softRed;
}

.team-members-list-conditions-input {
  font-family: fontawesome;
}
