.profile-user-avator-wrap {
  display: inline-block;
  width: 22%;
  margin-right: 1%;
}

.profile-user-avator {
  width: 100%;
}

.profile-user-numbers-wrap {
  width: 75%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.profile-user-numbers {
  display: inline-block;
  width: 25%;
  text-align: center;
}

.profile-user-counts {
  font-size: 24px;
  font-weight: bold;
  color: @veryDark;
}

.profile-user-numbers-category {
  font-size: @fontSmallest;
}

.profile-user-numbers-action {
  .profile-user-numbers;
}

.profile-user-numbers-post {
  .profile-user-numbers;
}

.profile-user-numbers-like {
  .profile-user-numbers;
}

.profile-user-name {
  font-weight: bold;
}

.profile-user-numbers-action-counts {
  .profile-user-counts;
}

.profile-user-numbers-post-counts {
  .profile-user-counts;
}

.profile-user-numbers-like-counts {
  .profile-user-counts;
}

.profile-user-numbers-category-action {
  .profile-user-numbers-category;
}

.profile-user-numbers-category-post {
  .profile-user-numbers-category;
}

.profile-user-numbers-category-like {
  .profile-user-numbers-category;
}

.profile-user-comments {
  margin: 12px 0;
}

.profile-user-tab-group {
  width: 100%;
  font-size: 0;
  border-top: 2px solid #e6e6e6;
  box-shadow: 0 -1px #c4c4c4;
}

.profile-user-tabs {
  width: 25%;
  display: inline-block;
  text-align: center;
  padding: 8px 0 4px;
  border-bottom: 1px solid #c4c4c4;
  box-shadow: 0 2px #e6e6e6;
  .no-underline;
  &:hover,
  &:target,
  &:active,
  &:focus {
    color: @basicPink;
  }
  color: @gray;
}

.profile-user-tab-title {
  margin-top: 4px;
  font-size: @fontSmall;
}

.profile-user-tab-icon {
  font-size: 32px;
}

.profile-user-goal-tab {
  .profile-user-tabs;
}
.profile-user-action-tab {
  .profile-user-tabs;
}
.profile-user-post-tab {
  .profile-user-tabs;
}
.profile-user-status-tab {
  .profile-user-tabs;
}

.profile-user-upper-panel {
  padding: 10px 11px 0;
}

.profile-user-panels {
  background: #f6f5f1;
  border-radius: 0 0 4px 4px;
}

.view-goals-panel {
  .profile-user-panels;
}

.view-actions-panel {
  .profile-user-panels;
}

.view-posts-panel {
  .profile-user-panels;
}

.view-info-panel {
  .profile-user-panels;
}

.profile-user-tab-active {
  background: #f6f5f1;
  color: @basicPink;
  border-color: #f6f5f1;
  box-shadow: none;
}

.profile-user-icons {
  background: @white;
}

.profile-user-action-related-goal-icon {
  font-size: @fontLarge;
}

.profile-user-action-view-switch {
  margin: 0;
  padding: 0 12px;
  text-align: right;
}
.profile-user-action-view-switch-img {
  display: inline-block;
  font-size: @fontLarge;
  margin: 0 8px 0 0;
}

.profile-user-action-view-switch-feed {
  display: inline-block;
  font-size: @fontLarge;
}

.profile-user-action-contents {
  padding: 4px 11px 10px;
}

.profile-goals-card-title-wrapper {
  .line-number-wrap;
}
.profile-goals-card-title {
  line-height: 16px;
}
.profile-goals-card-title-text {
  .line-number-limit-2(#f6f5f1);
  height: 40px;
  font-weight: bold;
}
