/*
  変数を定義
 */

@black: #000;
@white: #fff;
@goalous: #ae2f2f;
@goalousHover: #e78e99;
@select: #b36e6f;
@darkRed: #a96d73;
@strongRed: #c92434;
@softRed: #f16675;

@lightGray: #d2d4d5;

@fontSmallest: 10px;
// @fontSmaller:
@fontSmall: 12px;
@fontMedium: 14px;
@fontLarge: 16px;
// @fontLarger
// @fontLargest
