.social-signup {
    font-size: 14px;
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    text-shadow: 0 0px 0 #e8e7ea !important;
    color: #FFF !important;
    border: none;
    box-shadow: none;
    border-radius: 3px;
    margin: 3px;
    float: none;
    padding: 10px 15px;
}

.top-account > a.fb-signup {
    background-color: #35528A !important;
}

.top-account > a.google-signup {
    background-color: #CE1B21 !important;
}

.social-signup-icon {
    font-size: 4em;
    width: 60px;
    text-align: center;
}

.social-signup-text {
    font-size: 24px;
}

.signup-email {
    margin-top: 10px;
}

@media (max-width: 480px) {
    .social-signup-icon {
        font-size: 2em;
        width: 30px;
        text-align: center;
    }

    .social-signup-text {
        font-size: 20px;
    }

}