@import "skeleton.less";

.header {
  padding: 12px 0;
}

.section {
  margin: 0 0 12px;
  padding: 0 0 12px;
  border-bottom: 1px solid #eee;
}

.container {
  margin: 0 10%;
}

pre {
  white-space: pre-wrap;
}

.code-block {
  background-color: #eee;
  border-radius: 4px;
  padding: 8px;
  margin: 0;
}

.logo {
  vertical-align: top;
  margin-right: 16px;
}
