/* Goal create page css */
@import "../../variables/all";
@import "../../helpers/mixin";

#UserInvite {
  .title {
    font-size: @fontLarge;
    font-weight: 500;
    color: @strongRed;
  }
  .totalCharge {
    padding: 10px 0;
    margin: 0;
    //border: 1px solid @basicPink;
    &-label, &-value {
      padding: 0;
      display: inline-block;
      color: @basicPink;
      font-size: @fontLarger;
    }
    &-label {
      font-weight: 500;
      margin-right: 4px;
    }
    &-value {
      font-weight: 700;
    }
  }
  .totalChargeFormula {
    //border-top: 1px dashed #ccc;
    padding: 0;
    &-block {
      display: inline-block;
      vertical-align: middle;
    }
    &-num {
      font-size: @fontLarge;
      font-weight: 500;
      color: @subColor2;
    }
    &-unit {
      font-size: @fontMedium;
      font-weight: 300;
      color: @subColor2;
      margin-left: 4px;
    }
    &-symbol {
      font-size: @fontMedium;
    }
    &-fraction {
      display: block;
      margin: 0;
      padding: 0;
      & > span {
        display: block;
        padding: 0 8px;
      }
      &-exp {
        width: 100%;
        height: 1px;
        background: @subColor3;
        padding: 0;
        margin: 0;
      }
    }
  }
  .totalChargeFormulaDetail {
    border-collapse:separate;
    padding: 4px 0;
    //width: 100%;

    &-item {
      font-weight: 400;
      font-size: @fontMedium;
      color: @subColor3;
    }
    &-description {
      font-weight: 300;
      font-size: @fontMedium;
      color: @subColor3;
      padding-left: 12px;
    }
  }
  .serviceTermAgreement {
    text-align: center;
    padding: 4px;
    &-cb {
      vertical-align: middle;
    }
  }
}
