/* Goal detail page css */

@import "../variables/all";
@import "../helpers/mixin";
@import(reference) "../partials/parent_for_extend";
@import "../partials/cube_img_blocks";
@import "../partials/attached_file";
@import "../partials/view_actions";
@import(reference) "../partials/avatar";
@import "../partials/post";

.goal-detail {
  &-label {
    background-color: @baseGray;
    color: @keyColor;
    display: inline;
    padding: .1em .3em .1em;
    font-size: 90%;
  }
  &-label + &-label {
    margin-left: 4px;
  }
}

.goal-detail-upper-panel {
  padding: 10px 11px;
  position:relative;
}


.goal-detail-avatar-wrap{
  width:30%;
}

.goal-detail-info-avatar {
  &:extend(.avatar-bordered-rounded-link);
  width:38px;
  height:38px;
  @media @small{
    width: 44px;
    height: 44px;
  }
}

.goal-detail-avatar {
  width: 100%;
}

.goal-detail-goal-name-wrap {
  float:left;
  font-size: 10px;
  width:100%;
}

@media @small{
  .goal-detail-goal-name-wrap {
    font-size: 14px;
  }
}

@media @medium{
  .goal-detail-goal-name-wrap {
    font-size: 14px;
  }
}

@media @large{
  .goal-detail-goal-name-wrap {
    font-size: 18px;
  }
}

.goal-detail-upper-panel-main-flex{
  float:left;
  width:70%;
  opacity:0;
  transition:opacity .3s;
  &.mod-ready{
    opacity:1;
  }
}

.goal-detail-goal-name-top-section.mod-largest-text{
  font-size:2.5em;
}

.goal-detail-goal-name-top-section.mod-smallest-text{
  font-size:1em;
}

.goal-detail-numbers-wrap {
  text-align: center;
}

.goal-detail-button-wrap{
  margin:0;
  float:left;
  padding-left:11px;
  width:100%;
}

.goal-detail-button-wrap .col:last-of-type .btn{
  float:right;
}

.goal-detail-button-wrap .btn{
  width: 97%;
}

.goal-detail-button-wrap .btn-ellipsis{
  padding:8px 1rem;
}

.goal-detail-button-wrap .btn-profile-edit{
  margin-top:0;
  height:auto;
  padding:8px 2rem;
}

.goal-detail-more-details-wrap{
  float:left;
  padding-left:0;
  margin:1rem 0 0 0;
  clear:left;
  position: relative;
  z-index: 1;
  text-align:center;
  width:29%;
}

.goal-detail-more-details-wrap.mod-raised{
  margin-top:-1.3em;
}

.goal-detail-more-details-link{
  color: @basicPink;
  text-transform:capitalize;
  &:hover,
  &:active,
  &:focus,
  &:visited{
    text-decoration: none;
  }
}

.goal-detail-more-details-link span{
  color:@basicGray;
}

.goal-detail-more-details-link:hover span{
  color: @basicPink;
}

.goal-detail-numbers {
  display: inline-block;
  width: 25%;
  text-align: center;
}

.goal-detail-counts {
  font-size: 20px;
  font-weight: bold;
  color: @veryDark;
  margin:.5rem 0 0;
}

.goal-detail-numbers-category {
  font-size: @fontMedium;
}

.goal-detail-numbers-action {
  &:extend(.goal-detail-numbers);
}

.goal-detail-numbers-member {
  &:extend(.goal-detail-numbers);
}

.goal-detail-numbers-follower {
  &:extend(.goal-detail-numbers);
}

.goal-detail-numbers-action-counts {
  &:extend(.goal-detail-counts);
}

.goal-detail-numbers-member-counts {
  &:extend(.goal-detail-counts);
}

.goal-detail-numbers-kp-counts {
  &:extend(.goal-detail-counts);
}

.goal-detail-numbers-category-action {
  &:extend(.goal-detail-numbers-category);
}

.goal-detail-numbers-category-member {
  &:extend(.goal-detail-numbers-category);
}

.goal-detail-numbers-category-follower {
  &:extend(.goal-detail-numbers-category);
}

.goal-detail-comments {
  margin: 12px 0;
}

.goal-detail-tab-group {
  width: 100%;
  float:left;
  background:#fff;
  position:relative;
  z-index:2;
  border-top:1px solid @baseGray;
  border-bottom:1px solid @baseGray;
}

.goal-detail-tabs {
  display: inline-block;
  text-align:center;
  background-color:#fff;
  border-bottom:4px solid #fff;
  font-size:11px;
  padding:0 1rem;
  &:extend(.no-underline);
  &:hover,
  &:target,
  &:active,
  &:focus {
    color: @basicPink;
  }
  color: @basicGray;
}

.goal-details-tab-active{
  color: @basicPink !important;
  border-bottom:4px solid @basicPink !important;
  padding-bottom: 1px;
}

.goal-detail-tab-title {
  margin:0 0 .25rem 0;
  font-size: @fontSmall;
  font-weight:400;
}

.goal-detail-tab-icon {
  font-size: 20px;
  line-height:1.4em;
  margin:.5rem 0 0;
}

.goal-detail-kr-tab {
  &:extend(.goal-detail-tabs);
  border-top-left-radius: 0;
  border-right:none !important;
  border-left:none !important;
}

.goal-detail-action-tab {
  &:extend(.goal-detail-tabs);
}

.goal-detail-member-tab {
  &:extend(.goal-detail-tabs);
  border-top-right-radius: 0;
  border-right:none !important;
  border-left:none !important;
}

.goal-detail-member-edit{
  float:right;
  margin-top:.85em;
}

.goal-detail-panels {
  background: #fff;
  border-radius: 0 0 4px 4px;
  padding-top:1rem;
  float: left;
  width: 100%;
}

.goal-detail-info-panel {
  &:extend(.goal-detail-panels);
}

.goal-detail-more-details-link{
  padding:.25em 0;
}

.goal-detail-more-details-info{
  min-height:0 !important;
  transition: height .3s ease;
  display:block;
  overflow:hidden;
  opacity:0;
  position:absolute;
  &.mod-height-read{
    opacity:1;
    position:static;
  }
}
.goal-detail-more-details-info .goal-detail-items{
  padding:1em 2em;
}

.goal-detail-info-left-icons {
  display: inline-block;
  vertical-align: top;
  margin-right: 4px;
}

.goal-detail-info-data {
  display: inline-block;
}

.goal-detail-info-progress {
  display: inline-block;
}

.goal-detail-info-due {
  display: inline-block;
}

.goal-detail-members-remaining {
  position: relative;
  display: inline-block;
  text-align: center;
  line-height: 36px;
  width: 44px;
  height: 44px;
  font-weight: bold;
  font-size: 16px;
  &:extend(.no-underline);
}

.goal-detail-member-more-counts {
  font-size: @fontLarge;
  width: 44px;
  height: 44px;
  line-height: 38px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(180, 180, 180, .7);
  .border-clear(3px);
  border-radius: 50%;
}

.goal-detail-item {
  position: relative;
  padding-left: 0.4em;
  margin-bottom: 0.5em;
  &:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: '';
    position: absolute;
    left: -1em;
    top: 0;
  }
}

.goal-detail-items {
  padding-left: 1em;
}

.goal-detail-goal-name-top-section {
  font-weight: bold;
  margin-top: .3rem;
  padding-left: 11px;
  line-height: 1.3em;
  word-wrap:break-word;
}

.goal-detail-goal-name {
  font-weight: bold;
  .goal-detail-item;
  &:before {
    content: '\f024';
  }
}

.goal-detail-goal-category {
  .goal-detail-item;
  &:before {
    content: '\f114';
  }
}

.goal-detail-goal-labels {
  .goal-detail-item;
  &:before {
    content: '\f02c';
    margin-top: 4px;
  }
}

.goal-detail-goal-date {
  .goal-detail-item;
  &:before {
    content: '\f073';
  }
}

.goal-detail-goal-followers {
  .goal-detail-item;
  &:before {
    content: '\f1ae';
  }
}

.goal-detail-goal-description {
  .goal-detail-item;
  &:before {
    content: '\f24a';
  }
}

.goal-detail-info-followers{
  .goal-detail-item;
  &:before {
    content: '\f004';
  }
}

.goal-detail-goal-groups{
  .goal-detail-item;
  &:before {
    content: '\f0c0';
  }

  .archived-toggle {
    color: @color-04-gray;
  }

  .archived-list {
    display: none;
  }

}
.goal-detail-kr-panel {
  &:extend(.goal-detail-panels);
}

.goal-detail-kr-progress-score {
  margin-bottom: 12px;
}

.goal-detail-goal-progress-text {
  text-align: center;
  color: #fff;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

.goal-detail-goal-progress-bar-wrap {
  overflow: visible;
  margin: 1.5 auto;
}

.goal-detail-goal-progress-bar {
  border-radius: 4px 0 0 4px;
  position: relative;
  overflow: visible;
}

.goal-detail-kr-add-heading {
  font-size: @fontMedium;
  margin: 0;
  padding: 0;
  line-height: normal;
}

.goal-detail-kr-card {
  background: @backgroundColor1;
  border-radius: 4px;
  padding: 10px 0;
  .borderBottom &:not(:last-child) {
    margin: 8px 0;
  }
}

.goal-detail-kr-cards-contents {
  display: inline-block;
  width: 62%;
}

.goal-detail-kr-achieve-wrap {
  width: 48px;
  display: inline-block;
  vertical-align: top;
}

.goal-detail-kr-achieve-icon(@fontColor) {
  font-size: 32px;
  display: block;
  margin: auto;
  text-align: center;
  vertical-align: top;
  color: @fontColor;
}

.goal-detail-kr-achieve-yet {
  .goal-detail-kr-achieve-icon(@lightGray);
}

.goal-detail-kr-achieve-already {
  .goal-detail-kr-achieve-icon(@basicPink);
}

.goal-detail-kr-card-title {
  font-size: @fontMedium;
  font-weight: bold;
  margin: 0;
}

.goal-detail-action {
  padding: 0;
  margin: 8px 0 8px 48px;
  width: 100%;
}

.goal-detail-action-list {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 8px;
}

.goal-detail-add-action {
  width: 48px;
  height: 48px;
  display: block;
  text-align: center;
  border: 1px dashed @basicGray;
  border-radius: 4px;
  color: @basicGray;
  &:extend(.no-underline);
  &:hover,
  &:target,
  &:active,
  &:focus {
    border: 1px solid @darkGray;
    color: @darkGray;
  }
}

.goal-detail-add-action-text {
  font-size: @fontSmallest;
  letter-spacing: -1px;
  line-height: 12px;
}

.goal-detail-panel-read-more {
  background: #fff;
  border-radius: 0 0 4px 4px;
  float:left;
  padding:1.2rem 0 1rem 0;
  position:relative;
  top:-.2rem;
}

.goal-detail-member-panel {
  &:extend(.goal-detail-panels);
  padding: 18px 15px;
}

.goal-member-navigation{
  width:100%;
  float:left;
  margin:1rem 0;
  border-bottom:none !important;
}

.goal-member-navigation-link{
  text-align:center;
}

.goal-member-navigation-link a{
  text-align:center;
  padding:.25em 1em;
  border-bottom:2px solid @white;
  color: @trueGray;
}

.goal-member-navigation-link.mod-active a{
  border-bottom:2px solid @darkBlack;
  color:@darkBlack;
}

.goal-detail-member-cards, .goal-detail-follower-cards {
  border-radius: 4px;
}

.goal-detail-member-card, .goal-detail-follower-card {
  background-color:@baseLightGray;
  padding: 1em;
  min-height: 64px;
  float:left;
  width:100%;
}


.goal-detail-member-name {
  font-weight: bold;
  font-size: @fontLarge;
  color: @veryDark;
}

.goal-detail-member-avatar {
  &:extend(.avatar-bordered-rounded);
  width: 64px;
  display: inline-block;
  vertical-align: top;
}

.goal-detail-member-info {
  display: inline-block;
  vertical-align: top;
  max-width: 80%;
}

.goal-detail-member-owner {
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  color: #f6f5f1;
  background: @goalous;
  text-align: center;
  line-height: 24px;
}

.goal-detail-follower-panel {
  &:extend(.goal-detail-panels);
  padding: 18px 15px;
  border-radius: 4px;
}

.goal-detail-follower-avatar {
  &:extend(.avatar-bordered-rounded);
  width: 64px;
  display: inline-block;
}

.goal-detail-follower-info {
  display: inline-block;
  vertical-align: top;
}

.goal-detail-follower-name {
  font-weight: bold;
}

.goal-detail-member-collab-way {
  .line-number-limit-2(#faf9f7);
}

.goal-detail-kr-flex {
  display: -webkit-flex;
  display: flex;
}

.goal-detail-kr-block-main {
  flex: 1;
}

.goal-detail-kr-block-side {
  padding-left: 8px;
}

.goal-detail-kr-info-counts {
  margin: 0;
  padding: 0;
  &-title, &-description {
    display: inline-block;
    font-size: 13px;
  }

  &-description {
    margin: 0 8px 0 2px;
  }
}

.goal-detail-toggle {
  display: inline-block;

  a {
    color: @darkGray;

    &:hover {
      color: #4c4d4e; 
      text-decoration: none;
    }

    &.active {
      color: @basicPink;

      &:hover {
        color: #91170a;
      }
    }
  }
}
