@import "../variables/all";
@import "../helpers/mixin";

.choose-payment{
    padding: 2rem 0;
    .form-horizontal{
        margin:0 auto 2rem auto;
        max-width:300px;
        width:100%;
    }
    .btn{
        float:right;
        margin:1rem 0 2rem 0;
    }
    .payment-options{
        overflow:hidden;
        height:0px;
        transition: height .3s;
    }
}

.panel-container{
    max-width:600px;
    width:90%;
    margin: 0 auto;
    @media @small{
        width:75%;
    }
    h3{
        flex-basis:100%;
        margin: 0 0 1em 0;
    }
    h4{
        margin-bottom:0;
    }
    i{
        font-size: 3rem;
        margin: .25em 0;
    }
    p{
        line-height:1.2em;
    }
}
.payment-options{
    width:100%;
}
.payment-option-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
.payment-option{
    max-width:300px;
    flex-basis:100%;
    min-height:175px;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    border:1px solid @cGray;
    background: @smokyWhite;
    border-radius: 3px;
    position:relative;
    cursor:pointer;
    @media @medium{
        flex-basis:45%;
    }
    &.upcoming{
        background:transparent;
        border: .5rem dashed @cGray;
        cursor: normal;
        h4, p, a, i{
            color:@cGray;
        }
    }
    h4{
        width:100%;
    }
    p{
        padding-bottom: 2em;
        &.coming-soon{
            padding-bottom:0;
        }
    }
    .payment-option-setup-link, .coming-soon{
        position:absolute;
        bottom:1rem;
        left:0;
        width:100%;
    }
}
.company-info-fieldset{
    margin-top:1rem;
}
.company-info-legend{
    font-size:16px;
    font-weight:600;
    color:@darkBlack;
    border-top:1px solid @baseGray;
    border-bottom:none;
    margin:0; 
    padding:1rem 15px;
}
.enter-cc-info, .company-info{
    max-width: 500px;
    margin: 0 auto;

    h3{
        margin:1em 15px;
    }

    .outcome {
    float: left;
    width: 100%;
    text-align: center;
    }

    .success, .error {
    display: none;
    font-size: 13px;
    }

    .success.visible, .error.visible {
    display: inline;
    }

    .error {
    color: #E4584C;
    }

    .success {
    color: #666EE8;
    }

    .success .token {
    font-weight: 500;
    font-size: 13px;
    } 

    form{
        width:100%;
    }

    .form-group{
        margin-bottom:1em;
        padding:0 15px;
    }

    .form-control.cc-field{
        padding:0 1rem;
    }

    .payment-info-group{
        background:@baseLightGray;
        padding:1rem;
        margin:1rem 15px;
        .cc-info-value{
            float:right;
        }
        hr{
            border-top:1px dashed @darkBlack;
            margin:.5rem 0;
        }
    }

    .checkbox{
        padding:1rem 15px;
        input{
            margin-bottom:1rem;
        }
    }

    .panel-footer{
        display:flex;
        justify-content: flex-end;
        flex-wrap:wrap;
        .btn{
            margin:0 0 0 1rem;
        }
        .outcome{
            flex-basis:100%;
        }
    }
}

@keyframes confetti1 {
    0%   {
        transform: rotateX(0deg) rotateZ(0deg);
        top:-1vh;
    }
    100% {
        transform: rotateX(540deg) rotateZ(360deg);
        top:60vh;
    }
}

@keyframes confetti2 {
    0%   {
        transform: rotateX(0deg) rotateZ(0deg);
        top:-2vh;
    }
    100% {
        transform: rotateX(-900deg) rotateZ(-540deg);
        top:60vh;
    }
}

@keyframes confetti3 {
    0%   {
        transform: rotateX(0deg) rotateZ(0deg);
        top:-3vh;
    }
    100% {
        transform: rotateX(360deg) rotateZ(-900deg);
        top:60vh;
    }
}

@keyframes confetti4 {
    0%   {
        transform: rotateX(0deg) rotateZ(0deg);
        top:-2vh;
    }
    100% {
        transform: rotateX(-720deg) rotateZ(-1080deg);
        top:60vh;
    }
}

.payment-thanks{
    text-align:center;
    position:relative;
    max-width:500px;
    margin:0 auto;
    .panel-container{
        min-height:20rem;
        padding:2rem 0;
        position:relative;
        z-index:2;
        @media @medium{
            min-height:30rem;
        }
    }
    .thank-you-headline{
        color:@goalous;
        font-weight: 600;
    }
    .thank-you-text{
        font-weight:600;
        max-width:400px;
        width:100%;
        font-size:18px;
        margin:0 auto 2rem auto;
    }
    .confetti-cannon{
        position:absolute;
        overflow:hidden;
        height:100%;
        width:100%;
        top:0;
        left:0;
        z-index:1;
        .confetti{
            transform-origin: 50% 50%;
            display:block;
            background-color:@goalous;
            position:absolute;
            left:10px;
            top:-20px;
            &.confetti-1{
                animation-name:confetti1;
                animation-duration: 3s;
                width:5px;
                height:10px;
                animation-timing-function: linear;
                transition: top 3s ease-in-out;
            }
            &.confetti-2{
                animation-name:confetti2;
                animation-duration: 3s;
                width:3px;
                height:5px;
                background:yellow;
                animation-timing-function: ease-in-out;
                transition: top 4s linear;
            }
            &.confetti-3{
                animation-name:confetti3;
                animation-duration: 4s;
                width:5px;
                height:5px;
                background:@subColor6;
                border-radius:50%;
                animation-timing-function: ease-out;
                transition: top 5s ease-out;
            }
            &.confetti-4{
                animation-name:confetti4;
                animation-duration: 5s;
                width:7px;
                height:7px;
                background:@aquaBlue;
                animation-timing-function: ease-out;
                transition: top 5s ease-out;
            }
        }
    }
}

.service-disabled{
    padding: 20px 0;
}

.service-disabled-headline{
    font-size: 48px;
    color:@basicGray;
    text-align: center;
    width:100%;
}

.service-disabled-subscribe{
    width:10em;
    display:block;
    margin: 0 auto 2em auto;
    font-size: 20px;
}


.payment-history{
    max-width: 800px;
    width: 100%;
    margin:0 auto;
    padding: 2rem 0;
}

.payment-history-table{
    width:100%;
    border: 1px solid @baseGray;
    font-size:10px;
    @media @small{
        font-size:14px;
    }
    td{
        padding:.25rem .5rem;
    }
}

.payment-history-table-head{
    background-color:@baseGray;
    font-weight: 600;
    td{
        border-right: 1px solid @white;
        &:last-of-type{
            border-right: none;
        }
    }
}
.subscription-status{
    max-width:500px;
    margin: 0 auto;
    padding: 2rem 0;
}

.subscription-status-headline{
    font-weight: 500;
}

.status-text{
    font-weight: 600;
    i{
        margin-right: 1rem;
        &.free-trial, &.subscribed{
            color:@subColor7;
        }
        &.read-only{
            color: @paleYellow;
        }
        &.deactivated{
            color:@acidRed;
        }
    }
}


.payment-history-table-body{
    background-color: @white;
    color:@darkBlack;
    tr{
        border-bottom: 1px solid @baseGray;
        td{
            border-right: 1px solid @baseGray;
            &:last-of-type{
                border-right:none;
            }
        }
    }
}

.payment-history-view-receipt{
    padding: .25rem 0;
    width: 5rem;
    text-align:center;
    display:block;
    margin: 0 auto;
    border-color: @darkBlack;
    background-color: @white;
    transition: background-color .3s, border-color .3s;
    &:hover{
        border-color: @basicPink;
        background-color: @basicPink;
    }
}

.payment-success{
    color:@subColor6;
}

.subscription-status-detail{
    margin: 1rem 0;
    line-height: 1.5em;
    padding-right: 5rem;
}

.panel-container{
    .team-price-info-headline{
        text-transform: uppercase;
        font-size: 10px;
        color: @basicGray;
        font-weight: 600;
        margin:1rem 0 .5rem 0;
    }

    .subscribe-btn{
        margin: 1rem 0;
    }

    .team-price-info-icon{
        margin:0 .5rem 0 0;
        color: @darkBlack;
        font-size: 18px;
    }

    .team-price-info-number{
        font-size: 20px;
        color: @darkBlack;
    }
}