@import "../variables/all";
@import "../helpers/mixin";

#pdfReceipt {
  padding: 15px;
  color:@darkBlack;
  background:@white;
  float: left;
  width:100%;
  header {
    border-bottom: solid @darkGray 1px;
    padding: 15px 0;
    float: left;
    width: 100%;
    .logo {
      width:200px;
      float:left;
      img {
        height: auto;
        width: 100%;
      }
    }
    .receipt-status {
      width: 130px;
      border: 2px solid @subColor7;
      border-radius: 10px;
      text-align:center;
      padding: 10px;
      font-size: 15px;
      font-weight: 600;
      color: @subColor7;
      float:right;
      margin:0;
    }
  }
  .invoice-overview{
    float: left;
    width: 100%;
    border-bottom: 2px solid @darkBlack;
    padding: 15px 0;
    .overview-item{
      width: 25%;
      padding: 15px;
      min-height: 5em;
      font-size: 14px;
      float:left;
      &:nth-child(even){
        width:75%;
      }
      h3{
        font-size: 14px;
        margin-top:0;
      }
    }
  }
  .invoice-table{
    table{
      width:90%;
      margin-left:5%;
    }
    tr{
      border-bottom: 1px solid @darkGray;
      &:last-of-type{
        border-bottom: none;
      }
    }
    th,td{
      padding: 10px 0;
    }
    footer{
      border-top: 2px solid @darkBlack;
      border-bottom: 1px solid @darkGray;
      margin:0;
      padding: 10px 5%;
      float:left;
      width:100%;
      strong{
        float:left;
      }
      .total-label{
        width:84.1%;
        text-align:right;
        padding-right: 30px;
      }
    }
  }
  .invoice-contact{
    padding: 80px 15px;
    float: left;
    width: 100%;
    color:@darkGray;
    font-weight: 600;
    address{
      font-size: 16px;
      float: left;
      width: 100%;
    }
    footer{
      width: 60%;
      float:right;
    }
  }
}