/* Team members page css */

@import "../variables/all";
@import "../helpers/mixin";
@import(reference) "../partials/avatar";

.team-select-box {
  background: @lighterGray;
  border-color: @darkGray;
  margin-bottom: 10px;
}

.team-members-search-card {
  background-color: @backgroundColor1;
}

.avatar-team-member-list {
  &:extend(.avatar-rounded);
}

.team-members-card {
  padding: 16px;
}

.team-members-admin-name {
  font-weight: bold;
  color: @veryDark;
}

.team-members-card-admin-icon {
  color: @goalous;
}

.team-members-card-avatar-box {
  display: inline-block;
  vertical-align: top;
}

.team-members-card-description-box {
  display: inline-block;
}

.team-members-card-function-box {
  display: table;
  vertical-align: middle;
}

.team-members-card-function {
  display: table-cell;
  vertical-align: middle;
}

.team-member-count-label {
  display: inline-block;
  font-size: 18px;
  padding: 12px;
}

.team-member-invite-btn {
  display: inline-block;
  font-size: 14px;
  width: 172px;
  border: 1px solid @darkGray;
  background: none;
}

.team-member-invite-btn-icon {
  color: @strongRed;
  margin-right: 4px;
}

.team-members-card-filled-icon {
  color: @softRed;
}

.team-members-list-conditions-input {
  font-family: fontawesome;
}

.team-member-invite-form{
  float:left;
  width: 100%;
}

.team-member-invited-submit{
  opacity: 0;
  width:0;
  display:none;
  transform: translateX(0px);
  position: relative;
  top:-1px;
}

.team-member-invited-name{
  background:transparent;
  border: none;
  color:@darkBlack;
  border:1px solid;
  border-color: @white;
  padding: 8px 10px 8px 0px;
  transition: padding .3s, border-color .3s;
  border-radius: 4px;
  text-overflow:ellipsis;
  width: 50%;
  &.focused{
    border-color: @acidRed;
    padding: 8px 10px;
    outline:none;
    overflow:hidden;
    +.team-member-invited-submit{
      width:auto;
      display:inline-block;
      animation: fade-slideout .3s forwards;
      animation-delay: .1s;
    }
  }
}

.team-member-table{
  position: relative;
  .time-card{
    float:left;
  }
  .feedback{
    float:left;
    margin-left:10px;
    opacity: 0;
    transform: translateX(10px);
    transition: transform .3s, opacity .3s;
  }
  .success{
    color:@subColor7;
    opacity:1;
    transform: translateX(0px);
  }
  .success_revoke{
    color:@acidRed;
    opacity:1;
    transform: translateX(0px);
  }
  .error{
    color:@acidRed;
    opacity:1;
    transform: translateX(0px);
  }
  .dropdown-toggle{
    transform: translateX(0px);     
    &.remove{
      animation: dropdown-slideout .5s forwards;
    }
  }
}

.revoke-modal {
  &-wrapper {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }

  &-area {
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #ffffff;

    @media @small {
      width: 50%;
    }
  }

  &-close {
    margin: 4%;
  }

  &-title {
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
  }

  &-text {
    margin-left: 5%;
    margin-bottom: 5%;
  }

  &-button {
    text-align: right;
    margin-bottom: 5%;
    &-cancel {
      margin-right: 5%;
      background-color: @whiteColor;
      border: 1px solid @cGray;
    }

    &-execute {
      margin-right: 5%;
      color: @whiteColor;
      background-color: @basicPink;
      border: 1px solid @acidRed;
      box-shadow: 0 0 6px @softRed;
    }
  }
}

@keyframes dropdown-slideout {
  0%{
    opacity: 1;    
  }
  100%{
    opacity: 0;
    display: none;
  }
}

@keyframes fade-slideout{
  0%{
    transform: translateX(-10px);
    opacity: 0;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}
