/* Default topic list */
.topicList {
  font-size: 12px;
  &-header {
    padding: 10px;
    .searchBox {
      margin-bottom: 20px;
    }
    &-middle {
      overflow: hidden;
      font-size: 14px;
      &-label {
        font-weight: bold;
        color: @modGray;
        float: left;
      }
      &-add {
        color: @darkBlack;
        float: right;
        .fa {
          color: @keyColor;
        }
      }
    }
  }
  &-item {
    width: 100%;
    &-link {
      height: 100%;
      width: 100%;
      display: flex;
      padding: 10px;
      color: @black;
      text-decoration: none;
      &.is-unread {
        background: @unreadRed;
      }
      &.is-hover {
        color: @black;
        background: @hoverRed;
        text-decoration: none;
      }
      &:hover {
        color: @black;
        text-decoration: none;
      }
      -webkit-touch-callout:none;
      .avatorsBox {
        .avatorsBox(48px);
      }
    }
    &-main {
      flex: 1;
      min-width: 0;
      margin-left: 10px;
      &-header {
        display: flex;
        &-title {
          min-width: 0;
          font-weight: 500;
          overflow: hidden;
          &.mod-bold{
            font-weight:700;
          }
        }
        &-count {
          color: @black;
          width: auto;
          margin-left: 4px;
        }
      }
      &-body {
      }
      &-footer {
        color: @subColor3;
        .is-read {
          color: @subColor6;
        }
      }
    }
  }
}

/* Search result topic list */
.topicSearchList {
  padding-bottom: 10px;
  font-size: 12px;
  &-header {
    padding: 10px;
    display: flex;
    &-searchBox {
      flex: 1;
    }
    &-cancel {
      margin-left: 10px;
      width: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 14px;
      &-button {
        color: @darkBlack;
        cursor: pointer;
      }
    }
  }
  &-item {
    width: 100%;
    &-link {
      height: 100%;
      width: 100%;
      display: flex;
      padding: 0 0 0 10px;
      color: @black;
      text-decoration: none;
      &.is-hover {
        color: @black;
        background: @hoverRed;
        text-decoration: none;
      }
      &:hover {
        color: @black;
        text-decoration: none;
      }
      -webkit-touch-callout:none;
    }
    .avatorsBox {
      margin: 2px 0;
      .avatorsBox(40px);
    }
    &-main {
      height: 44px;
      flex: 1;
      min-width: 0;
      margin-left: 10px;
      line-height: 18px;
      border-bottom: 1px solid @subColor4;
      padding-top: 4px;
      &-header {
        display: flex;
        &-title {
          min-width: 0;
          font-weight: 700;
          overflow: hidden;
        }
        &-count {
          color: @black;
          width: auto;
          margin-left: 4px;
        }
      }
      &-body {
        color: @subColor3;
      }
    }
    &-right {
      color: @subColor3;
      font-size: 11px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid @subColor4;
      padding: 0 6px;
    }
  }

  &-notFound {
    text-align: center;
    color: @darkGray;
    font-size: 14px;
    margin: 10px 0;
  }
}

.topicCreateForm {
  border: 1px solid @subColor4;
  &-selectTo {
    padding: 8px;
    border-bottom: 1px dashed @lightGray;
    &-label {
      display: inline-block;
      vertical-align: middle;
    }
    ul {
      border-top: none !important;
      border-right: none !important;
      border-bottom: none !important;
      border-left: none !important;
      border-radius: 0 !important;
      box-shadow: none !important;
    }

  }
  &-msgBody {
    padding: 8px;
    &-form {
      width: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      word-wrap: break-word;
      resize: vertical;
      outline: none;
      border: none;
      min-height: 78px;
    }
  }
  &-footer {
    overflow: hidden;
    padding: 8px 10px;
    border-top: 1px solid @lighterGray;
    background-color: @smokyWhite;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    &-center {
      flex:1;
      padding: 0 4px;
    }
  }
}
.topicMembersAddForm {
  border: 1px solid @subColor4;
  &-selectTo {
    padding: 8px;
    &-label {
      display: inline-block;
      vertical-align: middle;
    }
    ul {
      border-top: none !important;
      border-right: none !important;
      border-bottom: none !important;
      border-left: none !important;
      border-radius: 0 !important;
      box-shadow: none !important;
    }

  }
  &-footer {
    overflow: hidden;
    padding: 8px 10px;
    border-top: 1px solid @lighterGray;
    background-color: @smokyWhite;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    &-left {
      flex:1;
      padding: 0 4px;
    }
  }
}
