.topicDetail {
  &-header {
    font-weight: bold;
    font-size: 1.4rem;
    color: @darkBlack;
    background-color: @smokyWhite;
    padding: 10px 15px;
    // TODO:角丸は親に設定
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid #dddddd;
    display: flex;
    &-left {
      flex: 1;
    }
    &-right {
    }
    &-icon {
      font-size: 1.8rem;
      color: @subColor10;
      vertical-align: middle;
    }
  }
  &-body {
    overflow: hidden;
    -webkit-overflow-scroll: touch;
  }
  &-messages {
    padding: 4px 0;
    overflow-y: scroll;
    max-height: 475px;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &-messages-item {
    padding: 6px 10px;
    display: flex;
    &-left {
      &-profileImg {
        display: block;
        width: 40px;
        height: 40px;
      }
    }
    &-right {
      flex: 1;
      margin-left: 8px;
      color: @veryDark;
      font-size: 1.2rem;
    }
    &-userName {
      font-weight: bold;
      color: @veryDark;
    }
    &-datetime {
      color: @subColor10;
      font-size: 1.1rem;
      margin-left: 4px;
    }
    &-content {
      word-wrap: break-word;
      &-link {
        word-break: break-all;
      }
    }
    &-read {
      &:hover {
        text-decoration: none;
      }
      &.is-on {
        color: #099f3f;
      }
      &.is-off {
        color: @subColor10;
      }
    }
  }
  &-footer {
    padding: 8px 10px;
    border-top: 1px solid #dddddd;
    background-color: #f5f5f5;
    // TODO:角丸は親に設定
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    word-wrap: break-word;
    &-box {
      display: flex;
      &-center {
        flex: 1;
        padding: 0 4px;
      }
    }
    &-btn {
      margin:0;
    }
  }
}
