/* User profile page css */

@import "../variables/all";
@import "../helpers/mixin";
@import(reference) "../partials/parent_for_extend";
@import "../partials/cube_img_blocks";
@import "../partials/attached_file";
@import "../partials/view_actions";
@import "../partials/post";
@import(reference) "../partials/line_number_limit";

.profile-user-upper-panel {
  padding: 0;
  margin: 0;
}

.profile-user-header {
  position: relative;
}

.profile-user-info-wrap {
  position: relative;
  padding: 24px 11px 0;
  border-bottom:1px solid @lighterGray;
}

.profile-user-avatar-wrap {
  position: absolute;
  bottom: -20px;
  left: 11px;
  display: inline-block;
  width: 22%;
  margin-right: 1%;
  border: 4px solid #fff;
}

.profile-user-cover-inner-btn {
  position: absolute;
  bottom: 11px;
  right: 11px;
}

.profile-user-avatar {
  width: 100%;
}

.profile-user-numbers-wrap {
  margin: 1rem auto;
  display: block;
  text-align: center;
}

.profile-user-numbers {
  display: inline-block;
  padding: 0 6%;
  text-align: center;
}

.profile-user-counts {
  font-size: 24px;
  font-weight: bold;
  color: @veryDark;
}

.profile-user-numbers-category {
  font-size: @fontSmall;
}

.profile-user-name {
  padding: 0 4px;
  font-weight: bold;
}

.profile-user-numbers-category-action {
  &:extend(.profile-user-numbers-category);
}

.profile-user-numbers-category-post {
  &:extend(.profile-user-numbers-category);
}

.profile-user-numbers-category-like {
  &:extend(.profile-user-numbers-category);
}

.profile-user-comments {
  margin: 12px 0;
}

.profile-user-tab-group {
  width: 100%;
  font-size:0;
  padding-top:.5rem;
}

.profile-user-tabs {
  width: 25%;
  display: inline-block;
  text-align: center;
  padding: 8px 0 4px;
  border-bottom: 4px solid #fff;
  &:extend(.no-underline);
  &:hover,
  &:target,
  &:active,
  &:focus {
    color: @basicPink;
  }
  color: @basicGray;
}

.profile-user-tab-title {
  margin-top: 4px;
  font-size: @fontSmall;
}

.profile-user-tab-icon {
  font-size: 32px;
}

.profile-user-goal-tab {
  &:extend(.profile-user-tabs);
}

.profile-user-action-tab {
  &:extend(.profile-user-tabs);
}

.profile-user-post-tab {
  &:extend(.profile-user-tabs);
}

.profile-user-status-tab {
  &:extend(.profile-user-tabs);
}

.profile-user-cover {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
}

.profile-user-cover-image {
  width: 100%;
  height: auto;
}

.profile-user-cover.mod-no-image:before {
  content: "";
  display: block;
  padding-top: @coverImageAspectRatio;
}

.profile-user-cover-default {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -moz-linear-gradient(top, #ffffff, #676768);
  background-image: -ms-linear-gradient(top, #ffffff, #676768);
  background-image: -webkit-linear-gradient(top, #ffffff, #676768);
  background-image: linear-gradient(top, #ffffff, #676768);
}

.profile-user-dropdown-menu {
  border: 2px solid @baseGray;
  padding: 0 4px;
}

.profile-user-dropdown-menu.mod-cover {
  .frame-arrow-icon(47%);
  top: 50%;
  left: 50%;
  right: auto;
  transform: translate(-50%, 0);
}

.profile-user-dropdown-menu.mod-profile {
  .frame-arrow-icon(80%);
  top: 50%;
}

.profile-user-dropdown-menu-item {
  padding: 8px 0;
  border-bottom: 1px solid @baseGray;
  &:last-child {
    border-bottom: none;
  }
  &:hover {
    color: #fff;
    background-color: #d9230f;
  }
}

.profile-user-panels {
  background: #f6f5f1;
  border-radius: 0 0 4px 4px;
}

.view-goals-panel {
  &:extend(.profile-user-panels);
}

.view-actions-panel {
  &:extend(.profile-user-panels);
}

.view-posts-panel {
  &:extend(.profile-user-panels);
}

.view-info-panel {
  &:extend(.profile-user-panels);
}

.view-goals-panel .unauthorized-goals-notification {
  min-height: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-user-tab-active {
  border-color: @basicPink;
  p{
    color: @basicPink;
  }
}

.profile-user-action-contents .panel{
  width:100%;
  clear:both;
}

.user-view-actions-panel .profile-actions-footer {
  min-height: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goal-view-actions-panel .panel-body, .user-view-actions-panel .panel-body{
  clear:both;
}

.profile-goals-card-title-wrapper {
  &:extend(.line-number-wrap);
}

.view-actions-panel-filter .dropdown-toggle:hover{
  cursor:pointer;
}

.profile-goals-card-title {
  line-height: 16px;
}

.profile-goals-card-title-text {
  .line-number-limit-2(#f6f5f1);
  height: 40px;
  font-weight: bold;
}

/* profile setting:cover image upload */
.profile-setting-cover {
  width: 100%;
}

.profile-setting-cover-upload {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
}

.profile-setting-cover-upload.mod-no-image:before {
  content: "";
  display: block;
  padding-top: @coverImageAspectRatio;
}

.profile-setting-cover-image {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.profile-setting-cover-upload-frame {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: @modGray;
  border: 3px dashed @modGray;
  background-color: @backgroundColor1;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  box-sizing: border-box;
  &:hover,
  &:active,
  &:target,
  &:focus {
    color: @goalous;
    text-decoration: none;
    border-color: @goalous;
  }
}

.profile-goals-card-horizontal-line {
  position: absolute;
  z-index: 1;
  width: 11px;
  right: 99.6%;
  top: -6px;
  border-width: 3px;
  border-color: @cGray;
}


/* View goals */
.profile-goals-select-wrap {
  width: 100%;
  text-align: center;
}

.profile-goals-select {
  width: 50%;
}

.btn-unselected {
  border-color: @darkGray;
  color: @darkGray;
  &:hover,
  &:target,
  &:active,
  &:focus {
    background: @basicGray;
    color: @whiteColor;
  }
}

.btn-selected {
  border-color: @darkGray;
  background: @darkGray;
  color: @whiteColor;
  &:hover,
  &:target,
  &:active,
  &:focus {
    background: @basicGray;
    color: @whiteColor;
  }
}

.profile-user-action-pic {
  position: relative;
  display: block;
  height: 48px;
}

.profile-user-actions {
  margin: 0;
  padding: 0;
}

.profile-user-action-list {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 8px;
}

.action-more-counts {
  color: @darkGray;
  font-size: @fontLarge;
  font-weight: bold;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(180, 180, 180, .7);
}

.profile-user-add-action {
  width: 48px;
  height: 48px;
  display: block;
  text-align: center;
  border: 1px dashed @basicGray;
  border-radius: 4px;
  color: @basicGray;
  &:extend(.no-underline);
  &:hover,
  &:target,
  &:active,
  &:focus {
    border: 1px solid @darkGray;
    color: @darkGray;
  }
}

.profile-user-add-action-text {
  font-size: @fontSmallest;
  letter-spacing: -1px;
  line-height: 12px;
}

.profile-goals-img {
  width: 100%;
  height: 100%;
}

.profile-goals-function-icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid @lightGray;
  color: @lightGray;
  font-size: 24px;
  &:hover,
  &:target,
  &:active,
  &:focus {
    background: @lightGray;
    color: #f6f5f1;
  }
}

.comment-contents a {
  color: #ccc;
  display: block;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.comment-contents a:hover,
.comment-contents a:target,
.comment-contents a:active {
  color: #91170a;
}
.comment-contents .comment-add-pic {
  color: #d9230f;
}

.post-contents a {
  color: #ccc;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  vertical-align: bottom;
}
.post-contents a:hover,
.post-contents a:target,
.post-contents a:active {
  color: #91170a;
}

.comment-ogp-close {
  right: 4px;
  margin-top: 24px;
  position: absolute;
  display: block;
  cursor: pointer;
  font-size: 12px;
}

.post-ogp-close {
  right: 28px;
  margin-top: 10px;
  position: absolute;
  display: none;
  cursor: pointer;
}

.js-ogp-box{
  float:left;
  width: 100%;
  margin: 10px auto;
}