.topic-5744-goal-page-continuous-grid{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  float:left;
}



.cube-img-column-frame {
  background: @backgroundColor1;
  border: 2px solid @backgroundColor2;
  border-color:@backgroundColor2;
  width: 33.33%;
  height: 0px;
  padding-top:33.33%;
  flex-basis:33.33%;
  overflow: hidden;
  display: block;
  position: relative;
  float:left;
  transition:border-color .3s ease;
  &:hover,
  &:target,
  &:active,
  &:focus {
    border-color: @basicPink;
  }
}

.cube-img-column-frame a{
  width:100%;
  height:100%;
  position:absolute;
  top:0px;
  left:0px;
  display:flex;
  align-items:center;
  justify-content: center;
}

.cube-img-blocks-img{
  width:100%;
  max-width:none;
  transition:opacity .3s;
  opacity:0;
}

.cube-img-blocks-img.mod-visible{
  opacity:1;
}

.cube-img-blocks-img.mod-wider{
  width:auto;
  height:100%;
}