.profile-user-action-contents{
  display:block;
  float:left;
}

.cube-img-column-frame {
  background: @backgroundColor1;
  border: 2px solid @backgroundColor2;
  border-color:@backgroundColor2;
  width: 33.33%;
  height: 0px;
  padding-top:33.33%;
  flex-basis:33.33%;
  overflow: hidden;
  display: block;
  position: relative;
  float:left;
  transition:border-color .3s ease;
  &:hover,
  &:target,
  &:active,
  &:focus {
    border-color: @basicPink;
  }
}

.profile-user-action-contents-add-image{
  width:20vw;
  height:20vw;
  display: block;
  position: relative;
  float:left;
  border-radius:50%;
  background:@white;
  margin:auto;
  display:flex;
  flex-wrap:wrap;
  box-shadow:0px .05em .05em rgba(0,0,0,0.5);
  transition:box-shadow .2s, transform .2s;
  transform:translateY(0);
}

@media @small{
  .profile-user-action-contents-add-image{
    width:100px;
    height:100px;
  }
}

.profile-user-action-contents-add-image span{
  font-size:5rem;
  text-align:center;
  margin:auto;
  font-weight:100;
  height: 1em;
  width: 1em;
  line-height: .8em;
}

.profile-user-action-contents-add-image span a, .profile-user-action-contents-add-image span a:hover{
  text-decoration:none;
}

.cube-img-column-frame.add-action{
  background-color:transparent;
  display:flex;
  flex-wrap:wrap;
  padding-top: 0;
  height: auto;
}

.cube-img-column-frame.add-action.mod-only{
  flex-basis:100%;
  margin-bottom:2rem;
}

.cube-img-column-frame.add-action.mod-only h3{
  text-align:center;
  padding:0 2em;
  margin:1em 0;
  float:left;
  width:100%;
}

.cube-img-column-frame.add-action.mod-only .profile-user-action-contents-add-image{
  margin-bottom:1em;
}

.cube-img-column-frame.add-action:hover{
  border-color:@backgroundColor2;
  cursor:pointer;
}

.cube-img-column-frame.add-action:hover .profile-user-action-contents-add-image{
  box-shadow:0px .25em .25em rgba(0,0,0,0.25);
  transform:translateY(-.1em);
  cursor: pointer;
}

.cube-img-column-frame.add-action a{
  width:100%;
  text-align:center;
  color: @darkGray;
  transition:color .3s ease;
  height: auto;
  position: relative;
  display: block;
}

.cube-img-column-frame.add-action:hover a{
  color:@acidRed;
}

.cube-img-column-frame.add-action a:hover{
  text-decoration: none;
}

.cube-img-column-frame a{
  width:100%;
  height:100%;
  position:absolute;
  top:0px;
  left:0px;
  display:flex;
  align-items:center;
  justify-content: center;
}

.cube-img-blocks-img{
  width:100%;
  max-width:none;
  transition:opacity .3s;
  opacity:0;
}

.cube-img-blocks-img.mod-visible{
  opacity:1;
}

.cube-img-blocks-img.mod-wider{
  width:auto;
  height:100%;
}