// TODO: Change appropriate class name and Move appropriate file
.dashboard-goals-card-horizontal-line {
  position: absolute;
  z-index: 1;
  width: 11px;
  right: 99.6%;
  top: -6px;
  border-width: 3px;
  border-color: @cGray;
}
