@import "mixins/media_queries.less";
@import "mixins/avatar.less";
@import "mixins/line_number_limit.less";
@import "mixins/module_icons.less";
@import "mixins/module_cards_shadow.less";
@import "mixins/mixin_normalize.less";
@import "mixins/scrollbar_hidden.less";

/*
  mixinを定義
 */

.link {
  color: @strongRed;
  font-weight: bold;
}

.divider {
  height: 1px;
  overflow: hidden;
  clear: both;
  margin: 0;
}

.us-none() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* 通知の赤丸 */
.notify-numbers {
  position: absolute;
  z-index: 10;
  color: @whiteColor;
  background-color: @acidRed;
  padding: 0;
  width: 19px;
  height: 19px;
  line-height: 18px;
  border-radius: 50%;
  display: block;
  font-size: 10px;
}


/* Btn */
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  user-select: none;
}

.btn-animated {
  display: block;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    transition: 300ms all;
    transform: scale(1.12, 1.12);
  }
}
.horizontal-gradient (@startColor: black, @endColor: white) {
  background-color: @startColor;
  background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
  background-image: -webkit-linear-gradient(left, @startColor, @endColor);
  background-image: -moz-linear-gradient(left, @startColor, @endColor);
  background-image: -ms-linear-gradient(left, @startColor, @endColor);
  background-image: -o-linear-gradient(left, @startColor, @endColor);
}
