.post-action-image-add-button {
  color: @modGray;
  width: 100%;
  border: 5px dashed @modGray;
  height: 70px;
  display: block;
  background-color: @backgroundColor1;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  &:hover,
  &:active,
  &:target,
  &:focus {
    text-decoration: none;
    color: @goalous;
    border-color: @goalous;
  }
}

.action-image-add-button-text {
  margin-top: 18px;
  display: block;
}

.action-image-add-button-icon {
  font-size: 190%;
  vertical-align: middle;
}

.switch-action-anchor {
  text-decoration: none;
  &:hover,
  &:active,
  &:target,
  &:focus {
    text-decoration: none;
  }
}
