.post-message-dest {
  border-bottom: 1px dashed @lightGray;
  padding: 3px 5px 0;
}

.switch-message-anchor {
  text-decoration: none;
  &:hover,
  &:active,
  &:target,
  &:focus {
    text-decoration: none;
  }
}
