/*
  teamVisionListで使うスタイル
 */

 .teamvision-visionadd-btnarea{
   padding: 15px 0;
 }

.teamvision-list-panel-base{
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0.5;
}

.teamvision-list-panel-head{
  font-weight: bold;
  font-size: 18px;
  padding: 10px 15px;
  color: @black;
}

.teamvision-list-panel-cards{
  position: relative;
  width: 100%;
  border-top: 1px solid #ddd;
  padding: 0;
  min-height: 90px;
}

  .teamvision-list-panel-cards:hover{
    background-color: @smokyWhite;
  }


  .teamvision-list-panel-cards::after{
    content: "";
    clear: both;
    display: block;
  }


.teamvision-list-panel-imagebox{
  float: left;
  margin: 8px;
  width: 44px;
  height: 44px;
  overflow: hidden;
}

@media @small {
  .teamvision-list-panel-imagebox{
    width: 64px;
    height: 64px;
    margin: 15px;
  }
}


.teamvision-list-title{
  display: inline-block;
  font-weight: bold;
  margin: 8px 0;
  width: 65%;
}
  @media @small {
    .teamvision-list-title{
      width: 60%;
    }
}
  @media @medium {
    .teamvision-list-title{
      width: 70%;
    }
}
  @media @large {
    .teamvision-list-title{
      width: 75%;
      }
}

.teamvision_modified_date{
  padding: 5px;
  font-size: 12px;
  margin-left: 55px;
}
@media @small {
  .teamvision_modified_date{
    top: 20px;
    margin-left: 85px;
  }
}


.teamvision_setting_btn{
  padding-top: 10px;
  padding-right: 5px;
}

  @media @small {
    .teamvision_setting_btn{
      padding-top: 20px;
      padding-right: 15px;
    }
}
