.topicSearchList {
  &-header {
    padding: 10px;
    display: flex;
    &-cancel {
      margin-left: 10px;
      width: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      a {
        color: @darkBlack;
      }
    }
  }
  &-item {
    height: 48px;
    width: 100%;
    border-bottom: 1px solid @lightGray;
    a {
      height: 100%;
      width: 100%;
      display: flex;
      padding: 4px 10px;
      color: @black;
      text-decoration: none;
      &:hover {
        background: @hoverRed;
      }
    }
    .avatorsBox {
      .avatorsBox(40px);
    }
    &-main {
      height: 100%;
      flex: 1;
      min-width: 0;
      margin-left: 10px;
      &-header {
        display: flex;
        &-title {
          min-width: 0;
          font-weight: 700;
          overflow: hidden;
        }
        &-count {
          color: @lightGray;
          width: auto;
          margin-left: 4px;
        }
      }
      &-body {
      }
    }
    &-right {
      margin-left: 4px;
      color: @lightGray;
    }
  }
}
