.topic {
  &-header {
    padding: 10px;
    .searchBox {
      margin-bottom: 20px;
    }
    &-middle {
      overflow: hidden;
      &-label {
        font-weight: bold;
        color: @modGray;
        float: left;
      }
      &-add {
        color: @darkBlack;
        float: right;
        .fa {
          color: @keyColor;
        }
      }
    }
  }
}
