/*
 * 別ファイルにしようかと思ったけども、両方ともまったく同じだったので同一ファイルに。
 * mixinにはしてない。
 */

.users-view-actions, .goals-view-actions {
  background: @backgroundColor1;
  border: 1px solid @subColor5;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.users-view-actions-panel, .goals-view-actions-panel {
  background: @backgroundColor2;
  float:left;
}

.users-view-actions-panel-term, .goals-view-actions-panel-term {
  margin: 0 auto;
  padding: 10px 0;
  width: 92vw;
  border-radius: 4px;
}

@media @medium {
  .users-view-actions-panel-term, .goals-view-actions-panel-term {
    width: 480px;
  }
}

@media @large {
  .users-view-actions-panel-term, .goals-view-actions-panel-term {
    width: 648px;
  }
}

.users-view-actions-panel-term-icon, .goals-view-actions-panel-term-icon {
  background: @backgroundColor1;
}
