/*
 * 別ファイルにしようかと思ったけども、両方ともまったく同じだったので同一ファイルに。
 * mixinにはしてない。
 */

 .view-actions-panel-wrap{
  display:flex;
  padding:1em;
  margin:0 auto;
  width:100%;
  justify-content:flex-start;
  align-items:center;
}

.view-actions-panel-filter{
  display: block;
  float:left;
  text-align:center;
  margin-right:2em;
}

.view-actions-panel-filter .dropdown-menu{
  max-height:17.5em;
  overflow-y:scroll;
  text-align:left;
  ::-webkit-scrollbar {
      display:block;
  }
  ::-webkit-scrollbar-thumb {
      display:block;
  }
  ::-webkit-scrollbar-button {
      display:block;
  }
}

@media @xsmall{
  .view-actions-panel-filter .dropdown-menu{
    width:100%;
    left:0;
  }
}

@media @small{
  .view-actions-panel-filter .dropdown-menu{
    width:auto;
    left:auto;
  }
}

.view-actions-panel-filter .dropdown-menu li{
  width:100%;
}

.view-actions-panel-filter .dropdown-menu li a{
  white-space: normal;
}

.view-actions-panel-filter:last-of-type .dropdown-menu{
  right:0;
}

.view-actions-panel-wrap .dropdown-toggle{
  color:@veryDark;
}

.view-actions-panel-wrap .dropdown-toggle span{
  color:@acidRed;
}

.view-action-panel-wrap .btn{
  min-width:20em;
}

.users-view-actions, .goals-view-actions {
  background: @backgroundColor1;
  border: 1px solid @subColor5;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.users-view-actions-panel, .goals-view-actions-panel {
  background: @backgroundColor2;
  float:left;
  width:100%;
}

.users-view-actions-panel .panel-body, .goals-view-actions-panel .panel-body{
  clear:both;
}

.users-view-actions-panel-term, .goals-view-actions-panel-term {
  float:left;
  border-radius: 4px;
}
