<!-- start app/webroot/template/group_vision_list.html -->
<div class="row" style="padding-bottom:10px;">
    <div class="col-xs-4">
        <a href="/teams/add_group_vision" class="font_gargoyleGray-brownRed btn-goals-column-plus add-vision-button"
           ng-class="{disabled: allMyGroupVisionCreated}">
            <i class="fa fa-plus-circle font_brownRed"></i>&nbsp;{{ 'GROUP_VISION.ADD_VISION' | translate }}</a>
    </div>

    <div class="col-xs-offset-4 col-xs-4">
        <a class="pull-right font_verydark" ng-if="archive_flag === false"
           ui-sref="group_vision_archive({team_id:team_id, active_flg:0})"><i class="fa fa-eye"></i>{{'TEAM_VISION.VIEW_ARCHIVE' | translate}}</a>
    </div>
</div>

<table class="table table-hover team-member-table">
    <tr>
        <th colspan="4"><i class="fa fa-plane"></i> {{ 'GROUP_VISION.HEADLINE' | translate }} ( {{GroupVisionCount}} )</th>
    </tr>
    <tr ng-repeat="item in GroupVisionList">
        <td class="pointer" width="20%"
            ui-sref="group_vision_detail({group_vision_id:item.GroupVision.id, active_flg:item.GroupVision.active_flg === true ? 1 : 0})">
            <img width="64px" ng-src="{{item.GroupVision.photo_path}}"/>
        </td>

        <td class="pointer"
            ui-sref="group_vision_detail({group_vision_id:item.GroupVision.id, active_flg:item.GroupVision.active_flg === true ? 1 : 0})">
            <div class="row">
                <div class="col-xs-11">
                    <p class="vision_title">{{item.GroupVision.name}}</p>

                    <div class="vision_modified_date">
                        <i class="fa fa-sitemap"></i> {{item.GroupVision.group_name}}
                        <span ng-if="item.GroupVision.member_count > 0">({{item.GroupVision.member_count}}{{ 'TEAM_MEMBER_LIST.MEMBER' | translate }})</span>
                        <span ng-if="item.GroupVision.member_count == 0">({{ 'TEAM_MEMBER_LIST.NO_MEMBER' | translate }})</span>
                        <br>
                        <span ng-bind-html="item.GroupVision.modified"/>
                    </div>
                </div>
            </div>
        </td>

        <td>
            <div ng-show="item.GroupVision.showSettingBox" class="pull-right header-function dropdown">
                <button class="btn team_member_setting_btn dropdown-toggle" type="button"
                        id="dropdownMenu1"
                        data-toggle="dropdown" aria-expanded="true">
                    <i class="fa fa-cog header-function-icon"
                       style="color: rgb(80, 80, 80); opacity: 0.88;"></i>
                </button>

                <ul class="dropdown-menu dropdown-menu-right frame-arrow-icon" role="menu"
                    aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1"
                           ng-if="archive_flag === false"
                           ui-sref="set_group_vision_archive({group_vision_id:item.GroupVision.id, active_flg:0})">{{ 'GROUP_VISION.ARCHIVE' | translate }}</a>
                        <a role="menuitem" tabindex="-1"
                           ng-if="archive_flag === false"
                           ng-href="/teams/edit_group_vision/group_vision_id:{{item.GroupVision.id}}">{{ 'GROUP_VISION.EDIT' | translate }}</a>
                        <a role="menuitem" tabindex="-1"
                           ng-if="archive_flag === true"
                           ng-click="viewDeleteModal(item.GroupVision.id, item.GroupVision.name)">{{ 'GROUP_VISION.DELETE' | translate }}</a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
</table>
<!-- end app/webroot/template/group_vision_list.html -->
