<!-- start app/webroot/template/message_detail.html -->
<div class="row" ng-show="view_flag">
    <div class="col-sm-8 col-sm-offset-2 ng-cloak" id="app-webroot-template-message-detail" ng-cloak>
        <div class="message-detail-panel panel panel-default">
            <div class="message-detail-panel-head panel-heading" style="background-color: #f5f5f5;">
                <div class="message-detail-users-names row font_14px">
                    <a href="javascript:void(0);" onclick="evMessageList()"><i
                            class="fa fa-chevron-left font_18px font_lightgray lh_20px"></i></a>
                    <span class="ml_8px"> {{first_share_user.User.display_username}}
                        <span
                                ng-if="post_detail.PostShareUser.length >= 2">、他{{post_detail.PostShareUser.length - 1}}人</span>
                    </span>
            <span class="message-detail-head-users-icon plr_11px font_brownRed">
                <a href="/posts/ajax_get_share_message_modal/post_id:{{post_detail.Post.id}}"
                   class="modal-ajax-get-share-circles-users">
                    <i class="fa fa-user"></i> {{post_detail.PostShareUser.length + 1}}
                </a>
            </span>

                    <span class="pull-right">
                        <a href="" ng-click="add_messenger_user()" data-value="{{post_detail.Post.id}}">
                            <span class="fa fa-user-plus">
                            </span>
                        </a>
                    </span>

                    <div id="message_add_list"></div>
                </div>

            </div>

            <div class="message-detail-panel-body panel-body" id="message_box">

                <div infinite-scroll='loadMore()' infinite-scroll-parent="true"
                     infinite-scroll-distance="0" infinite-scroll-listen-for-event="force:load">
                    <div ng-repeat="(key, item) in message_list | orderBy:'Comment.created'">
                        <div id="m_{{key+1}}" class="col col-xxs-12" style="padding: 10px">
                            <div class="message-detail-body-user-name">
                                <a href="/users/view_goals/user_id:{{item.User.id}}">
                                    <img width="64" class="lazy feed-img" ng-src="{{item.User.photo_path}}"/>
                                </a>
                            </div>

                            <div class="col col-xxs-10 message-detail-maintxt-area showmore font_14px font_verydark box-align">
                                <div class="font_12px font_verydark">
                                    <span class="font_lightgray" style="position:absolute; right:10px;">
                                        {{item.Comment.created * 1000 | date:'MM/dd HH:mm'}}
                                    </span>
                                    <a href="/users/view_goals/user_id:{{item.User.id}}">
                                        <span class="font_bold font_verydark">{{item.User.display_username}}</span>
                                    </a>
                                </div>
                                <div class="comment-text font_12px message-contents"
                                     ng-if="item.Comment.body != '[like]'"
                                     ng-bind-html="item.Comment.body"></div>
                                <div class="comment-text font_12px" ng-if="item.Comment.body == '[like]'"><i
                                        class="fa fa-thumbs-o-up font_brownRed"></i></div>
                                <div ng-bind-html="item.AttachedFileHtml"></div>
                                <div class="font_12px">
                                    <a href="{{item.get_red_user_model_url}}"
                                       class="modal-ajax-get font_lightgray">
                                        <div
                                                ng-if="item.Comment.comment_read_count == post_detail.PostShareUser.length">
                                            <i class="fa fa-check" style="color: #099f3f; "></i>
                                        </div>
                                        <div ng-if="item.Comment.comment_read_count < post_detail.PostShareUser.length">
                                            <i class="fa fa-check"></i>&nbsp;
                                            <span id="mr_{{item.Comment.id}}">{{item.Comment.comment_read_count}}</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-body ptb_8px plr_11px comment-block" id="messageReplyDropArea">
                <div class="col-xxs-12 box-align feed-contents comment-contents">
                    <img class="lazy comment-img" ng-src="{{auth_info.photo_path}}"/>

                    <div class=" comment-body">
                        <form name="userForm" novalidate>
                            <div class="form-feed-notify ajax-add-comment bv-form">
                                <div class="form-group mlr_-1px required">
                                <textarea ng-model="message" id="message_text_input"
                                          class="form-control disable-change-warning"
                                          ng-maxlength="5000"
                                          ng-focus="focusReplyTextarea()"
                                          rows="1" placeholder="Reply" cols="30" init-height="15"
                                          name="message_body"></textarea>

                                    <div class="has-error">
                                    <span class="has-error help-block" ng-show="userForm.message_body.$error.maxlength">
                                        We have exceeded the maximum number of characters (5,000).
                                    </span>
                                    </div>

                                </div>
                                <div id="messageUploadFilePreviewArea"></div>
                                <div class="link-red" id="messageReplyUploadFileButton" style="height: 0; width: 45px">
                                    <button type="button" class="btn pull-left photo-up-btn">
                                        <i class="fa fa-paperclip post-camera-icon"></i>
                                    </button>
                                </div>
                                <div class="message-detail-reply-btn-wrap submit pull-right">
                                    <i class="fa fa-refresh fa-spin" id="SendMessageLoader" style="display: none"></i>
                                    <button ng-click="clickMessage($event,'comment')"
                                           ng-if="message"
                                           id="message_submit_button"
                                           class="message-detail-reply-btn btn btn-primary submit-btn" type="submit"
                                           type="submit">
                                        <i class="fa fa-send-o"></i></button>
                                    <button ng-click="clickMessage($event,'like')"
                                            ng-disabled="flag"
                                            ng-if="!message && !userForm.message_body.$error.maxlength"
                                            class="message-detail-reply-btn btn btn-primary submit-btn"
                                            type="submit" id="like">
                                        <i class="fa fa-thumbs-o-up"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- ToDo : go-topのファイルにまとめる。  -->
<style>
    .go-top {
        display: none;
    }
</style>
<!-- end app/webroot/template/message_detail.html -->
