<style type="text/css">
    html {
        overflow-y:scroll;
    }

    .spinner {
        margin: 38px auto;
        width: 50px;
        height: 40px;
        text-align: center;
        font-size: 10px;
    }

    .spinner > div {
        background-color: #d9230f;
        height: 60%;
        width: 5px;
        display: inline-block;

        -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
        animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }

    .spinner .rect2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }

    .spinner .rect3 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }

    .spinner .rect4 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }

    .spinner .rect5 {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
    }

    @-webkit-keyframes sk-stretchdelay {
        0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
        20% { -webkit-transform: scaleY(1.0) }
    }

    @keyframes sk-stretchdelay {
        0%, 40%, 100% {
            transform: scaleY(0.4);
            -webkit-transform: scaleY(0.4);
        }  20% {
               transform: scaleY(1.0);
               -webkit-transform: scaleY(1.0);
           }
    }

</style>
<!-- start app/webroot/template/message_list.html -->
<div class="panel panel-default message-list-panel">
    <div class="panel-heading message-list-panel-head">
        All Messages
    </div>
    <div class="message-list-panel-body panel-body">
        <div infinite-scroll='loadMore()' infinite-scroll-disabled="disable_scroll">
        <ul ng-class="(item.Post.is_unread == true) ? 'notify-card-unread' : 'notify-card-read'" class="message-list-panel-cards" role="menu" ng-repeat="item in message_list">
            <li class="message-list-panel-card">
                <a href="#" get-url="/posts/message/{{item.Post.id}}" post-id="{{item.Post.id}}" class="message-list-panel-card-link col col-xxs-12" ng-click="postProcess()">
                    <div class="message-list-panel-card-avatar-wrap pull-left">
                        <img class="" ng-repeat="shareUser in item.share_users | limitTo:4" ng-src="{{shareUser.photo_path}}" ng-class="imageLayout($index, item.share_users.length)" />
                    </div>
                    <div class="message-list-panel-card-contents">
                        <div class="col col-xxs-12 notify-card-head">
                            <span class="font-heading">
                                <div class="message-list-panel-card-names">
                                    <span ng-repeat="shareUser in item.share_users | limitTo: name_list_max">
                                        {{shareUser.first_name}}<span ng-if="!$last">,</span>
                                    </span>
                                    <span ng-if="item.PostShareUser.length - name_list_max > 0">+{{item.PostShareUser.length - name_list_max}}</span>
                                </div>
                            </span>
                        </div>
                        <div ng-class="(item.Post.is_unread == true) ? 'message-list-panel-card-text-unread' : 'message-list-panel-card-text-read'" class="message-list-panel-card-text col col-xxs-12" id="CommentTextBody_67">
                            <span ng-if="item.User.id != auth_info.user_id">{{item.User.display_first_name}}</span>
                            <span ng-if="item.User.id == auth_info.user_id">You</span>
                            : <span ng-bind-html="item.Post.body"></span>
                        </div>
                        <p class="message-list-panel-card-aside">
                            <span ng-if="item.read_comment_status == 'all_read'">
                                <i class="fa fa-check" style="color: #099f3f; "></i>
                            </span>
                            <span ng-if="item.read_comment_status == ''">
                                <i class="fa fa-check"></i> {{item.comment_read_count}}
                            </span>
                            <span ng-if="item.read_comment_status == 'not_read'" ng-bind-html="item.Post.created"></span>
                        </p>
                    </div>
                </a>
            </li>
        </ul>
        <div style="margin-bottom: -22px;" ng-show="disable_scroll && scroll_end == false">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- end app/webroot/template/message_list.html -->
