<div class="panel panel-default">
    <div class="panel-heading" style="background-color: #f5f5f5;">
        <div class="row font_14px">
            <span class=""> 吉 亨斗、他13人</span>
            <span class="plr_11px font_brownRed"><i class="fa fa-user"></i> 14</span>
            <span style="float:right;">
                <button class="team-member-invite-btn">
                    <i class="fa fa-plus-circle team-member-invite-btn-icon"></i>新しいメッセージ
                </button>
            </span>
        </div>
    </div>

    <div class="panel-body pt_10px plr_11px pb_8px" style="overflow:scroll;height:700px;margin:0px;">

        <div ng-repeat="item in message_list">
            <div class="col col-xxs-12" style="padding-bottom: 8px">
                <div class="col col-xxs-2">
                    <a href="/users/view_goals/user_id:{{item.User.id}}">
                        <img width="64px" class="lazy feed-img" ng-src="{{item.User.photo_path}}"/>
                    </a>
                </div>

                <div class="col col-xxs-10 showmore font_14px font_verydark box-align" id="PostTextBody_23">
                    <div class="font_12px font_verydark">
                        <span class="font_bold">{{item.User.display_username}}</span>
                        <span ng-bind-html="item.Comment.created" class="font_lightgray"
                              style="position:absolute; right:10px;"></span>
                    </div>

                    <div class="comment-text font_12px">{{item.Comment.body}}</div>

                    <div class="font_12px">
                        <span class="font_lightgray"> ･ </span>
                        <a href="#" class="click-like font_lightgray "
                           like_count_id="CommentLikeCount_{{item.Comment.id}}" model_id="23"
                           like_type="comment"> いいね！</a>
                        <span class="font_lightgray"> ･ </span>
                        <span>
                            <a href="/posts/ajax_get_comment_liked_users/comment_id:{{item.Comment.id}}" class="modal-ajax-get font_lightgray">
                                <i class="fa fa-thumbs-o-up"></i>&nbsp;<span id="PostLikeCount_23">{{item.Comment.comment_like_count}}</span>
                            </a>
                            <span class="font_lightgray"> ･ </span>
                            <a href="/posts/ajax_get_comment_red_users/comment_id:{{item.Comment.id}}" class="modal-ajax-get font_lightgray">
                                <i class="fa fa-check"></i>&nbsp;<span>{{item.Comment.comment_read_count}}</span>
                            </a>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="panel-body ptb_8px plr_11px comment-block">
        <div class="col-xxs-12 box-align feed-contents comment-contents">
            <img src="/img/no-image-user.jpg" class="lazy comment-img" data-original="/img/no-image-user.jpg" alt=""
                 style="display: block;">

            <div class="comment-body">
                <form action="/posts/ajax_add_comment" class="form-feed-notify ajax-add-comment bv-form"
                      enctype="multipart/form-data" method="post" accept-charset="utf-8">
                    <div class="form-group mlr_-1px required">
                        <textarea name=""
                                  class="form-control tiny-form-text blank-disable font_12px comment-post-form box-align change-warning clicked"
                                  rows="1" placeholder="コメントする" cols="30" init-height="15"
                                  style="height: 33px; overflow: hidden; word-wrap: break-word; resize: none;"></textarea>
                    </div>
                    <div class="comment-btn" id="Comment_23">
                        <div>
                            <a href="#" class="target-show-target-click comment-add-pic new-comment-add-pic">
                                <button type="button" class="btn pull-left photo-up-btn">
                                    <i class="fa fa-camera post-camera-icon"></i>
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="pull-right">
                        <div class="submit"><input class="btn btn-primary submit-btn" id="CommentSubmit_23"
                                                   type="submit" value="返信する" disabled="disabled"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
