<div class="panel panel-default">
    <div class="panel-heading">すべてのメッセージ
        <div class="pull-right">
            <a href="/common_form/message" class="font_lightGray-gray font_16px">
                <i class="fa fa-edit"></i>
            </a>
        </div>
    </div>
    <div class="panel-body panel-body-notify-page">
        <ul class="notify-page-cards" role="menu" ng-repeat="item in message_list | orderBy:'Post.modified':'DESC'">
            <li class="notify-card-list">
                <a href="/posts/message#/{{item.Post.id}}" class="col col-xxs-12 notify-card-link">
                    <div style="width:20%; overflow:hidden;" class="pull-left">
                        <img style="width:24px; height:24px;" class="notify-card-pic"
                             ng-repeat="shareUser in item.share_users | limitTo:4" ng-src="{{shareUser.photo_path}}"/>

                    </div>
                    <div class="notify-contents">
                        <div class="col col-xxs-12 notify-card-head">
                            <span class="font-heading">
                                <div style="display:inline-block; max-width:100%; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;">

                                    <span ng-repeat="shareUser in item.share_users | limitTo: name_list_max">
                                        {{shareUser.first_name}}<span ng-if="!$last">,</span>
                                    </span>
                                    <span ng-if="item.PostShareUser.length - name_list_max > 0">+{{item.PostShareUser.length - name_list_max}}</span>
                                </div>
                            </span>
                        </div>
                        <div class="col col-xxs-12 notify-text notify-line-number notify-card-text"
                             id="CommentTextBody_67">
                            <span ng-if="item.User.id != auth_info.user_id">{{item.User.display_first_name}}</span>
                            <span ng-if="item.User.id == auth_info.user_id">あなた</span>
                            : <span ng-bind-html="item.Post.body">
                        </div>
                        <p class="notify-card-aside"><span ng-bind-html="item.Post.created"></span></p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

