<!-- start app/webroot/template/team_member_list.html -->
<div class="well team-members-search-card">
    <div id="filter_box" class="row">
        <h3>{{ 'TEAM_MEMBER_LIST.MEMBER_LIST' | translate}}</h3>

        <div class="team-member-list-conditions-wrap">
            <select ng-model="filter_name" name="filter_name"
                    class="form-control team-select-box disable-change-warning" ng-change="changeFilter()">
                <option ng-selected="true" value="">{{ 'FILTER_ALL' | translate}}</option>
                <option value="coach_name">{{ 'FILTER_COACH_NAME' | translate}}</option>
                <option value="group_name">{{ 'FILTER_GROUP_NAME' | translate}}</option>
                <option value="team_admin">{{ 'FILTER_ADMIN' | translate}}</option>
                <option value="two_step" ng-if="login_user_admin_flg == true">{{ 'FILTER_TWO_STEP' | translate}}
                </option>
                <option value="invite" ng-if="login_user_admin_flg == true">{{ 'FILTER_INVITES' | translate}}</option>
            </select>
        </div>
        <div class="bbb">
            <input type="text"
                   ng-show="name_field_show"
                   ng-model="name_field.search_user_keyword"
                   class="form-control disable-change-warning team-members-list-conditions-input"
                   placeholder="&#xF002; {{ 'PLACEHOLDER_NAME_FIELD' | translate}}"
                   autocomplete="off"
            >

            <input ng-show="coach_name_field_show"
                   ng-model="name_field.search_coach_name_keyword"
                   class="form-control disable-change-warning team-members-list-conditions-input"
                   placeholder="&#xF002; {{ 'PLACEHOLDER_COACH_NAME_FIELD' | translate}}">

            <select ng-show="group_field_show"
                    ng-model="group_id"
                    ng-options="num as name for (num, name) in group_list"
                    ng-change="changeGroupFilter()"
                    class="form-control disable-change-warning">
                <option ng-selected="true" value="">すべて</option>
            </select>
        </div>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"
                   ng-model="display_inactive_users"
                   ng-click="viewMemberlistChange()"
                   ng-true-value="true"
                   ng-false-value="false"
                   class="checkbox">

            <p>{{ 'TEAM_MEMBER_LIST.SHOW_INACTIVE_MEMBERS' | translate}}</p>
        </label>
    </div>
</div>

<div ng-if="invite_box_show === false">
    <section>
        <div class="team-member-count-label">{{ 'TEAM_MEMBER_LIST.TARGET_MEMBERS' | translate}} ( {{(team_list|filter:name_field).length}} )</div>
        <a href="{{ invite_member_url }}">
        <button class="btn team-member-invite-btn">
            <i class="fa fa-plus-circle team-member-invite-btn-icon"></i>{{ 'TEAM_MEMBER_LIST.INVITE_MEMBERS' | translate}}
        </button>
        </a>
    </section>
    <div class="col-xs-12">
        <section class="team-member-table">
            <div ng-repeat="item in team_list | filter:name_field"
                 ng-if="item.TeamMember.status == '1' || display_inactive_users"
                 ng-class="item.TeamMember.status == '2' ? 'disable_member' : ''" class="team-members-card">

                <div class="team-members-card-avatar-box">
                    <a ng-href="{{item.User.user_page_url}}">
                        <img ng-src="{{item.User.img_url}}" class="feed-img avatar-team-member-list"/>
                    </a>
                </div>

                <div class="team-members-card-description-box">
                    <a ng-href="{{item.User.user_page_url}}">
                        <p class="team-members-admin-name"> {{item.User.display_username}} <i
                            class="fa fa-adn team-members-card-admin-icon"
                            ng-if="item.TeamMember.admin_flg == '1'"></i></p>
                    </a>
                    <!--<p> {{item.User.e_mail}} </p>-->

                    <p ng-if="item.TeamMember.group_name == ''"><i class="fa fa-sitemap"></i> {{ 'TEAM_MEMBER_LIST.NO_GROUPS' | translate}}</p>

                    <p ng-if="item.TeamMember.group_name != ''"><i
                        class="fa fa-sitemap team-members-card-filled-icon"></i>
                        {{item.TeamMember.group_name}}</p>

                    <p ng-if="item.TeamMember.coach_user_id == null"><i class="fa fa-handshake-o"></i> {{ 'TEAM_MEMBER_LIST.NO_COACH' | translate}}</p>

                    <p ng-if="item.TeamMember.coach_user_id != null && item.TeamMember.coacha_name != ''">
                        <i class="fa fa-handshake-o team-members-card-filled-icon"></i> {{item.TeamMember.coach_name}}
                    </p>

                    <p ng-if="login_user_admin_flg == true && item.User.two_step_flg == false">
                        <i class="fa fa-lock"></i> OFF</p>

                    <p ng-if="login_user_admin_flg == true && item.User.two_step_flg == true">
                        <i class="fa fa-lock team-members-card-filled-icon"></i> ON</p>

                    <p ng-if="login_user_admin_flg == true && item.TeamMember.evaluation_enable_flg == true">
                        <i class="fa fa-shield team-members-card-filled-icon"></i> {{ 'TEAM_MEMBER_LIST.IS_EVALUATEE' | translate}}</p>

                    <p ng-if="login_user_admin_flg == true && item.TeamMember.evaluation_enable_flg == false">
                        <i class="fa fa-shield"></i> {{ 'TEAM_MEMBER_LIST.IS_NOT_EVALUATEE' | translate}}</p>
                </div>

                <div ng-if="login_user_admin_flg == true" class="team-members-card-function-box pull-right">
                    <div class="pull-right header-function dropdown team-members-card-function"
                         ng-if="admin_user_cnt > 1 || login_user_id != item.User.id">
                        <button class="btn team_member_setting_btn dropdown-toggle" type="button"
                                id="dropdownMenu1"
                                data-toggle="dropdown" aria-expanded="true">
                            <i class="fa fa-cog header-function-icon"
                               style="color: rgb(80, 80, 80); opacity: 0.88;"></i>
                        </button>

                        <ul class="dropdown-menu dropdown-menu-right frame-arrow-icon" role="menu"
                            aria-labelledby="dropdownMenu1">
                            <li role="presentation" ng-if="item.TeamMember.status == 1">
                                <a role="menuitem" tabindex="-1"
                                   ng-click="inactivate($index, item.TeamMember.id)">{{ 'TEAM_MEMBER_LIST.TO_CHANGE_TO_INACTIVE' | translate}}</a>
                            </li>

                            <li role="presentation" ng-if="item.TeamMember.status == 2">
                                <a role="menuitem" tabindex="-1"
                                   ng-click="activate($index, item.TeamMember.id)">
                                    {{ 'TEAM_MEMBER_LIST.TO_CHANGE_TO_ACTIVE' | translate}}</a>
                            </li>

                            <li role="presentation" ng-if="item.TeamMember.admin_flg == false">
                                <a role="menuitem" tabindex="-1"
                                   ng-click="setAdminUserFlag($index, item.TeamMember.id, 'ON')">{{ 'TEAM_MEMBER_LIST.TO_CHANGE_TO_ADMIN' | translate}}</a>
                            </li>

                            <li role="presentation" ng-if="item.TeamMember.admin_flg == true">
                                <a role="menuitem" tabindex="-1"
                                   ng-click="setAdminUserFlag($index, item.TeamMember.id, 'OFF')">{{ 'TEAM_MEMBER_LIST.TO_CHANGE_TO_NOT_ADMIN' | translate}}</a>
                            </li>

                            <li role="presentation" ng-if="item.TeamMember.evaluation_enable_flg == false">
                                <a role="menuitem" tabindex="-1"
                                   ng-click="setEvaluationFlag($index, item.TeamMember.id, 'ON')">{{ 'TEAM_MEMBER_LIST.TO_CHANGE_TO_EVALUATEE' | translate}}</a>
                            </li>

                            <li role="presentation" ng-if="item.TeamMember.evaluation_enable_flg == true">
                                <a role="menuitem" tabindex="-1"
                                   ng-click="setEvaluationFlag($index, item.TeamMember.id, 'OFF')">{{ 'TEAM_MEMBER_LIST.TO_CHANGE_TO_NOT_EVALUATEE' | translate}}</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div ng-if="invite_box_show === true">
    <div class="team-member-count-label">{{ 'TEAM_MEMBER_LIST.TARGET_MEMBERS' | translate}} ( {{(invite_list|filter:name_field).length}} )</div>
    <div class="col-xs-12">
        <table class="table team-member-table">
            <tr ng-repeat="item in invite_list | filter:name_field">
                <td>
                    <form name="{{'reinviteUser'+$index}}" class="team-member-invite-form" ng-submit="updateInvite($index, 'reinviteUser'+$index, item.Invite.email, item.Email.user_id)">
                        <input type="text" class="team-member-invited-name" disabled name="username" ng-model="item.Invite.email" ng-change="resetFeedback($index)">
                        <button type="submit" class="btn btn-primary team-member-invited-submit">{{ 'TEAM_MEMBER_LIST.INVITE_AGAIN' | translate}}</button>
                    </form>

                    <div class="time-card" ng-bind-html="item.Invite.created"></div><div class="feedback {{item.Invite.result}}">{{item.Invite.feedback}}</div>
                    <div ng-if="item.Invite.token_expired_flg == true && item.Invite.del_flg == false" class="expired_invite left_align"> Expired </div>
                </td>
                <td>
                    <div ng-if="login_user_admin_flg == true" class="team-members-card-function-box pull-right">
                        <div ng-if="item.Invite.del_flg == '1'"
                             ng-class="item.Invite.del_flg == '1' ? 'cacel_or_invite' : ''" class="">
                            {{ invite_msg[$index] }}
                        </div>

                        <div ng-if="invite_loader[$index] == true" class="invite_loder"><i class="fa fa-refresh fa-spin"></i><div id="after-long"></div></div>

                        <div ng-hide="invite_loader[$index] == true" class="pull-right header-function dropdown team-members-card-function"
                             ng-if="(admin_user_cnt > 1 || login_user_id != item.User.id) && item.Invite.del_flg == '0'">
                            <button class="btn team_member_setting_btn dropdown-toggle dropdown-toggle-{{$index}}" type="button"
                                    id="dropdownMenu1"
                                    data-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-cog header-function-icon"
                                   style="color: rgb(80, 80, 80); opacity: 0.88;"></i>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-right frame-arrow-icon" role="menu"
                                aria-labelledby="dropdownMenu1">

                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1"
                                       ng-click="editInviteEmail('reinviteUser'+$index, $index)">{{ 'TEAM_MEMBER_LIST.INVITE_AGAIN' | translate}}</a>
                                </li>
                                <li role="presentation" ng-if="paymentTimingFlag">
                                    <a role="menuitem" tabindex="-1" class="js-modal-open"
                                    ng-click="modalShow($index, item.Invite.email )">{{ 'TEAM_MEMBER_LIST.INVITE_REVOKE' | translate}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="revoke-modal-wrapper" ng-show="revokeModalShowFlag">
    <div class="revoke-modal-area">
        <button type="button" class="close font_33px close-design revoke-modal-close" ng-click="modalHide()">
            <span class="close-icon">&times;</span></button>
        <h3 class="revoke-modal-title">{{ 'TEAM_MEMBER_LIST.INVITE_REVOKE_MODAL_TITLE' | translate }}</h3>
        <p class="revoke-modal-text">
            {{ 'TEAM_MEMBER_LIST.INVITE_REVOKE_MODAL_TEXT' | translate }}<br>
            {{ revokeTargetEmail }} {{ 'TEAM_MEMBER_LIST.INVITE_REVOKE_MODAL_TEXT_QUESTION' | translate }}
        </p>
        <hr>
        <div class="col-xs-12 revoke-modal-button">
            <button type="button" class="btn revoke-modal-button-cancel" ng-click="modalHide()">{{ 'TEAM_MEMBER_LIST.INVITE_REVOKE_CANCEL' | translate }}</button>
            <button type="button" class="btn revoke-modal-button-execute" ng-click="revokeInvitation(revokeTargetIndex, revokeTargetEmail);modalHide()">{{ 'TEAM_MEMBER_LIST.INVITE_REVOKE_MODAL_TITLE' | translate }}</button>
        </div>
    </div>
</div>

<!-- end app/webroot/template/team_member_list.html -->
