doctype html
html(lang="ja")
  head
    title= pageTitle
  body
    h1 Goalous Developers Documents.
    #container.col
      p.ja-text
        |ドキュメントのindexファイルは、このファイルはJadeを用いて作成しております。記法やJadeそのものについての詳しく知りたい方は
        a(href="http://jade-lang.com/" target="_blank") 公式サイト
        |をご覧ください。
        |コンパイルなどは、Gruntで自動化させておりますので、特に考えることなく使用できると思います。
      p.en-text
        |This index file are made by Jade. If you want to get know Jade, you can see 
        a(href="http://jade-lang.com/" target="_blank") Official Jade Page
        | :-)
      ul
        li: a(href="frontend/css.html") LESS
        li: a(href="frontend/js.html") CoffeeScript
        li: a(href="frontend/grunt.html") Gruntfile
        li: a(href="frontend/css.html") css
