/**
 *   Variables for COLORS
 */

@black: #000;
@darkBlack: #333;
@white: #fff;
@basicGray: #808080;
@modGray: #a8a8a8;
@smokyWhite: #f5f5f5;

@cGray: #ccc;
@trueGray: #888;
@midGray: #666;

@baseGray: #e5e5e5;
@baseLightGray: #f0f0f0;
@slightGray: #c6c6c6;

@lightGray: #d2d4d5;
@lighterGray: #dcddde;
@darkGray: #6d6e71;
@goalous: #ae2f2f;
@goalousHover: #e78e99;
@acidRed: #d9230f;
@select: #b36e6f;
@darkRed: #a96d73;
@strongRed: #c92434;
@softRed: #f16675;
@veryDark: #231814;
@hoverRed: #f0e2e3;
@unreadRed: #fff0f1;
@inactiveGray: #eaeaea;

@basicPink: #e83b59;
@cherryBlossomPink: #f597a7;
@crimsonPink: #fb3756;

@paleYellow: #f0d17f;
@skyBlue: #92bdf3;
@aquaBlue: #6d8fce;
@waterBlue: #74d5f1;

@veryLightYellow: #f6f5f1;

/*
以下、のぶさんのカラー準拠
 */

@serviceColor: #c20a19;
@keyColor: #e83b59;



@backgroundColor1: #fff;
@backgroundColor2: #f6f5f1;
@backgroundColor3: #f0f4f7;

//TODO: Organize colors
@subColor1: #302c2b;
@subColor2: #666;
@subColor3: #999;
@subColor4: #ccc;
@subColor5: #e3e3e3;
@subColor6: #099f3f;
@subColor7: #099f3f;
@subColor8: #ea6067;
@subColor9: #fce9ed;
@subColor10: #9197a3;
@subColor11: #e3f6fd;
@subColor12: #00afee;
@subColor13: #0094ed;
@subColor14: #3897f0;
@subColor15: #F3D647;
@subColor15: #6b7a82;


@iosStandardColor: #d41711;

/*
例外処置
+ 背景色でない白は@whiteColor
 */

@whiteColor: #fff;

@goalTitleContainerBgColor: #fff;

@progressBarStart: #00a8e6;
@progressBarEnd: #407fdf;

@suggestionFocusBg: #dddddd;

// https://www.figma.com/file/GTNHaWi5oz5F9h0tvNck5Ftu/video-streaming
// color defined in video stream succeed/fail
@colorSucceedBackground: #93fabf;
@colorSucceedLink: #099f3f;
@colorErrorBackground: #ffb5b5;
@colorMessageBackground: #e5e5e5;

@colorSortableDragged: #468847;
@colorSortableBackground: #dff0d8;
@colorSortableHandle: #d0e9c6;
@colorPinCircleBackground: #f1f1f1;

// For renewal
@box-shadow-color: rgba(32, 32, 38, 0.2);

/* Primary */
@color-primary-01: #d9230f;
@color-primary-02: #e83b59;
@color-primary-99-light-01: #f6d1cd;
@color-primary-99-light-02: #fbf3f5;
@color-primary-99-light-00: #ff8da1;

/* Secondary */
@color-secondary-01: #3897f0;
@color-secondary-02: #00a8e6;
@color-secondary-99-light-01: #cceefa;
@color-secondary-99-light-02: #f4fcff;

/* Background */
@color-background: #edf1f1;
@color-background-white: #ffffff;

/* Gray */
@color-00-black: #0f0f1a;
@color-99-modal-background: rgba(0, 0, 0, 0.4);
@color-01-gray: #2c2c35;
@color-07-gray: #f0f0f4;
@color-02-gray: #484857;
@color-03-gray: #6a6a78;
@color-06-gray: #e1e1e8;
@color-08-gray: #f7f7f7;
@color-04-gray: #9393a2;
@color-05-gray: #c6c6d1;
@color-99-highlight-gray: rgba(15, 15, 26, 0.06);
